<!-- BEGIN: infohelp -->
<link rel="stylesheet" href="assets/css/services.css">
<div class="infohelp">
    <div class="infohelp_container">
        <div class="infohelp_aside">
            <ul class="aside-menu">
                <li><a href="#">Расчет стоимости квартиры</a></li>
                <li><a href="#">Ипотечный калькулятор</a></li>
                <li><a href="#">Вопросы об ипотеке</a></li>
                <li><a href="#">Вопросы о недвижимости</a></li>
                <li><a href="#">Полезные ссылки</a></li>
                <li><a href="#">Памятки клиентам</a></li>
                <li><a href="#">Формы договоров</a></li>
                <li class="active"><a href="#">Необходимые документы</a></li>
            </ul>
        </div>
        <div class="infohelp_content">
            @@include('../_calc-credit.tpl.html')
            <h3>Необходимые документы<a href="#" class="toggle" data-target="tab1"></a></h3>
            
            <div class="infohelp_detail" data-attr="tab1">
                <p>Если Вы подошли к такому ответственному решению, как покупка или продажа квартиры, то важно знать, какой
                    собирать пакет документов. Кроме того, чтобы Вас не обманули, необходимо так же знать список документов,
                    которым должен располагать второй участник сделки.</p>
        
                <p>Стоит учитывать тот факт, что список документов необходимых для продажи квартиры или ее покупки, в каждом
                    индивидуальном случае может разниться. Не хотите оказаться в неприятной ситуации? Обратитесь к
                    профессионалам, которые ответят на все интересующие вопросы:</p>
    
                <ul>
                    <li>Проконсультируют в нюансах оформления договора;</li>
                    <li>
                        Проведут анализ объекта недвижимости и определят, какие необходимы документы
                        для купли продажи квартиры в том или ином случае;
                    </li>
                    <li>
                        Грамотно проведут переговоры и зафиксируют договоренность со второй стороной,
                        а также укажут на недостающие документы;
                    </li>
                    <li>
                        Кроме того, у специалистов агентства недвижимости «ФРИДОМ» можно получить
                        консультацию по вопросам списка документов необходимых для следующих
                        операций:
                    </li>
                </ul>
        
                <p>
                    <a href="#">Документы для приватизации</a>
                    <a href="#">Документы для оформления наследства</a>
                    <a href="#">Документы для продажи недвижимости</a>
                    <a href="#">Документы для оформления ипотеки</a>
                </p>
        
                <p>Заключая договор купли-продажи квартиры, не рискуйте деньгами и своим имуществом, а доверьте документы
                    профессионалам и Вы никогда не окажитесь в неприятной ситуации. Команда опытных специалистов компании
                    «ФРИДОМ» ответит на любые Ваши вопросы, и защитит интересы, будь Вы продавцом или покупателем недвижимости.</p>
        
        
                <h4>Документы, необходимые для приватизации:</h4>
        
                <p><a href="#">Список документов для оформления и регистрации договора передачи</a></p>
        
                <h4>Документы, необходимые для оформления наследства:</h4>
        
                <p>
                    <a href="#">Список документов для оформления наследства и регистрации прав собственности</a>
                    <a href="#">Документы необходимые для продажи объектов недвижимости </a>
                    <a href="#">Список документов, необходимых для продажи квартиры</a>
                    <a href="#">Список документов, необходимых для продажи комнаты/доли</a>
                </p>
        
                <h4>Документы, необходимые для одобрения заемщика:</h4>
        
                <p>
                    <a href="#">Список документов для получения ипотечного кредита для лиц, работающих по найму</a>
                    <a href="#">Список документов для получения ипотечного кредита для владельцев бизнеса</a>
                </p>
        
                <h4>Документы, необходимые для рефинансирования ранее выданного ипотечного кредита</h4>
        
                <p><a href="#">Список документов, необходимых для рефинансирования ипотечного кредита</a></p>
            </div>
        </div>
    </div>
</div>
<!-- END: infohelp -->