<!-- BEGIN: object-main -->
<div class="object-wrapper">
    <section id="object" class="obj-section">
        <div class="obj-section_heading">
            <div class="container">
                <div class="obj-section_title">2-комнатная квартира, 98м2, 5/11эт.</div>
                <div class="obj-section_adress">
                    <span class="text">Клубный дом на Котельнической набережной, г. Москва, ул.Котельническая наб. .31</span>
                </div>
                <div class="obj-section_metro">Таганская, 1.2 км</div>
            </div>
        </div>
        <div class="obj-section_body">
            <div class="container">
                <div class="obj-section_body-wrap">
                    <div class="obj-section_block obj-section_block--card">
                        @@include('object-card.html')
                    </div>
                    <div id="requestForm" class="obj-section_advert">
                        <form action="" method="" class="advert">
                            <div class="advert_person">
                                <div class="advert_person-img"><img src="assets/img/Volynskiy.png" alt="img"></div>
                                <div class="advert_person-info">
                                    <div class="advert_person-name">Виктор Волынский</div>
                                    <div class="advert_person-tel"><a href="tel:+7(962)962-07-06 ">+7 (962) 962-07-06</a></div>
                                </div>
                            </div>
                            <div class="advert_info">
                                <div class="advert_title">Подберем лучшее предложение для вас!</div>
                            </div>
                            <div class="advert_input">
                                <div class="input-wrap">
                                    <input type="text" class="input-box" name="name" id="name" placeholder="Имя*">
                                    <label for="name">Имя</label>
                                </div>
                                <div class="input-wrap">
                                    <input type="text" class="input-box" name="phoneAdvert" id="phoneAdvert" placeholder="Телефон*">
                                    <label for="phoneAdvert">Телефон</label>
                                </div>
                            </div>
                            <div class="advert_footer">
                                <input type="submit" class="btn-send active" value="Отправить" disabled>
                                <div class="footer_dispatch-checkbox">
                                    <input type="checkbox" name="checkbox" id="dispatch-checkbox">
                                    <label for="dispatch-checkbox">Нажимая на кнопку «Отправить», я даю
                                        <a href="#">согласие на обработку персональных данных</a>
                                    </label>
                                </div>
                            </div>
                            <!-- <div class="advert_footer">
                                <a href="#" class="btn-action btn-action--default">Написать агенту</a>
                                <a href="#" class="btn-action btn-action--view">Запросить презентацию</a>
                            </div> -->
                        </form>
                        <script type="text/javascript">
                            // fixed block
                                $(document).ready(function () {
                                    $(function () {
                                        var topPos = $('.obj-section_advert').offset().top;
                                        var offset = $('.obj-section_advert').offset();
                                        var topPadding = 20;
                                        
                                        $(window).scroll(function () {
                                            if(window.innerWidth > 991) {
                                                var top = $(document).scrollTop(),
                                                    pip = $('#related').offset().top,
                                                    height = $('.obj-section_advert').outerHeight();
                                                if (top > topPos && top < pip - height) { 
                                                    $('.obj-section_advert').stop().animate({ marginTop: $(window).scrollTop() - offset.top + topPadding }).css("bottom", "auto");
                                                }
                                                else if (top > pip - height) { 
                                                    $('.obj-section_advert').css({ 'position': 'absolute', 'bottom': '0' }); 
                                                
                                                }
                                                else {
                                                    $('.obj-section_advert').removeAttr("style");
                                                }
                                            }
                                        });
    
                                        $(window).resize(function () {
                                            var top = $(document).scrollTop(),
                                                pip = $('#related').offset().top,
                                                height = $('.obj-section_advert').outerHeight();
                                            if (window.innerWidth > 991 && top > topPos && top < pip - height) {
                                               $('.obj-section_advert').stop().animate({ marginTop: $(window).scrollTop() - offset.top + topPadding }).css("bottom", "auto");
                                            }
                                        });
                                    });
                                    $(window).resize(function () {
                                        if (window.innerWidth <= 991) {
                                            $('.obj-section_advert').removeAttr("style");
                                        }
                                    });
                                });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="related" class="obj-section">
        <div class="obj-section_heading">
            <div class="container">
                <div class="obj-section_title">Похожие результаты</div>
            </div>
        </div>
        <div class="obj-section_body">
            <div class="container">
                <div class="obj-section_block">
                    <div class="offers__list">
                        <div class="container">
                            <div class="offers__slider">
                                <div class="offer">
                                    <div class="offer__stock">
                                        <div class="stock-1 stock">
                                            <div class="stock__tooltip">
                                                <span>Скидка до 15%</span>
                                            </div>
                                            <img src="assets/img/stock-1.png" alt="">
                                        </div>
                                        <div class="stock-2 stock">
                                            <img src="assets/img/stock-2.png" alt="">
                                        </div>
                                        <div class="stock-3 stock">
                                            <img src="assets/img/stock-3.png" alt="">
                                        </div>
                                    </div>
                                    <div class="offer__image">
                                        <img src="assets/img/offer-1.png" alt="offer-1.png">
                                        <img src="assets/img/offer-2.png" alt="offer-1.png">
                                        <img src="assets/img/offer-3.png" alt="offer-1.png">
                                    </div>
                                    <a href="#" class="offer__info">
                                        <div class="offer__social">
                                            <span class="like">
                                            </span>
                                            <span class="compare">
                                            </span>
                                        </div>
                                        <div class="offer__desc">
                                            <span>Дом (Коттедж), 577кв.м на участке 16 сот.</span>
                                        </div>
                                        <div class="offer__adress">
                                            <span>Московская обл, Одинцовский р-н, д. Семенково, КП "Азарово"</span>
                                        </div>
                                        <div class="offer__metro">
                                            <span class="line-1">Кропоткинская</span>
                                        </div>
                                        <div class="offer__price">
                                            <span class="rub">145 351 250 ₽</span>
                                            <span class="us">2 595 559 $</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="offer">
                                    <div class="offer__stock">
                                        <div class="stock-1 stock">
                                            <div class="stock__tooltip">
                                                <span>Скидка до 15%</span>
                                            </div>
                                            <img src="assets/img/stock-1.png" alt="">
                                        </div>
                                        <div class="stock-2 stock">
                                            <img src="assets/img/stock-2.png" alt="">
                                        </div>
                                        <div class="stock-3 stock">
                                            <img src="assets/img/stock-3.png" alt="">
                                        </div>
                                    </div>
                                    <div class="offer__image">
                                        <img src="assets/img/offer-2.png" alt="offer-1.png">
                                        <img src="assets/img/offer-1.png" alt="offer-1.png">
                                        <img src="assets/img/offer-3.png" alt="offer-1.png">
                                    </div>
                                    <a href="#" class="offer__info">
                                        <div class="offer__social">
                                            <span class="like">
                                            </span>
                                            <span class="compare">
                                            </span>
                                        </div>
                                        <div class="offer__desc">
                                            <span>Дом (Коттедж), 577кв.м на участке 16 сот.</span>
                                        </div>
                                        <div class="offer__adress">
                                            <span>Московская обл, Одинцовский р-н, д. Семенково, КП "Азарово"</span>
                                        </div>
                                        <div class="offer__metro">
                                            <span class="line-2">Кропоткинская</span>
                                        </div>
                                        <div class="offer__price">
                                            <span class="rub">145 351 250 ₽</span>
                                            <span class="us">2 595 559 $</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="offer">
                                    <div class="offer__stock">
                                        <div class="stock-1 stock">
                                            <div class="stock__tooltip">
                                                <span>Скидка до 15%</span>
                                            </div>
                                            <img src="assets/img/stock-1.png" alt="">
                                        </div>
                                        <div class="stock-2 stock">
                                            <img src="assets/img/stock-2.png" alt="">
                                        </div>
                                        <div class="stock-3 stock">
                                            <img src="assets/img/stock-3.png" alt="">
                                        </div>
                                    </div>
                                    <div class="offer__image">
                                        <img src="assets/img/offer-3.png" alt="offer-1.png">
                                        <img src="assets/img/offer-1.png" alt="offer-1.png">
                                        <img src="assets/img/offer-2.png" alt="offer-1.png">
                                    </div>
                                    <a href="#" class="offer__info">
                                        <div class="offer__social">
                                            <span class="like">
                                            </span>
                                            <span class="compare">
                                            </span>
                                        </div>
                                        <div class="offer__desc">
                                            <span>Дом (Коттедж), 577кв.м на участке 16 сот.</span>
                                        </div>
                                        <div class="offer__adress">
                                            <span>Московская обл, Одинцовский р-н, д. Семенково, КП "Азарово"</span>
                                        </div>
                                        <div class="offer__metro">
                                            <span class="line-3">Кропоткинская</span>
                                        </div>
                                        <div class="offer__price">
                                            <span class="rub">145 351 250 ₽</span>
                                            <span class="us">2 595 559 $</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="offer">
                                    <div class="offer__stock">
                                        <div class="stock-1 stock">
                                            <img src="assets/img/stock-1.png" alt="">
                                        </div>
                                        <div class="stock-2 stock">
                                            <img src="assets/img/stock-2.png" alt="">
                                        </div>
                                        <div class="stock-3 stock">
                                            <img src="assets/img/stock-3.png" alt="">
                                        </div>
                                    </div>
                                    <div class="offer__image"><img src="assets/img/offer-1.png" alt="offer-1.png"></div>
                                    <a href="#" class="offer__info">
                                        <div class="offer__social">
                                            <span class="like">
                                            </span>
                                            <span class="compare">
                                            </span>
                                        </div>
                                        <div class="offer__desc">
                                            <span>Дом (Коттедж), 577кв.м на участке 16 сот.</span>
                                        </div>
                                        <div class="offer__adress">
                                            <span>Московская обл, Одинцовский р-н, д. Семенково, КП "Азарово"</span>
                                        </div>
                                        <div class="offer__metro">
                                            <span class="line-1">Кропоткинская</span>
                                        </div>
                                        <div class="offer__price">
                                            <span class="rub">145 351 250 ₽</span>
                                            <span class="us">2 595 559 $</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="offer">
                                    <div class="offer__stock">
                                        <div class="stock-1 stock">
                                            <img src="assets/img/stock-1.png" alt="">
                                        </div>
                                        <div class="stock-2 stock">
                                            <img src="assets/img/stock-2.png" alt="">
                                        </div>
                                        <div class="stock-3 stock">
                                            <img src="assets/img/stock-3.png" alt="">
                                        </div>
                                    </div>
                                    <div class="offer__image"><img src="assets/img/offer-2.png" alt="offer-1.png"></div>
                                    <a href="#" class="offer__info">
                                        <div class="offer__social">
                                            <span class="like">
                                            </span>
                                            <span class="compare">
                                            </span>
                                        </div>
                                        <div class="offer__desc">
                                            <span>Дом (Коттедж), 577кв.м на участке 16 сот.</span>
                                        </div>
                                        <div class="offer__adress">
                                            <span>Московская обл, Одинцовский р-н, д. Семенково, КП "Азарово"</span>
                                        </div>
                                        <div class="offer__metro">
                                            <span class="line-2">Кропоткинская</span>
                                        </div>
                                        <div class="offer__price">
                                            <span class="rub">145 351 250 ₽</span>
                                            <span class="us">2 595 559 $</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="offer">
                                    <div class="offer__stock">
                                        <div class="stock-1 stock">
                                            <img src="assets/img/stock-1.png" alt="">
                                        </div>
                                        <div class="stock-2 stock">
                                            <img src="assets/img/stock-2.png" alt="">
                                        </div>
                                        <div class="stock-3 stock">
                                            <img src="assets/img/stock-3.png" alt="">
                                        </div>
                                    </div>
                                    <div class="offer__image"><img src="assets/img/offer-3.png" alt="offer-1.png"></div>
                                    <a href="#" class="offer__info">
                                        <div class="offer__social">
                                            <span class="like">
                                            </span>
                                            <span class="compare">
                                            </span>
                                        </div>
                                        <div class="offer__desc">
                                            <span>Дом (Коттедж), 577кв.м на участке 16 сот.</span>
                                        </div>
                                        <div class="offer__adress">
                                            <span>Московская обл, Одинцовский р-н, д. Семенково, КП "Азарово"</span>
                                        </div>
                                        <div class="offer__metro">
                                            <span class="line-3">Кропоткинская</span>
                                        </div>
                                        <div class="offer__price">
                                            <span class="rub">145 351 250 ₽</span>
                                            <span class="us">2 595 559 $</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- END: object-main -->