<!-- BEGIN: object-card -->
<div class="obj-card container">
    <div class="obj-card_heading">
        <div class="obj-card_id">ID 11-01952</div>
        <div class="obj-card_actions">
            <a href="#" class="like"></a>
            <a href="#" class="compare"></a>
            <a href="#" class="print"></a>
            <!-- BEGIN:  якорем на форму заявки -->
            <a href="#requestForm" class="email"></a>
            <script>
                $(function () {
                    $('body').on('click', '.obj-card_actions > a.email', function () {
                        var elem = $(this);
                        scrollTo(elem, event);
                    });
                });
                // BEGIN: scrollTo
                function scrollTo(elem, event) {
                    console.log('click');
            
                    event.preventDefault();
                    var $anchor = elem;
                    $('html, body').stop().animate({
                        scrollTop: $($anchor.attr('href')).offset().top + 1
                    }, 1000);
                }
                // END: scrollTo
            </script>
            <!-- END:  якорем на форму заявки -->
        </div>
    </div>
    <div class="obj-card_img">
        <div class="obj-card_img-counter">
            <span class="count"></span>/<span class="amount"></span>
        </div>
        <div class="obj-card_slider">
            <div class="obj-card_slider-item">
                <img src="assets/img/obj-img.png" alt="object">
            </div>
            <div class="obj-card_slider-item">
                <img src="assets/img/realty-1.png" alt="object">
            </div>
            <div class="obj-card_slider-item">
                <img src="assets/img/realty-2.png" alt="object">
            </div>
            <div class="obj-card_slider-item">
                <img src="assets/img/realty-3.png" alt="object">
            </div>
            <div class="obj-card_slider-item">
                <img src="assets/img/realty-4.png" alt="object">
            </div>
        </div>
    </div>
    <div class="obj-card_info">
        <div class="obj-card_info-block">
            <div class="obj-card_terms">
                <div class="obj-card_value"><span class="val">145 351 250</span>
                    <div class="dropdown">
                        <span class="name">₽</span>
                        <a href="#" class="dropdown__toggle toggle">
                        </a>
                        <div class="dropdown__menu hidden">
                            <div class="dropdown__item">
                                <input type="radio" name="objCurrancy" id="objCurrancy1" value="₽" checked>
                                <label for="objCurrancy1">₽</label>
                            </div>
                            <div class="dropdown__item">
                                <input type="radio" name="objCurrancy" id="objCurrancy2" value="$">
                                <label for="objCurrancy2">$</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="obj-card_footage-price">1 486 176 за м² </div>
            </div>
            <div class="obj-card_terms">
                <div class="obj-card_credit obj-card_credit--mortgage">Ипотека от 5.2%</div>
                <div class="obj-card_credit obj-card_credit--installment">Рассрочка</div>
                <div class="obj-card_credit obj-card_credit--discount">Скидка до 1,2 млн/р.</div>
            </div>
        </div>
        <div class="obj-card_info-block">
            <div class="obj-card_props">
                <div class="obj-card_prop">
                    <div class="key">Комнат</div>
                    <div class="val"><span>2</span></div>
                </div>
                <div class="obj-card_prop">
                    <div class="key">Общая площадь</div>
                    <div class="val"><span>98 м2</span></div>
                </div>
                <div class="obj-card_prop">
                    <div class="key">Жилая площадь</div>
                    <div class="val"><span>65 м2</span></div>
                </div>
                <div class="obj-card_prop">
                    <div class="key">Этаж</div>
                    <div class="val"><span>5</span> из 11</div>
                </div>
            </div>
        </div>
        <div class="obj-card_info-block">
            <div class="obj-card_features">
                <div class="obj-card_feature">
                    <div class="key">Квартира</div>
                    <ul class="val">
                        <li>2 комнатная</li>
                        <li>98 м2 общая</li>
                        <li>65 м2 жилая</li>
                        <li>13 м2 кухня</li>
                        <li>5 этаж из 11</li>
                        <li>Евроремонт</li>
                        <li>Балкон и лоджия</li>
                        <li>Раздельный узел</li>
                    </ul>
                </div>
                <div class="obj-card_feature">
                    <div class="key">Дом и двор</div>
                    <ul class="val">
                        <li>Пассажирский лифт</li>
                        <li>Грузовой лифт</li>
                        <li>Мусоропровод</li>
                        <li>Домофон</li>
                        <li>Монолитно-кирпичный дом</li>
                        <li>Территория огорожена</li>
                        <li>КПП</li>
                        <li>Парковка</li>
                    </ul>
                </div>
                <div class="obj-card_feature">
                    <div class="key">Сделка</div>
                    <ul class="val">
                        <li>Свободная продажа</li>
                        <li>Можно купить в ипотеку</li>
                        <li>Возможен торг</li>
                        <li>Посредникам не обращаться</li>
                        <li>Договор купли-продажи</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="obj-card_info-block">
            <div class="obj-card_desc">
                <span class="text"> Пентхаус с дизайнерским ремонтом, террасой, бассейном и машиноместом в
                    элитном
                    Жилом комплексе «Панорама
                    Парк» на первой линии (буквально 50 метров) от моря в золотом треугольнике города Сочи, мкр.
                    Центральный, улица Черноморская 10. Расположен на комфортном удалении от крупных
                    автомагистралей,
                    окружен полным комплексом инфраструктуры для комфортного отдыха и проживания. До аэропорта
                    Адлер
                    буквально 30-40 минут на автомобиле, до Морского Вокзала - 10 минут пешком, Дендрария - 5
                    минут. Жилой
                    комплекс построен по эксклюзивному проекту.
                    Пентхаус с дизайнерским ремонтом, террасой, бассейном и машиноместом в элитном
                    Жилом комплексе «Панорама
                    Парк» на первой линии (буквально 50 метров) от моря в золотом треугольнике города Сочи, мкр.
                    Центральный, улица Черноморская 10. Расположен на комфортном удалении от крупных
                    автомагистралей,
                    окружен полным комплексом инфраструктуры для комфортного отдыха и проживания. До аэропорта
                    Адлер
                    буквально 30-40 минут на автомобиле, до Морского Вокзала - 10 минут пешком, Дендрария - 5
                    минут.
                    Жилой
                    комплекс построен по эксклюзивному проекту.
                </span>
            </div>
            <a href="javascript:;" onclick="toggleHeight($(this).siblings('.obj-card_desc'), $(this))"><span>Читать
                    дальше</span><span class="hide">Скрыть</span></a>
        </div>
    </div>
    <div class="obj-card_map">
        <div id="map"></div>
    </div>
    <div class="obj-card_calc">
        @@include('../_calc-credit.tpl.html')
    </div>
</div>
<!-- END: object-card -->