/* BEGIN: calc */
.calc {
    &_heading {
        margin-bottom: 55px;
    }

    &_title {
        h3 {
            line-height: normal;
            margin-bottom: 15px;
        }

        .dropdown {
            display: inline-block;
            vertical-align: top;
            border: none;
            max-width: 100%;

            &__toggle {
                font-size: inherit;
                font-weight: inherit;
                line-height: normal;
                color: #3da1c5;
                padding: 0;

                .name {
                    border-bottom: 1px dashed #3da1c5;
                    max-width: 100%;
                }
            }

            &__menu {
                top: 65px;
                width: 260px;
            }
        }
    }

    &_subtitle {
        color: #1e3946;
        font-size: 21px;
        font-weight: 400;
        line-height: 18px;
    }

    &_body {
        background-color: white;
        border-radius: 2px;
        padding: 65px 55px;

        form {
            display: flex;
            flex-wrap: wrap;
        }
    }

    &_data {
        &:not(:last-child) {
            margin-bottom: 20px;
        }

        &-block {
            flex: 1 1 auto;
            width: 100%;
            max-width: 53%;
            padding-right: 11%;
        }

        .key {
            color: #747474;
            font-size: 16px;
            font-weight: 400;
            line-height: 18px;
            margin-bottom: 10px;
        }

        .val {
            position: relative;
            color: #484848;
            font-size: 21px;
            font-weight: 400;
            line-height: 18px;

            input[type=text] {
                width: 100%;
                border: 1px solid #b5b5b5;
                border-radius: 5px 5px 0px 0px;
                padding: 20px 20px 10px;
            }

            input[type=range] {
                position: absolute;
                left: 0;
                bottom: 0;
                transform: translateY(50%);
            }
        }

        .cur {
            display: flex;
            align-items: center;

            &_item {
                position: relative;

                &:not(:last-child) {
                    margin-right: 25px;
                }

                label {
                    vertical-align: top;
                    cursor: pointer;
                    margin-right: 15px;
                }

                .radio-btn {
                    position: relative;
                    display: inline-block;
                    width: 21px;
                    height: 21px;
                    border: 1px solid #898989;
                    border-radius: 50%;
                }

                input[type=radio] {
                    display: none;

                    &:checked+.radio-btn {
                        &::after {
                            position: absolute;
                            top: 4px;
                            left: 4px;
                            content: '';
                            display: block;
                            width: 11px;
                            height: 11px;
                            background-color: #474747;
                            border-radius: 50%;
                        }
                    }
                }
            }
        }
    }

    &_result {
        margin-bottom: 50px;
        &:last-child {
            margin-bottom: 60px;
        }

        &-block {
            flex: 1 1 auto;
            width: 100%;
            max-width: 47%;
            background-color: #ffffff;
            border-radius: 2px;
            box-shadow: 0 0 20.2px 0.8px rgba(196, 196, 196, 0.47);
            padding: 55px;

            .btn-action {
                max-width: none;
                font-family: 'Roboto Medium';
                font-size: 18px;
                font-weight: 500;
                line-height: 18px;
                .text {
                    &-2 {
                        display: none;
                    }
                }
            }
        }

        .key {
            color: #747474;
            font-family: 'Roboto Medium';
            font-size: 16px;
            font-weight: 500;
            line-height: 18px;

            &--permonth {
                font-size: 21px;
            }
        }

        .val {
            color: #1e3946;
            font-size: 26px;
            font-weight: 400;

            &--permonth {
                font-family: 'Roboto Medium';
                font-size: 36px;
                font-weight: 500;
            }
            span + span {
                margin-left: 5px;
            }
        }
        input {
            display: none;
        }
    }

    &_range {
        &.ui-slider {
            height: 2px;
            background: transparent;

            .ui-slider-handle {
                top: -11px;
                width: 21px;
                height: 21px;
                background-color: #76bbd3;
                border: 3px solid white;
                border-radius: 50%;
                box-shadow: 0 2px 6.5px 1.5px rgba(27, 118, 149, 0.45);
                margin-left: -11px;
                cursor: pointer;
            }

            .ui-slider-range {
                background-color: #76bbd3;
            }
        }
    }
    .dropdown__item {
        input {
            display: none;
        }
    }
}


/* END: calc */