/* BEGIN: catalog-start */

.catalog-wrapper_start {
    .page__title {
        border: none;
    }
    section {
        border: none;
    }
}

.s-banner {
    position: relative;
    height: 490px;
    padding: 0px;
    &__filter {
        position: relative;
        top: 190px;
        .header_filter-title {
            margin-bottom: 30px;
        }
    }
}

.s-categories {
    background-color: #f6f6f6;
    padding: 40px 0px 20px;
    .content {
        &__tags {
            font-size: 0px;
            margin-left: -30px;
            margin-right: -30px;
        }
        &__tag {
            display: inline-block;
            max-width: 300px;
            color: #959595;
            font-family: $sm;
            font-size: 16px;
            line-height: 18px;
            margin: 0px 30px 30px;
            white-space: nowrap;
            @extend %text-overflow;
        }
        &__item {
            margin-bottom: 40px;
        }
    }
    .card {
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        background-color: #fff;
        padding: 50px 25px 30px 50px;
        &__image {
            display: block;
            width: 455px;
            height: 395px;
            margin-right: 70px;
        }
        &__title {
            color: #1e3946;
            font-size: 24px;
            line-height: 1;
            margin-bottom: 30px;
            &_sub {
                font-family: $md;
                font-size: 21px;
                padding-bottom: 30px;
                border-bottom: 1px solid #f1f1f1;
            }
            &_sm {
                font-size: 21px;
            }
            &_2 {
                display: none;
                color: #1e3946;
                font-size: 21px;
            }
            &_add {
                font-size: 21px;
            }
        }
        &__list {
            display: flex;
            flex-flow: column wrap;
            flex: 1 1 auto;
            height: 100%;
            max-height: 195px;
            overflow: hidden;
        }
        &__item {
            display: inline-block;
            width: 50%;
            vertical-align: top;
            margin-bottom: 20px;
            padding-right: 15px;
        }
        &__link {
            display: inline-block;
            font-size: 15px;
            line-height: 18px;
            color: #40a1c5;
            &:hover {
                color: #e3315d;
            }
            .text {
                vertical-align: middle;
                line-height: 18px;
            }
            .count {
                @extend %text-overflow;
                display: inline-block;
                vertical-align: middle;
                line-height: 18px;
                max-width: 30px;
                white-space: nowrap;
                color: #adadad;
            }
            &_full {
                .text {
                    color: #e43964;
                }
            }
        }
        &__body {
            width: 100%;
            flex: 1 1 auto;
        }
        &__content {
            &_underline {
                border-bottom: 1px solid #f1f1f1;
                padding-bottom: 15px;
                margin-bottom: 30px;
            }
            &_lease {
                display: none;
            }
        }
        &__menu {
            display: none;
            position: absolute;
            top: -58px;
            left: -35px;
            right: -35px;
            padding-bottom: 0px;
        }
        .ui-tabs {
            padding: 0;
        }
        .ui-tabs .ui-tabs-nav {
            background-color: transparent;
        }
    }
    .card__content_m {
        margin-bottom: 30px;
    }
}
.flex-fix {
    display: flex;

}
/* BEGIN: edit 17-07-2018 */
.s-filter__opt .offer__social a:last-child {
    margin-right: 0px;
}
/* END: edit 17-07-2018 */
/* END: catalog-start */