/* BEGIN: catalog */

.catalog-wrapper {
    padding: 30px 0 0;
    .breadcrumb {
        background-color: transparent;
        padding: 0;
    }
    .breadcrumb-link {
        color: #959595;
        font-family: $sm;
        font-size: 14px;
        line-height: 18px;
        &:hover {
            color: #e43964;
        }
    }
    .breadcrumb>.active {
        @extend .breadcrumb-link;
    }
    .breadcrumb>li+li:before {
        content: "";
        background: url('../img/breadcrumb.png') center center no-repeat;
        margin-right: 5px;
    }
    section {
        border-bottom: 1px solid #ccc;
    }
}

.s-filter {
    padding: 0;
    .filter__tabs {
        display: none;
    }
    &__block {
        display: none;
        position: fixed;
        left: 0px;
        bottom: 0px;
        width: 100%;
        text-align: center;
        z-index: 50;
    }
    &__btn {
        display: block;
        width: 160px;
        font-size: 16px;
        line-height: 18px;
        background: url(../img/filter-all-white.png) left 20px center no-repeat;
        background-color: #3ea2c5;
        border-radius: 20px;
        padding: 11px 11px 11px 50px;
        margin: 0 auto 20px;
        span {
            color: #ffffff;
        }
        .text {
            margin-right: 5px;
        }
    }
    &__opt {
        background-color: #ffffff;
        box-shadow: 0 0 5.3px 0.7px #cecece;
        padding: 15px;
        .offer__social {
            display: block;
            margin-bottom: 0px;
            a {
                display: inline-block;
            }
            span {
                margin: 0px;
                vertical-align: middle;
            }
            .like {
                margin-right: 45px;
            }
        }
    }
    .ui-tabs .ui-tabs-panel {
        padding: 0px;
    }
    .ui-tabs .ui-tabs-nav {
        background-color: #ffffff;
        padding: 0px;
        padding-bottom: 20px;
    }
    .ui-tabs .ui-tabs-nav li {
        display: inline-block;
        width: 50%;
        margin: 0px;
    }
    .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
        display: block;
        float: none;
        color: #484848;
        font-size: 15px;
        text-align: center;
        background-color: #e9e9e9;
        padding: 10px;
        &:focus {
            outline: none;
        }
    }
    .ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
        background-color: #ffffff;
    }
}

#getFilterItemAdd {
    position: fixed;
    top: 170px;
    left: 0px;
    width: 100%;
    height: auto;
    background-color: white;
    padding: 50px;
    margin: 0 auto;
    z-index: 1000;
    .popup__close {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 16px;
        height: 16px;
        background: url('../img/CLOSE-black.png') center center no-repeat;
        cursor: pointer;
    }
}

.overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.5;
    z-index: 100;
}

.filter {
    padding: 35px 0 15px;
    border-bottom: 1px solid #ccc;
    .form__control {
        &::-webkit-input-placeholder {
            color: #aaa;
        }
        &::-moz-placeholder {
            color: #aaa;
        }
        &:-moz-placeholder {
            color: #aaa;
        }
        &:-ms-input-placeholder {
            color: #aaa;
        }
    }
    &__head {
        position: absolute;
        top: 0px;
        left: 0px;
        display: none;
        align-items: baseline;
        justify-content: space-between;
        width: 100%;
        text-align: center;
        background-color: white;
        box-shadow: 0 0 5.3px 0.7px #cecece;
        padding: 20px 25px;
        z-index: 100
    }
    &__title {
        color: #484848;
        font-size: 18px;
    }
    .form__reset {
        color: #959595;
        font-size: 14px;
        line-height: 18px;
        border: none;
        outline: none;
        background: transparent;
        appearance: none;
        padding: 0px;
    }
    &__block {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        background-color: #ffffff;
    }
    &__buttons {
        padding-top: 30px;
        border-top: 1px solid #ccc;
        .filter__item_submit {
            width: 221px;
            .btn-search {
                font-size: 14px;
            }
        }
        >div {
            display: inline-block;
            margin-right: 20px;
        }
    }
    &__reset {
        width: 221px;
        color: #484848;
        font-size: 14px;
        text-align: center;
        border: 1px solid #40a2c5;
        border-radius: 2px;
        padding: 10px;
        cursor: pointer;
        transition: $transition;
        &:hover {
            color: #ffffff;
            background-color: #76bbd3;
            border: 1px solid #76bbd3;
        }
    }
    &__item {
        position: relative;
        margin-bottom: 20px;
        &_deal {
            width: 10.2%;
        }
        &_adress {
            width: 52%;
            .form__control {
                width: 100%;
                height: 100%;
                color: #717171;
                font-size: 14px;
                background-color: #f5f8f9;
                border: 1px solid #ccc;
                border-radius: 2px;
                padding: 10px;
            }
            .dropdown__item {
                label {
                    padding: 0 10px;
                    &::before {
                        display: none;
                    }
                }
            }
        }
        &_submit {
            width: 19.4%;
            .btn-search {
                @include btnSearch;
                width: 100%;
                line-height: 38px;
                outline: none;
                border: none;
                transition: $transition;
            }
        }
        .go-to {
            color: #484848;
            font-size: 15px;
            width: 100%;
            line-height: 38px;
            text-align: right;
            background: url(../img/filter-all.png) left 10px center no-repeat;
            padding: 0 10px;
            &:hover {
                background-image: url(../img/filter-all-white.png);
            }
        }
        &_city {
            width: 13.8%;
        }
        &_realty {
            width: 19.39%;
        }
        &_house {
            width: 13.79%;
        }
        &_price {
            display: flex;
            font-size: 0px;
            label {
                color: #484848;
                font-size: 15px;
                font-weight: normal;
                margin-right: 5px;
            }
            .form__control {
                width: 116px;
                height: 40px;
                font-size: 15px;
                border: 1px solid #ccc;
                border-radius: 2px 0px 0px 2px;
                padding: 0 10px;
                @media screen and (max-width: 1200px) {
                    width: 82px;
                }
            }
            .form__group {
                &:not(:first-child) {
                    .form__control {
                        border-left: none;
                        border-radius: 0;
                    }
                }
            }
            .dropdown_currency {
                width: 54px;
                border-left: none;
                border-radius: 0;
            }
            .dropdown_part {
                width: 83px;
                border-left: none;
                border-radius: 0px 2px 2px 0px;
            }
        }
        &_room {
            width: 9.83%;
        }
        &_add {
            width: 12.82%;
            margin-bottom: 0px;
            label {
                color: #484848;
                font-size: 15px;
                font-weight: normal;
                line-height: 18px;
                margin-right: 10px;
            }
            .form__control {
                display: inline-block;
                width: 68px;
                height: 40px;
                font-size: 15px;
                border: 1px solid #ccc;
                padding: 0 10px;
                &:nth-of-type(1) {
                    border-radius: 2px 0px 0px 2px;
                }
                &:nth-of-type(2) {
                    border-radius: 0px 2px 2px 0px;
                    border-left: none;
                }
            }
            .form__group {
                display: inline-block;
                font-size: 0px;
                margin-bottom: 30px;
                margin-right: 30px;
                &:last-child {
                    margin-bottom: 0px;
                }
            }
        }
        &_tags {
            display: none;
            .tags__item {
                &:last-child {
                    margin-right: 0px;
                    margin-bottom: 15px;
                }
            }
        }
        &.filter__item_tags {
            margin-bottom: 0px;
        }
    }
}

.dropdown {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 2px;
    a {
        display: block;
        color: #484848;
        padding: 0 10px;
    }
    &__toggle {
        font-size: 15px;
        line-height: 38px;
        height: 38px;
        .name {
            @extend %text-overflow;
            display: inline-block;
            max-width: 90%;
            white-space: nowrap;
            .value {
                display: inline;
            }
        }
        img {
            position: absolute;
            top: 15px;
            right: 10px;
            transition: $transition;
        }
        &_open {
            img {
                transform: rotate(180deg);
            }
        }
    }
    &__menu {
        position: absolute;
        width: 100%;
        left: 0;
        top: 45px;
        background-color: #ffffff;
        box-shadow: 0 2px 8px #cecedf;
        padding: 10px 0;
        z-index: 100;
    }
    &__item {
        @extend %text-overflow;
        display: block;
        max-width: 100%;
        color: #484848;
        font-size: 14px;
        line-height: 37px;
        &:hover {
            background-color: #e9f1f3;
        }
        label {
            position: relative;
            display: block;
            font-weight: normal;
            margin: 0px;
            padding: 0px 10px 0px 25px;
            &::before {
                content: "";
                display: inline-block;
                width: 12px;
                height: 12px;
                position: absolute;
                left: 10px;
                top: 12px;
                background-color: #FFF;
                border: 1px solid #8b8b8b;
            }
        }
        input[type=checkbox] {
            display: none;
            position: relative;
            top: 12px;
            vertical-align: top;
            margin: 0px 5px 0px 0px;
            &:checked+label:before {
                background: url(../img/check.jpg) center no-repeat;
                background-color: #FFF;
                background-size: 80%;
            }
        }
    }
}

.tags {
    font-size: 0;
    padding: 20px 0 10px;
    &__item {
        @extend %text-overflow;
        position: relative;
        display: inline-block;
        max-width: 270px;
        color: #484848;
        font-size: 14px;
        white-space: nowrap;
        vertical-align: top;
        background: url(../img/CLOSE-black.png) center right 10px no-repeat;
        background-color: #f4f4f4;
        border-radius: 2px;
        line-height: 31px;
        padding: 0 40px 0 20px;
        margin-right: 10px;
        margin-bottom: 10px;
        cursor: pointer;
    }
    &__reset {
        display: inline-block;
        color: #484848;
        font-size: 14px;
        line-height: 29px;
        vertical-align: top;
        background-color: #ffffff;
        border: 1px solid #d7d7d7;
        border-radius: 2px;
        padding: 0 10px;
        margin-bottom: 10px;
        cursor: pointer;
    }
}

.line {
    &::before {
        position: absolute;
        display: block;
        content: '';
        width: 6px;
        height: 6px;
        top: 50%;
        left: 7px;
        transform: translateY(-50%);
        border-radius: 3px;
    }
    &_1 {
        &::before {
            background-color: #939;
        }
    }
}

.s-result {
    background-color: #f6f6f6;
    padding-top: 30px;
    .offer {
        height: 440px;
        margin: 0 0 30px;
    }
    .offer__image {
        height: 190px;
        img {
            width: 100%;
            height: 190px;
        }
    }
    .offer__info {
        height: 250px;
    }
    .offer__price {
        span {
            width: auto;
            white-space: normal;
        }
    }
    .b-show {
        margin-bottom: 30px;
        .show {
            width: 100%;
            color: #3ea2c5;
            text-align: center;
            border-radius: 2px;
            &:hover {
                color: #ffffff;
            }
            >span {
                display: inline-block;
                position: relative;
            }
        }
        .show_load {
            color: #ffffff;
            background-color: #76bbd3;
            border-color: #76bbd3;
        }
    }
    .loader {
        position: absolute;
        display: block;
        width: 20px;
        height: 20px;
        top: 15px;
        left: -30px;
        background: url(../img/loader.png) center center no-repeat;
        animation: spin 3s linear infinite;
        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    }
}

.page__title {
    border-bottom: 1px solid lightgrey;
    padding-bottom: 35px;
    h1 {
        color: #1e3946;
        font-size: 24px;
        margin: 0;
    }
}

.sort {
    margin-bottom: 20px;
}

.sort__by,
.sort__map,
.sort__city {
    color: #484848;
    font-size: 15px;
    background-color: #ffffff;
    border-radius: 2px;
    line-height: 18px;
    background-position: center right 10px;
    background-repeat: no-repeat;
    padding: 10px 30px 10px 10px;
    margin-bottom: 10px;
    cursor: pointer;
    white-space: nowrap;
}

.sort__by {
    float: left;
    background-image: url(../img/sort.svg);
    margin-right: 40px;
    border: none;
    padding-top: 0px;
    padding-bottom: 0px;
    .dropdown__toggle {
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0px;
    }
}

.sort__map {
    float: right;
    background-image: url(../img/map.png);
}

.sort__city {
    display: none;
    background-image: url(../img/geo.png);
}

.sort__result {
    color: #a0a0a0;
    font-size: 14px;
    line-height: 18px;
    padding: 10px;
}

.map {
    position: relative;
    margin-bottom: 30px;
    &.invisible {
        position: absolute;
        left: 100%;
        opacity: 0;
    }
}

.related {
    margin-bottom: 30px;
    .container {
        background-color: #ffffff;
        padding: 30px 30px 10px;
    }
}

.related__title {
    color: #484848;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 30px;
}

.related__result {
    margin-bottom: 20px;
    a {
        display: block;
        line-height: 18px;
        white-space: nowrap;
        span {
            display: inline-block;
            vertical-align: top;
        }
        .text {
            @extend %text-overflow;
            line-height: 18px;
            height: 18px;
            max-width: 80%;
            color: #40a1c5;
            font-size: 14px;
        }
        .count {
            color: #adadad;
            font-size: 12px;
        }
    }
}

.pagination {
    display: block;
    text-align: center;
    margin: 0;
    &__list {
        display: inline-block;
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }
    &__item {
        display: inline-block;
        .pagination__link {
            color: #000000;
        }
        &_active {
            .pagination__link {
                color: #e43964;
            }
        }
    }
    &__link {
        @extend %text-overflow;
        display: block;
        font-size: 16px;
        max-width: 55px;
        line-height: 18px;
        padding-left: 7px;
        padding-right: 7px;
        &:hover {
            color: #e43964;
        }
    }
}

/* BEGIN: slider-item */

.offer .slide-arrow_next {
    background-image: url(../img/slide-arrow-right.png);
    right: 0;
}

.offer .slide-arrow_prev {
    background-image: url(../img/slide-arrow-left.png);
}

.offer .slide-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 31px;
    height: 70px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #555;
    border: none;
    outline: none;
    z-index: 100;
    transition: all 0.3s;
    &:hover {
        background-color: #232323;
    }
}

/* END: slider-item */

/* BEGIN: map-custom-style */

.clusterIcon {
    display: block;
    width: 60px;
    height: 60px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    line-height: 58px;
    background-color: #2255cc;
    border: 2px solid #ffffff;
    border-radius: 50%;
}

.map__btn {
    width: 34px;
    height: 34px;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    &_plus {
        background-image: url(../img/map-icon-plus.png);
    }
    &_minus {
        background-image: url(../img/map-icon-minus.png);
    }
    &_fullscreen {
        background-image: url(../img/map-icon-fullscreen.png);
        z-index: 10;
    }
}

/* END: map-custom-style */

/* END: catalog */