/* BEGIN: index.html */

section {
    padding: 50px 0;
    border-bottom: 1px solid #ebebeb;
    h3 {
        color: #1e3946;
        font-size: 24px;
        font-weight: 400;
        line-height: 1.1;
        margin: 0;
    }
    ul {
        font-size: 0;
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

.s-offers {
    background-color: #f6f6f6;
    .slick-dotted.slick-slider {
        margin-bottom: 15px;
    }
}

.offers__filter {
    position: relative;
    display: table;
    width: 100%;
    margin-bottom: 40px;
    h3 {
        display: table-cell;
    }
    ul {
        display: table-cell;
        text-align: right;
        li {
            display: inline-block;
            a {
                display: block;
                color: #648e9e;
                font-size: 16px;
                line-height: 18px;
                padding: 0 22px;
                &:hover {
                    color: $linkHover;
                }
            }
            &:last-child {
                a {
                    padding-right: 10px;
                }
            }
            &:first-child {
                a {
                    padding-left: 10px;
                }
            }
        }
    }
}

.offers__dropdown {
    display: none;
    position: relative;
    line-height: 46px;
    background-color: #ffffff;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    padding: 0 15px;
    img {
        float: right;
        margin-top: 8px;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        top: 14px;
        right: 15px;
        position: absolute;
        z-index: 1;
    }
    &.offers__dropdown_open {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: 0;
        img {
            transform: rotate(180deg);
        }
    }
}

.offers__slider {
    margin: {
        left: -15px;
        right: -15px;
    }
    .slick-list,
    .slick-track {
        padding-bottom: 20px;
    }
    .slick-list {
        overflow: visible !important;
    }
    .slide-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 31px;
        height: 70px;
        opacity: 0.9;
        background-position: center center;
        background-repeat: no-repeat;
        background-color: #555;
        border: none;
        outline: none;
        z-index: 100;
        transition: all 0.3s;
        &:hover {
            background-color: #232323;
        }
    }
    .slide-arrow_prev {
        background-image: url('../img/slide-arrow-left.png');
    }
    .slide-arrow_next {
        background-image: url('../img/slide-arrow-right.png');
        right: 0;
    }
    .slick-dots {
        bottom: 20px;
        li {
            button {
                width: 14px;
                height: 14px;
                border: 1px solid #c8c8c8;
                border-radius: 2px;
                background: transparent;
                &:before {
                    display: none;
                }
            }
            &.slick-active {
                button {
                    background: #acacac;
                }
            }
        }
    }
}

.offer {
    position: relative;
    height: 440px;
    background-color: white;
    margin: 0 16px 30px;
    &:hover {
        .offer__info {
            box-shadow: 0 12px 41.3px 1.7px #bdbdcc;
        }
        .offer__desc {
            color: $linkHover;
        }
        .offer__stock {
            .stock-1 {
                background-color: #f63e45;
                border-color: #f63e45;
            }
            .stock-2 {
                background-color: #3896b8;
                border-color: #3896b8;
            }
            .stock-3 {
                background-color: #00a99d;
                border-color: #00a99d;
            }
        }
        .offer__image {
            .slide-arrow {
                opacity: 1;
            }
        }
    }
    >img {
        width: 100%;
    }
}

.offer__stock {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 0;
    z-index: 1;
    .stock {
        position: relative;
        display: inline-block;
        width: 30px;
        height: 30px;
        border: 1px solid white;
        border-radius: 3px;
        margin-right: 10px;
        transition: all 0.3s;
        img {
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &:hover {
        cursor: pointer;
    }
    .stock-1 {
        &:hover {
            .stock__tooltip {
                display: block;
            }
        }
    }
}

.stock__tooltip {
    position: absolute;
    top: -35px;
    left: 0px;
    display: none;
    color: #ffffff;
    font-size: 13px;
    text-align: center;
    width: 116px;
    height: 28px;
    background-color: #f63e45;
    transition: all 0.3s;
    span {
        line-height: 28px;
        overflow: hidden;
    }
    &:after {
        position: absolute;
        display: block;
        content: '';
        bottom: -5px;
        left: 10px;
        width: 0;
        height: 0;
        border-top: 5px solid #f63e45;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
    }
}

.offer__social {
    a,
    span {
        display: inline-block;
        width: 19px;
        height: 19px;
        margin-right: 30px;
    }
    .like {
        background: url('../img/like.png') center center no-repeat;
        &:hover {
            background: url('../img/like-hover.png') center center no-repeat;
        }
    }
    .compare {
        background: url('../img/compare.png') center center no-repeat;
        &:hover {
            background: url('../img/compare-hover.png') center center no-repeat;
        }
    }
}

.offer__info {
    display: block;
    height: 247px;
    padding: 20px;
}

.offer__social,
.offer__desc,
.offer__adress,
.offer__metro,
.offer__price {
    margin-bottom: 10px;
}

.offer__desc {
    color: $link;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    span {
        @extend %text-overflow;
        display: block;
        max-height: 36px;
        display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
    }
}

.offer__adress {
    color: #878787;
    font-size: 14px;
    span {
        @extend %text-overflow;
        display: block;
        max-height: 42px;
        display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
    }
}

.offer__metro {
    span {
        position: relative;
        padding-left: 15px;
        &:before {
            position: absolute;
            display: block;
            content: '';
            width: 6px;
            height: 6px;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            border-radius: 3px;
        }
        &.line-1 {
            &:before {
                background-color: #939;
            }
        }
        &.line-2 {
            &:before {
                background-color: #acacac;
            }
        }
        &.line-3 {
            &:before {
                background-color: #e30413;
            }
        }
    }
    color: #484848;
    font-size: 14px;
}

.offer__price {
    .rub {
        font-size: 18px;
        line-height: 18px;
        color: #201f1f;
        margin-bottom: 8px;
    }
    .us {
        color: #919191;
        font-size: 15px;
    }
    span {
        @extend %text-overflow;
        display: block;
        height: 18px;
        width: 252px;
        white-space: nowrap;
    }
}

.offers__footer {
    .go-to {
        @include btnDefault;
        line-height: 49px;
        padding: 0 27px;
    }
}

.offer__image {
    height: 192px;
    .slick-list {
        overflow: hidden;
    }
    .slide-arrow {
        opacity: 0;
        transition: $transition;
    }
}

.offer__image .slick-list,
.offer__image .slick-track {
    padding-bottom: 0;
}

.services__title {
    margin-bottom: 40px;
}

.services__tabs {
    padding: 0;
}

.s-services {
    padding-bottom: 5px;
}

.eServices {
    .btn-eServices {
        @include buttonService;
        position: relative;
        display: block;
        text-align: center;
        height: 121px;
        line-height: 26px;
        margin-bottom: 30px;
        overflow: hidden;
        span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: block;
            max-width: 212px;
            text-align: left;
        }
    }
    .btn-eServices_all {
        display: none;
        color: #ffffff;
        background-color: #76bbd3;
        border-color: #76bbd3;
    }
    .btn-block {
        padding-left: 15px;
        padding-right: 15px;
    }
    .row {
        .col-lg-3:nth-of-type(1n+5) {
            .btn-eServices {
                margin-bottom: 0;
            }
        }
    }
}

.eServices__title {
    margin-bottom: 50px;
    h3 {
        margin-bottom: 20px;
    }
    span {
        color: #1e3946;
        font-family: $sm;
        font-size: 18px;
        line-height: 28px;
    }
}

.advantages__title {
    margin-bottom: 50px;
}

.b-advantage {
    display: table;
    height: 100px;
}

.advantage__text {
    display: table-cell;
    color: #000000;
    line-height: 1;
    font-size: 21px;
    vertical-align: top;
    span {
        display: block;
        height: 65px;
        width: 200px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}

.advantage__desc {
    display: block;
    color: #646464;
    font-size: 16px;
    line-height: 21px;
    max-height: 85px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.advantages__item {
    display: inline-block;
    width: 33.33%;
    height: 205px;
    vertical-align: top;
    .advantage {
        max-width: 290px;
        img {
            display: table-cell;
            vertical-align: top;
            margin-right: 25px;
        }
    }
    &:nth-of-type(3n+2) {
        .advantage {
            margin: 0 auto;
        }
    }
    &:nth-of-type(3n+3) {
        .advantage {
            float: right;
        }
    }
}

.advantages__slider {
    font-size: 0;
    .slick-dots li button {
        width: 14px;
        height: 14px;
        border: 1px solid #c8c8c8;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        background: transparent;
    }
    .slick-dots li.slick-active button {
        background: #acacac;
        &:before {
            display: none;
        }
    }
}

.s-comand {
    padding-top: 40px;
    padding-bottom: 0;
}

.s-comand__content {
    background-color: #ebebeb;
    padding: 40px 0 55px;
}

.s-comand__title {
    margin-bottom: 40px;
}

.s-comand__slider .slick-dots li button {
    width: 14px;
    height: 14px;
    border: 1px solid #c8c8c8;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: transparent;
    &:before {
        display: none;
    }
    &:hover {
        &:before {
            display: none;
        }
    }
}

.s-comand__slider {
    .slick-dots {
        bottom: -55px;
    }
}

.s-comand__slider .slick-dots li.slick-active button {
    background: #acacac;
    &:before {
        display: none;
    }
}

.s-comand__card {
    margin-right: 25px;
    img {
        width: 100%;
        height: 208px;
        margin-bottom: 30px;
    }
    span {
        display: block;
        text-align: center;
    }
}

.card-info__name {
    color: #1e3946;
    line-height: 26px;
    font-size: 18px;
    font-weight: 400;
}

.card-info__office {
    font-size: 16px;
    font-weight: 300;
}

.s-review {
    padding: 40px 0;
    .card {
        position: relative;
        border: 1px solid #40a2c5;
        padding: 25px 30px;
        margin: 0 15px 30px;
        transition: $transition;
        overflow: hidden;
        &:hover {
            border: 1px solid #ffffff;
            box-shadow: 0 11px 20.6px 0.4px #cecedf;
            .card-arrow {
                background-image: url('../img/review-arrow-right-red.png');
            }
        }
    }
    .card-head {
        display: table;
        margin-bottom: 30px;
    }
    .card-img,
    .card-title {
        display: block;
    }
    .card-img {
        width: 80px;
        height: 80px;
        vertical-align: top;
        border-radius: 50%;
        margin-right: 30px;
    }
    .card-title {
        display: table-cell;
        vertical-align: middle;
        color: #000000;
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
        margin: 0px;
        span {
            display: inline-block;
            max-height: 75px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .card-text {
        color: #707070;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        height: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
    }
    .card-text_link {
        color: #000000;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        width: 90%;
        height: 21px;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0;
        span {
            color: #40a1c5;
        }
    }
    .card-arrow {
        position: absolute;
        right: 35px;
        bottom: 20px;
        width: 25px;
        height: 16px;
        background-image: url('../img/review-arrow-right.png');
        background-position: center center;
        background-repeat: no-repeat;
        transition: $transition;
    }
}

.s-review__item:focus,
.s-review__item:active {
    outline: none;
    border: none;
}

.s-review__title {
    margin-bottom: 40px;
}

.s-review__slider {
    margin-left: -15px;
    margin-right: -15px;
}

.s-review__slider .slick-dots li button {
    width: 14px;
    height: 14px;
    border: 1px solid #c8c8c8;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: transparent;
    &:before {
        display: none;
    }
    &:hover {
        &:before {
            display: none;
        }
    }
}

.s-review__slider .slick-dots li.slick-active button {
    background: #acacac;
    &:before {
        display: none;
    }
}

%margin-bottom {
    margin-bottom: 40px;
}

%text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
}

.s-contacts {
    border: none;
}

.s-contacts__title {
    @extend %margin-bottom;
}

.s-contacts__city {
    @extend %margin-bottom;
    .header_filter-item {
        width: 251px;
        border: 1px solid #3ea2c5;
        border-radius: 3px;
        margin-bottom: 0;
        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }
    .header_filter_select {
        top: 50px;
    }
    .header-filter_select-wrap ul li:first-child {
        border-top: none;
        margin: 0;
        padding: 6px 15px 5px 15px;
    }
}

.s-contacts__contact {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    .text {
        display: block;
        color: #000000;
    }
    .val {
        display: inline-block;
        color: #40a1c5;
        white-space: nowrap;
    }
}

.s-contacts__list {
    margin-bottom: 35px;
    .container {
        padding-bottom: 35px;
        border-bottom: 1px solid #ebebeb;
    }
}

.s-contacts__adress {
    .card {
        position: relative;
        &.card_open {
            background-image: url(../img/accardion-close.png);
            background-position: top 26px right 20px;
            background-color: transparent;
            &:before {
                position: absolute;
                display: block;
                content: '';
                top: 56px;
                left: 0;
                width: 100%;
                height: 1px;
                background-color: #d7d7d7;
            }
        }
    }
    .card-title {
        @extend %text-overflow;
        color: #000000;
        font-size: 16px;
        font-family: $md;
        line-height: 24px;
        margin-top: 0;
    }
    .card-text {
        @extend %text-overflow;
        max-height: 72px;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: #000000;
        .text {
            display: block;
        }
    }
    .card-link {
        color: #40a1c5;
    }
    .card-body {
        margin-bottom: 30px;
        &.card-body_open {
            display: block;
        }
    }
}

.s-news {
    padding-top: 40px;
    padding-bottom: 40px;
}

.s-news__title {
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 40px;
}

.s-news__item {
    display: block;
    border-bottom: 1px solid #ebebeb;
    padding: 25px 0;
    transition: $transition;
    &:hover {
        box-shadow: 0 12px 41.3px 1.7px #ccccdb;
        .item-link {
            color: #e43964;
        }
    }
    .item-badge {
        color: #959595;
        font-size: 14px;
        font-weight: 400;
        background-color: #f1f1f6;
        border-radius: 0;
        margin-bottom: 20px;
    }
    .item-link {
        @extend %text-overflow;
        max-height: 70px;
        display: block;
        color: #40a1c5;
        font-size: 18px;
        margin-bottom: 10px;
        transition: $transition;
    }
    .item-text {
        @extend %text-overflow;
        max-height: 100px;
        color: #202020;
        font-size: 14px;
        line-height: 21px;
        margin: 0;
    }
}

.s-news__content {
    margin-bottom: 40px;
}

.s-map {
    border: none;
    padding: 0;
}

/* BEGIN: popups */

.popup {
    position: relative;
    height: auto;
    background-color: white;
    padding: 30px;
    margin: 0 auto;
    .input-box {
        width: 100%;
    }
    .popup__close {
        background: url('../img/CLOSE.png') center center no-repeat;
    }
}

.popup__title {
    color: #1e3946;
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    margin: 0;
}

.popup__header,
.popup__content .input-wrap,
.popup__content .footer_dispatch-checkbox {
    margin-bottom: 30px;
}

.popup__buttons {
    text-align: center;
}

.popup_call {
    width: 360px;
}

.popup_bid {
    width: 466px;
}

.mfp-bg {
    opacity: 0.5;
}

/* END: popups */

/* BEGIN: 06-08-18 */

.nav_drop_container__block {
    .ui-tabs .ui-tabs-nav li {
        margin: 0 53px 0 0;
        &.ui-tabs-active {
            padding-bottom: 0px;
        }
    }
    .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
        padding: 21px 0;
        &:focus {
            outline: none;
        }
    }
    .ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
        cursor: pointer;
    }
    .ui-tabs .ui-tabs-panel {
        padding: 0px;
    }
}

.nav_drop_nav-top ul li.active a {
    color: #e43964;
}

[id*=navDropTabs-] {
    padding: 0;
}

/* END: 06-08-18 */

/* END: index.html */