@import "vars";
/* BEGIN: media */

@media screen and (max-width: 1200px) {
    .offer__info {
        height: 280px;
    }
    .offers__filter ul li a {
        padding: 0 10px;
    }
    .filter {
        &__item {
            .go-to {
                text-align: center;
                background-image: none;
                &:hover {
                    background-image: none;
                }
            }
        }
    }
    .offer__image {
        height: 161px;
    }
}

@media screen and (max-width: 991px) {
    .advantages__item {
        width: 50%;
        &:nth-of-type(3n + 2) {
            .advantage {
                margin: 0;
            }
        }
        &:nth-of-type(3n + 3) {
            .advantage {
                float: none;
            }
        }
    }
    .offer__info {
        height: 256px;
    }
    .services .tabs .tabs-nav .tab {
        margin-right: 90px;
    }
    .offers__filter ul {
        text-align: center;
        li a {
            margin-bottom: 10px;
        }
    }
    .s-comand__slider {
        .slick-list {
            overflow: visible !important;
        }
    }
    .s-review__item {
        font-size: 0;
    }
    .s-review {
        .card {
            display: inline-block;
            width: 47%;
            margin-right: 10px;
            margin-left: 10px;
        }
    }
    .s-review__slider {
        margin-left: -10px;
        margin-right: -10px;
    }
    .s-contacts__contact_2 {
        display: none;
    }
    .s-contacts__list {
        .container {
            border-bottom: none;
            padding-bottom: 0;
        }
    }
    .s-contacts__adress {
        .card {
            background: url(../img/accardion-open.png) top 20px right 20px no-repeat;
            background-color: #ebebeb;
            border: 1px solid #d7d7d7;
            border-radius: 3px;
            padding: 15px 35px 5px;
            margin-bottom: 15px;
            .card-head {
                margin-left: -15px;
                margin-right: -15px;
                cursor: pointer;
            }
        }
        .card-body {
            display: none;
            margin-top: 30px;
            margin-bottom: 10px;
        }
    }
    .catalog-wrapper {
        section {
            border-bottom: none;
        }
    }
    .s-filter {
        .filter__tabs {
            display: block;
            margin-top: 85px;
        }
        &__block {
            display: block;
        }
    }
    #getFilterItemAdd {
        position: relative;
        top: 0px;
        padding: 0px;
        z-index: 1;
        .popup__close {
            display: none;
        }
    }
    .filter {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        border-bottom: none;
        background-color: #f6f6f6;
        padding: 0px;
        z-index: 1000;
        overflow-y: scroll;
        &.filter_hidden {
            display: none;
        }
        .container {
            max-width: 100%;
            padding-left: 25px;
            padding-right: 25px;
        }
        &__head {
            display: flex;
        }
        &__block {
            padding: 0 10px 5px;
        }
        &__buttons {
            display: none;
        }
        &__item {
            &_deal {
                display: none;
            }
            &_submit {
                position: absolute;
                left: 0px;
                bottom: -63px;
                box-shadow: 0 0 5.3px 0.7px #cecece;
                .btn-search {
                    line-height: 46px;
                }
            }
            &.offers__footer {
                display: none;
            }
            &_price {
                display: block;
                order: 2;
                label {
                    display: block;
                }
                .form__control {
                    width: 100%;
                }
                .form__group {
                    display: inline-block;
                    width: 50%;
                    margin-bottom: 15px;
                    &:not(:first-child) {
                        .form__control {
                            border-left: none;
                            border-radius: 0px 2px 2px 0px;
                        }
                    }
                }
                .dropdown_currency {
                    display: inline-block;
                    width: 50%;
                    border-left: 1px solid #ccc;
                    border-radius: 2px 0px 0px 2px;
                }
                .dropdown_part {
                    display: inline-block;
                    width: 50%;
                }
            }
            &_add {
                label {
                    display: block;
                }
                .form__control {
                    width: 50%;
                }
                .form__group {
                    display: block;
                    margin-bottom: 15px;
                    margin-right: 0px;
                }
                &.mfp-hide {
                    display: block !important;
                    order: 1;
                    margin-bottom: 0px;
                }
            }
            &_tags {
                display: block;
            }
            width: 100%;
            margin-bottom: 15px;
        }
    }
    .tags {
        display: none;
    }
    .page__title {
        border-bottom: none;
    }
    .sort__by {
        float: none;
        margin-right: 0;
    }
    .sort__map {
        float: none;
    }
    .sort__city {
        display: block;
    }
    .related {
        display: none;
    }
    .offer__image {
        height: 184px;
    }
}

@media screen and (max-width: 860px) {
    .s-contacts__adress {
        .footer_application-btn {
            text-align: center;
        }
    }
    .catalog-wrapper {
        padding-top: 20px;
        .breadcrumb-wrap {
            display: none;
        }
    }
    .page__title {
        padding-bottom: 22px;
    }
}

@media screen and (max-width: 768px) {
    section {
        padding: 40px 0;
    }
    .s-services {
        display: none;
    }
    .offer>img {
        height: 204px;
    }
    .offers__filter {
        display: block;
        h3 {
            display: block;
            margin-bottom: 30px;
        }
        ul {
            position: absolute;
            display: none;
            width: 100%;
            text-align: left;
            background-color: #ffffff;
            border: 1px solid #e1e1e1;
            border-top: none;
            border-radius: 0 0 3px 3px;
            z-index: 100;
            &.offers__menu_open {
                display: block;
            }
            li {
                display: block;
                a {
                    color: #202020;
                    line-height: 34px;
                    padding: 0 15px;
                    transition: all 0.3s;
                    margin: 0;
                    &:hover {
                        color: #ffffff;
                        background-color: #76bbd3;
                    }
                }
                &:first-child {
                    position: relative;
                    &:before {
                        position: absolute;
                        top: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        content: '';
                        display: block;
                        width: 95.5%;
                        height: 1px;
                        border-top: 1px solid #e1e1e1;
                    }
                    a {
                        padding: 0 15px;
                    }
                }
            }
        }
    }
    .offers__dropdown {
        display: block;
    }
    .offers__footer .go-to {
        display: block;
        text-align: center;
    }
    .offer__info {
        width: 100%;
        height: calc(440px - 204px);
    }
    .offers__slider .slick-dots {
        bottom: -50px;
    }
    .s-offers .slick-dotted.slick-slider {
        margin-bottom: 74px;
    }
    .offers__list .container {
        padding-left: 13px;
        padding-right: 13px;
    }
    section h3,
    .eServices__title span {
        text-align: center;
    }
    .eServices__title {
        margin-bottom: 35px;
        span {
            display: block;
        }
    }
    .eServices {
        .btn-eServices {
            height: 56px;
            margin-bottom: 15px;
            span {
                max-width: none;
                width: 100%;
                text-align: center;
            }
        }
        .btn-eServices_all {
            display: block;
        }
        .col-xs-12 {
            flex: 0 0 100%;
            max-width: 100%;
        }
        .col-md-3 {
            &:nth-of-type(1n + 5) {
                display: none;
            }
        }
    }
    .advantages__item {
        width: 100%;
        padding-left: 35px;
        padding-right: 35px;
        .advantage {
            margin: 0 auto;
        }
        &:nth-of-type(3n + 2) .advantage {
            margin: 0 auto;
        }
    }
    .advantage__text {
        width: 65%;
    }
    .offer__image {
        height: 204px;
        img {
            width: 100%;
            height: 100%;
            &:not(:first-child) {
                display: none;
            }
        }
    }
    .s-comand__card {
        width: 260px;
    }
    .s-news__item {
        .item {
            padding-left: 35px;
            padding-right: 35px;
        }
    }
}

@media screen and (max-width: 767px) {
    .s-review__item {
        width: 1040px;
    }
}

@media screen and (max-width: 576px) {
    .advantages__item {
        padding-left: 0;
        padding-right: 0;
    }
    .eServices__title {
        margin-bottom: 25px;
        span {
            display: block;
        }
    }
    .s-offers {
        padding-bottom: 20px;
    }
    section h3 {
        font-size: 26px;
    }
    .s-comand__slider {
        .slick-list {
            overflow: hidden !important;
        }
    }
    .s-comand__card {
        max-width: none;
        margin-right: 0;
        img {
            height: auto;
        }
    }
    .s-review__item {
        width: 570px;
    }
    .s-review {
        .card {
            width: 47%;
            margin-right: 5px;
        }
    }
    .s-contacts__adress {
        .card {
            padding-left: 20px;
            padding-right: 20px;
            .card-head {
                margin-left: 0;
                margin-right: 0;
            }
        }
    }
    .s-news__item {
        .item {
            padding-left: 0;
            padding-right: 0;
        }
    }
    .popup_call {
        width: 272px;
    }
    .popup_bid {
        width: 272px;
    }
    .filter {
        .container {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    .s-map {
        max-height: 50vh;
    }
}

@media screen and (max-width: 1200px) {
    .s-categories .card__list {
        max-height: 233px;
    }
}

@media screen and (max-width: 991px) {
    .s-categories .card {
        padding: 20px 35px 0px;
        .card__menu {
            display: block;
        }
    }
    .s-categories .card__image,
    .s-categories .card__title_sm {
        display: none;
    }
    .s-categories .card__list .card__item {
        width: 100%;
        border-top: 1px solid #f1f1f1;
        margin-bottom: 0px;
        padding: 16px 0px;
    }
    .s-categories .card__title_sub {
        font-size: 18px;
        border: none;
        padding: 0px;
    }
    .s-categories .card__title_2 {
        display: block;
    }
    .s-categories .card__title {
        margin-bottom: 20px;
    }
    .card__body>.card__title {
        display: none;
    }
    .content__tags {
        display: none;
    }
    .s-categories .content__item {
        margin-bottom: 70px;
    }
    .card__content_sale .card__list_lease {
        display: none;
    }
    .s-categories .card__content_lease .card__list_lease {
        display: block;
    }
    .s-categories .card__content_underline {
        padding-bottom: 0px;
        margin-bottom: 0px;
        border: none;
    }
    .s-categories .card__content_m {
        margin-bottom: 30px;
    }
    .s-categories .card__list {
        flex-direction: row;
        max-height: none;
    }
}

@media screen and (max-width: $max860) {
    .s-banner {
        height: 385px;
        &__filter {
            top: 15px;
            .header_filter-title {
                font-size: 21px;
                margin-bottom: 15px;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .s-banner {
        height: 405px;
        &__filter {
            .header_filter-title {
                font-size: 18px;
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .s-categories .card {
        padding-left: 15px;
        padding-right: 15px;
        margin-right: -15px;
        margin-left: -15px;
    }
    .s-categories .card__menu {
        left: -15px;
        right: -15px;
    }
}

/* BEGIN: bug-list 11576 */

@media screen and (max-width: 991px) {
    #tabs1-2 {
        display: block;
    }
}

@media screen and (max-width: 991px) {
    .container {
        padding: {
            left: 0px;
            right: 0px;
        }
    }
}
@media screen and (max-width: 767px) {
    .container {
        padding: {
            left: 25px;
            right: 25px;
        }
    }
}

@media screen and (max-width: 576px) {
    .s-result .offer {
        margin-right: -13px;
        margin-left: -13px;
    }
}
/* END: bug-list 11576 */

/* END: media */