//link
$link: #40a1c5;
$linkHover: #e3315d;
//font
$reg: 'Roboto Regular';
$md: 'Roboto Medium';
$sm: 'Roboto Light';
$transition: all 0.3s;
//btn
//breakpoints
$max576: 576px;
$max768: 768px;
$max860: 860px;
$max991: 991px;
$max1200: 1200px;
@mixin respond ($media) {
    @if $media==max576 {
        @media only screen and (max-width: $max576) {
            @content;
        }
    }
    @else if $media==max768 {
        @media only screen and (max-width: $max768) {
            @content;
        }
    }
    @else if $media==max860 {
        @media only screen and (max-width: $max860) {
            @content;
        }
    }
    @else if $media==max991 {
        @media only screen and (max-width: $max991) {
            @content;
        }
    }
    @else if $media==max1200 {
        @media only screen and (max-width: $max1200) {
            @content;
        }
    }
}

@mixin buttonService {
    color: #2e424f;
    font-family: $reg;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #40a2c5;
    border-radius: 2px;
    &:hover {
        color: #ffffff;
        background-color: #76bbd3;
        box-shadow: 0 12px 12.7px 0.3px #cecedf;
        border-color: #76bbd3;
    }
}

@mixin btnDefault {
    display: inline-block;
    color: #2e424f;
    font-size: 16px;
    border: 1px solid #40a2c5;
    border-radius: 3px;
    &:hover {
        color: #ffffff;
        background-color: #76bbd3;
        border-radius: 3px;
        border-color: #76bbd3;
    }
}

@mixin btnSearch {
    color: white;
    font-family: $reg;
    font-size: 15px;
    background-color: #e43964;
    border-radius: 2px;
    &:hover {
        background-color: #f84a75;
    }
}

@mixin btnLink {
    color: #2e424f;
    font-family: $reg;
    font-size: 16px;
    line-height: 49px;
    border: 1px solid #3ea2c5;
    border-radius: 3px;
}