@import "vars";
// Required
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
// grid
// Optional
/*custom grid*/

@import "../../node_modules/bootstrap/scss/grid";
/*end custom grid*/

body {
    font-family: "Roboto Regular";
    font-size: 16px;
    color: #646464;
    overflow-x: hidden;
}

html {
    overflow-x: hidden;
}

.container {
    padding: 0;
}

.input-wrap {
    position: relative;
    label {
        display: none;
        position: absolute;
        top: 0px;
        left: 20px;
        transform: translateY(-50%);
        color: #696868;
        font-size: 12px;
        background-color: #fff;
        padding: 0 5px;
    }
}

input.input-box {
    color: #202020;
    height: 41px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 0px 15px;
    &:focus {
        box-shadow: 0 4px 12.7px 0.3px #cecedf;
        &::-webkit-input-placeholder {
            color: transparent
        }
        &::-moz-placeholder {
            color: transparent
        }
        &:-moz-placeholder {
            color: transparent
        }
        &:-ms-input-placeholder {
            color: transparent
        }
        &~label {
            display: block;
        }
    }
    &.valid {
        border: 1px solid #3faf6c;
    }
    &.error {
        border: 1px solid #f43d3d;
    }
    &::placeholder {
        color: #b6b6b6;
    }
}

textarea.input-box {
    height: 189px;
    padding: 12px 15px;
    resize: none;
}

[type=submit].btn-send {
    color: #aeadad;
    font-family: $md;
    font-size: 16px;
    width: 164px;
    height: 46px;
    background-color: #e1e1e1;
    border-radius: 3px;
    border: none;
    transition: $transition;
    &.active {
        color: #ffffff;
        background-color: #76bbd3;
    }
}

.services {
    .tabs {
        .tabs-nav {
            border-bottom: 1px solid #e1e1e1;
            padding: 0;
            .tabs-anchor {
                color: #648e9e;
                font-size: 18px;
                padding: 0 0 25px;
                background-color: transparent;
                &:focus {
                    outline: none;
                }
            }
            .tab {
                width: auto;
                margin-right: 110px;
                &:last-child {
                    margin-right: 0;
                }
            }
            .tab.ui-tabs-active {
                .tabs-anchor {
                    color: #da2956;
                    cursor: pointer;
                    &:after {
                        position: absolute;
                        display: block;
                        content: '';
                        width: 100%;
                        height: 2px;
                        left: 0px;
                        bottom: 0px;
                        background-color: #da2956;
                    }
                }
            }
        }
        .tabs-panel {
            padding: 27px 0 0;
        }
        .tabs-panel__title {
            color: #1e3946;
            font-size: 18px;
        }
        .grid-sizer,
        .tabs-panel__item {
            width: 33.33%;
        }
        .tabs-panel__list {
            margin-top: 12px;
            a {
                display: block;
                color: #40a1c5;
                font-size: 16px;
                line-height: 26px;
            }
        }
        .tabs-panel__item {
            padding-left: 20px;
            margin-bottom: 40px;
        }
        .tabs-panel__item_left_0 {
            padding-left: 0;
        }
    }
}

.tabs {
    .tabs-nav {
        border-bottom: 1px solid #e1e1e1;
        padding: 0;
        .tabs-anchor {
            color: #648e9e;
            font-size: 18px;
            padding: 0 0 25px;
            &:focus {
                outline: none;
            }
        }
        .tab {
            margin-right: 110px;
            &:last-child {
                margin-right: 0;
            }
        }
        .tab.ui-tabs-active {
            .tabs-anchor {
                color: #da2956;
                cursor: pointer;
                &:after {
                    position: absolute;
                    display: block;
                    content: '';
                    width: 100%;
                    height: 2px;
                    left: 0px;
                    bottom: 0px;
                    background-color: #da2956;
                }
            }
        }
    }
    .tabs-panel {
        padding: 27px 0 0;
    }
    .tabs-panel__title {
        color: #1e3946;
        font-size: 18px;
    }
    .grid-sizer,
    .tabs-panel__item {
        width: 33.33%;
    }
    .tabs-panel__list {
        margin-top: 12px;
        a {
            display: block;
            color: #40a1c5;
            font-size: 16px;
            line-height: 26px;
        }
    }
    .tabs-panel__item {
        padding-left: 20px;
        margin-bottom: 40px;
    }
    .tabs-panel__item_left_0 {
        padding-left: 0;
    }
}

@import "index";
@import "catalog";
@import "catalog-start";
/* BEGIN: bug-list 11576 */

.catalog-header .header_nav .nav_drop_active-link {
    color: #e43964;
}
#tabs1-2 {
    display: none;
}
.s-filter__block {
    z-index: 101;
}
/* END: bug-list 11576 */
.header_nav ul {
    margin-left: -12px;
    margin-right: -12px;
}
//infohelp
@import 'infohelp-parts/infohelp';
@import "media";