/* BEGIN: object */
.object-page {
    background-color: #f6f6f6;
    .breadcrumb-wrap {
        ul {
            li {
                &:last-child {
                    display: none;
                }
            }
        }
    }
}
@import 'object-parts/main';
@import 'object-parts/object';
@import 'object-parts/media';
/* END: object */