.services-wrapper,
.srvs-header {

    h1,
    h3,
    h4,
    h5,
    p {
        margin: 0;
    }

    h1 {
        font-size: 54px;
        font-weight: 700;
        line-height: 18px;
    }

    h3 {
        color: #28333d;
        font-size: 45px;
        font-weight: 700;
        line-height: 32px;
        margin-bottom: 45px;
    }

    h4 {
        font-size: 21px;
        line-height: 30px;
    }

    h5 {
        color: #1e3946;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 20px;
    }

    .section {
        padding: 75px 0 0;
        border: none;
        border-bottom: 1px solid #ebebeb;

        &--bg1 {
            color: #ffffff;
            // opacity: 0.8;
            background-image: linear-gradient(to top, #61577a 0%, #30597b 100%);
            padding: 60px 0 0;
        }

        &--bg2 {
            color: #1e3946;
            background-color: #f6f6f6;
        }
    }

    .s-advantages {
        padding-bottom: 75px;
    }
}

.btn {
    &-action {
        display: inline-block;
        width: 100%;
        font-size: 18px;
        font-weight: 500;
        line-height: 18px;
        text-align: center;
        text-decoration: none;
        border: 1px solid transparent;
        border-radius: 3px;
        padding: 18px;



        &:focus,
        &:active,
        &:visited {
            color: #ffffff;
            text-decoration: none;
        }

        &--default {
            color: #ffffff;
            max-width: 240px;
            background-color: #e3315d;

            &:hover {
                color: #ffffff;
                background-color: #f84a75;
            }
        }

        &--view {
            color: #ffffff;
            max-width: 240px;
            border: 1px solid white;
            border-radius: 3px;

            &:hover {
                color: #28333d;
                background-color: #ffffff;
            }
        }

        &--link {
            height: 74px;
            vertical-align: top;
            overflow: hidden;

            span {
                max-height: 100%;
                vertical-align: middle;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
        }
    }
}

input:checked+label:before {
    background: url(../img/check.jpg) center no-repeat;
    background-color: #FFF;
}

.services {
    &-footer {
        .footer_application {
            display: none;
        }

    }
}

@import 'services-parts/header';
@import 'services-parts/steps';
@import 'services-parts/price';
@import 'services-parts/demand';
@import 'calc';
@import 'services-parts/request';
@import 'services-parts/desc';
@import 'services-parts/media';