/* BEGIN: object main */
.obj-section {
    padding: 0;

    &:not(:last-child) {
        margin-bottom: 40px;
    }

    &_body {
        &-wrap {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            margin-left: -15px;
            margin-right: -15px;
        }
    }

    &_block {
        flex: 1 1 auto;
        width: 100%;

        padding-left: 15px;
        padding-right: 15px;

        &--card {
            max-width: 71%;
        }
    }

    &_heading {
        margin-bottom: 30px;
    }

    &_title {
        color: #1e3946;
        font-family: 'Roboto Regular';
        font-size: 24px;
        font-weight: 400;
        line-height: 18px;
        margin-bottom: 20px;
    }

    &_adress {
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        color: #4f4f4f;
        margin-bottom: 15px;

        &-name {
            color: #40a1c5;
        }
    }

    &_metro {
        position: relative;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        color: #484848;
        padding-left: 15px;

        &::before {
            position: absolute;
            display: block;
            content: '';
            width: 6px;
            height: 6px;
            top: 5px;
            left: 0px;
            background-color: #939;
            border-radius: 3px;
        }
    }

    &_advert {
        flex: 1 1 auto;
        width: 100%;
        max-width: 29%;
        padding-left: 15px;
        padding-right: 15px;
        right: 0;

        .advert {
            background-image: linear-gradient(to top, #61577a 0%, #1a4161 100%);
            padding: 45px 15px;

            &_person {
                max-width: 242px;
                margin-left: auto;
                margin-right: auto;

                &-img {
                    width: 150px;
                    height: 120px;
                    margin-bottom: 20px;
                }

                &-name {
                    color: #ffffff;
                    font-family: 'Roboto Light';
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 26px;
                }

                &-tel,
                &-tel a {
                    color: #ffffff;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: normal;
                }
            }

            &_title {
                color: white;
                font-family: 'Roboto Medium';
                font-size: 21px;
                font-weight: 500;
                max-width: 242px;
                margin-left: auto;
                margin-right: auto;
            }

            &_info {
                max-width: 242px;
                margin-left: auto;
                margin-right: auto;
            }

            &_footer {
                max-width: 242px;
                margin-left: auto;
                margin-right: auto;

                .btn-action {
                    max-width: 242px;
                    font-family: 'Roboto Regular';
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 18px;
                    border-radius: 2px;
                    padding: 12px;
                    margin-bottom: 20px;
                }
            }
        }
        [type=submit] {
            width: 100%;
            margin-bottom: 27px;
        }
    }

    &_link {
        &-map {
            display: inline-block;
            color: #40a1c5;
            font-size: 14px;
            font-weight: 400;
            line-height: 1;
            background: url(../img/map.png) left top no-repeat;
            background-size: contain;
            padding-left: 20px;
            margin-left: 20px;

            &:focus,
            &:active,
            &:visited {
                color: #40a1c5;
            }
        }
    }

    .offer {
        width: 260px;
    }

    .offer__image {
        img {
            height: 192px;
        }
    }

    .offers__slider {
        margin-bottom: 40px;

        .slick-dots {
            bottom: -20px;
        }

        &>.slick-list {
            overflow-y: visible !important;
        }
    }
}

/* END: object main */