/* BEGIN: object-media */
@media screen and (max-width: 1200px) {
    .obj-section {
        .offers__slider .slick-list {
            overflow: visible !important;
        }
    }
}

@media screen and (max-width: 991px) {
    .obj-section {

        &_block--card,
        &_advert {
            max-width: none;
        }

        .advert_info,
        .advert_input,
        .advert_footer {
            max-width: 648px;
        }

        .advert_footer {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;

            .btn-send {
                max-width: 242px;
            }

            .footer_dispatch-checkbox {
                max-width: 285px;
            }
        }
    }

    #object .obj-section_body>.container {
        max-width: none;
        padding: 0;
    }
    .obj-card_actions > a.email {
        display: inline-block;
    }
}

@media screen and (max-width: 860px) {
    .object-page {
        padding-top: 0;

        .breadcrumb {
            margin: 0;
        }

        .breadcrumb-wrap {
            display: block;
            background-color: white;
            margin-bottom: 30px;

            ul {
                li {
                    position: relative;
                    display: none;

                    &:last-child {
                        display: block;
                        padding-left: 20px;

                        &:before {
                            position: absolute;
                            width: 7px;
                            height: 12px;
                            top: 22px;
                            left: 0;
                            background-image: url(../img/breadcrumb-reverse.png);
                            background-repeat: no-repeat;
                        }

                        a {
                            display: block;
                            color: #1e3946;
                            font-size: 18px;
                            font-weight: 400;
                            line-height: 18px;
                            padding: 20px 0;
                        }
                    }
                }
            }
        }
    }

    .obj-section {
        &_title {
            font-size: 21px;
        }
    }

    .obj-card {
        &_id {
            margin-right: 60px;
        }

        &_actions {
            .print {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .object-page .breadcrumb-wrap {
        margin-bottom: 15px;
    }

    .obj-section {
        &_title {
            line-height: normal;
            margin-bottom: 10px;
        }

        .advert_info,
        .advert_input,
        .advert_footer {
            max-width: 242px;
        }

        .advert_footer {
            display: block;
            .btn-send,
            .footer_dispatch-checkbox {
                max-width: none;
            }
        }
    }

    .obj-card {
        padding: 0;

        &_terms {
            * {
                flex: 1 1 auto;
                width: 100%;
            }
        }

        &_info {
            &-block {
                padding: 20px;
            }
        }

        &_prop,
        &_feature {
            flex: 1 1 auto;
            width: 100%;

            &:not(:last-child) {
                margin-bottom: 25px;
            }
        }

        &_map {
            #map {
                height: 380px;
            }
        }

        &_heading {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &_id,
        &_actions {
            margin-right: 0;
        }

        &_value {
            margin-bottom: 15px;
            margin-right: 0;

            span {
                line-height: 1;
            }
        }

        &_credit {
            margin: 0 0 15px;
        }

        &_calc {
            padding: 20px;

            .calc_result-block {
                padding: 20px;
            }

            .calc_title h3 {
                text-align: left;
            }
        }

        &_img {
            height: 372px;
        }
    }

    .obj-section .offer__image img {
        height: 204px;
    }
}

@media screen and (max-width: 576px) {
    .obj-section_body-wrap {
        margin: 0;
    }

    .obj-section_block--card {
        padding: 0 10px;
    }

    .obj-section_advert {
        padding: 0;
    }
}

@media screen and (max-width: 480px) {
    #related {
        .container {
            padding: 0 10px;
        }

        .obj-section_block {
            padding: 0;
        }

        .offers__list {
            .container {
                padding: 0;
            }
        }
    }
}

/* END: object-media */