/* BEGIN: object-card */
%credit-bg {
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 25px;
}

.obj-card {
    background-color: #ffffff;

    &_heading {
        color: #949494;
        font-size: 15px;
        font-weight: 400;
        line-height: 18px;
        padding: 20px;
    }

    &_id,
    &_actions {
        display: inline-block;
        vertical-align: middle;
        margin-right: 30px;
    }

    &_actions {
        &>a {
            display: inline-block;
            width: 19px;
            height: 19px;
            vertical-align: middle;

            &:not(:last-child) {
                margin: 0 30px 0 0;
            }

            &.like,
            &.compare,
            &.print,
            &.email {
                background-position: center center;
                background-size: contain;
                background-repeat: no-repeat;
            }

            &.like {
                background-image: url(../img/like.png);

                &:hover {
                    background-image: url(../img/like-hover.png);
                }
            }

            &.compare {
                background-image: url(../img/compare.png);

                &:hover {
                    background-image: url(../img/compare-hover.png);
                }
            }

            &.print {
                background-image: url(../img/print.png);

                &:hover {
                    background-image: url(../img/print-hover.png);
                }
            }

            &.email {
                display: none;
                width: 21px;
                background-image: url(../img/email.png);

                &:hover {
                    background-image: url(../img/email-hover.png);
                }
            }
        }
    }

    &_img {
        position: relative;
        height: 456px;

        &-counter {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 64px;
            height: 23px;
            color: #dbdbdb;
            font-size: 14px;
            font-weight: 400;
            text-align: center;
            background-color: rgba($color: #555555, $alpha: 0.5);
            z-index: 100;

            span {
                line-height: 23px;
            }
        }

        img {
            max-height: 100%;
        }
    }

    &_slider {
        position: relative;
        height: 100%;

        &-item {
            &.slick-slide {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .slick-list,
        .slick-track {
            height: 100%;
        }

        .slide-arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 31px;
            height: 70px;
            opacity: 0.5;
            background-position: center center;
            background-repeat: no-repeat;
            background-color: #555;
            border: none;
            outline: none;
            z-index: 100;
            transition: all 0.3s;

            &:hover {
                opacity: 0.9;
            }

            &[aria-disabled="true"] {
                display: none !important;
            }
        }

        .slide-arrow_next {
            background-image: url(../img/slide-arrow-right.png);
            right: 0;
        }

        .slide-arrow_prev {
            background-image: url(../img/slide-arrow-left.png);
        }
    }

    &_info {
        &-block {
            background-color: white;
            padding: 40px;

            &:not(:last-child) {
                border-bottom: 1px solid #e0e0e0;
            }

            a {
                font-size: 16px;
                line-height: 26px;
                color: #40a1c5;
                font-weight: 400;
            }
        }
    }

    &_terms {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    &_value {
        font-size: 26px;
        line-height: 18px;
        margin-right: 30px;

        .val {
            color: #1e3946;
            font-family: "Roboto Medium";
            font-weight: 500;
            margin-right: 5px;
        }

        .dropdown {
            display: inline-block;
            width: 50px;
            border: none;

            .name {
                display: inline-block;
                width: 20px;
            }

            input {
                display: none;

                &:checked+label:before {
                    background-size: 75%;
                }
            }

            label {
                padding: 0 10px 0 55px;

                &:before {
                    width: 18px;
                    height: 18px;
                    top: 9px;
                    left: 20px;
                }
            }

            &__menu {
                width: 91px;
                left: auto;
                right: 0;
                top: 30px;
            }
        }

        .cur {
            color: black;
            font-weight: 400;
            margin-right: 7px;
        }

        .toggle {
            display: inline-block;
            vertical-align: middle;
            width: 12px;
            height: 7px;
            background: url(../../img/drop.png) center center no-repeat;
        }
    }

    &_footage-price {
        color: #949494;
        font-size: 16px;
        font-weight: 400;
        line-height: 18px;
    }

    &_credit {
        color: #434343;
        font-size: 15px;
        font-weight: 400;
        line-height: 18px;

        &:not(:last-child) {
            margin-right: 40px;
        }

        &--mortgage {
            @extend %credit-bg;
            background-image: url(../img/IPOTEKA-ICON.png);
        }

        &--installment {
            @extend %credit-bg;
            background-image: url(../img/install.png);
        }

        &--discount {
            @extend %credit-bg;
            background-image: url(../img/discount.png);
        }
    }

    &_props {
        display: flex;
        flex-wrap: wrap;
    }

    &_prop {
        flex: 1 1 0;

        .key {
            color: #919191;
            font-size: 16px;
            font-weight: 400;
            line-height: 18px;
            margin-bottom: 10px;
        }

        .val {
            font-size: 21px;
            font-weight: 400;
            line-height: 18px;
            color: #919191;

            span {
                color: #1e3946;
            }
        }
    }

    &_features {
        display: flex;
        flex-wrap: wrap;
    }

    &_feature {
        flex: 1 1 auto;
        color: #434343;
        font-size: 16px;
        line-height: 32px;

        .key {
            font-family: "Roboto Medium";
            font-weight: 500;
            font-size: 16px;
        }

        .val {
            font-size: 16px;
            font-family: "Roboto Light";
            font-weight: 300;
            list-style-type: disc;
            padding-left: 18px;
        }
    }

    &_desc {
        max-height: 205px;
        font-size: 16px;
        line-height: 26px;
        font-family: "Roboto Light";
        color: #434343;
        font-weight: 300;
        transition: all 0.6s;
        overflow: hidden;
        margin-bottom: 10px;

        &.show {
            max-height: none;
        }
    }

    &_map {
        #map {
            height: 450px;
        }
    }

    &_calc {
        padding: 40px;

        .calc_body {
            padding: 0;

            form {
                align-items: flex-end;
            }
        }

        .calc_data {
            .val {
                input[type=text] {
                    padding: 13px;
                }
            }
        }

        .calc_result-block {
            padding: 30px 40px 50px;

            .btn-action {
                font-size: 16px;
                font-weight: 400;
                line-height: 18px;
                padding: 12px;

                .text-1 {
                    display: none;
                }

                .text-2 {
                    display: inline;
                }
            }
        }

        .calc_result {
            margin-bottom: 40px;

            .key {
                font-size: 14px;
                font-weight: 500;
                line-height: 18px;

                &--permonth {
                    font-family: 'Roboto Regular';
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 18px;
                }
            }

            .val {
                font-size: 24px;
                font-weight: 400;

                &--permonth {
                    font-size: 28px;
                    font-weight: 500;
                }
            }
        }
    }
    .dropdown {

        input {
            display: none;

            &:checked+label:before {
                background-size: 75%;
            }
        }

        label {
            padding: 0 10px 0 55px;

            &:before {
                width: 18px;
                height: 18px;
                top: 9px;
                left: 20px;
            }
        }

        &__menu {
            top: 30px;
        }
    }
}

/* END: object-card */