<!-- BEGIN: services -demand -->
<section id="demand" class="section">
    <div class="container">
        <div class="srvs-demand">
            <h3>Что понадобится?</h3>
            <div class="srvs-demand_list">
                <div class="srvs-demand_item">
                    <a href="#" class="srvs-demand_name" data-toggle="tab-toggle"><span>Список документов по недвижимости для рассмотрения заявки на ипотечный кредит по готовому объекту недвижимости</span></a>
                    <div class="srvs-demand_tab" data-attr="tab">
                        <ul>
                            <li>Свидетельство (а) о регистрации права собственности и/ или выписка из ЕГРН (на
                                земельный
                                участок и все оформленные строения)
                            </li>
                            <li>Документы основания возникновения права (Договора купли-продажи, Договор передачи,
                                Договор
                                дарения, и т.п.)
                            </li>
                            <li>Акт приёма-передачи Объекта (если Объект принадлежит собственникам на основании
                                договора мены
                                или купли-продажи, заключенного после 1 марта 1996г).
                            </li>
                            <li>Паспорта всех собственников и пользователей Объекта, в том числе для
                                несовершеннолетних лиц с
                                14 лет
                            </li>
                            <li>Свидетельство (а) о рождении (для несовершеннолетних, не достигших
                                18 лет)</li>
                            <li>Свидетельство о регистрации/о расторжении брака</li>
                            <li>Свидетельство о смерти (при необходимости)</li>
                            <li>Свидетельство/справку о смене фамилии, имени, отчества (при
                                необходимости)</li>
                            <li>Технический паспорт</li>
                            <li>Выписка из домовой книги или справка о зарегистрированных лицах
                                (для жилых строений)</li>
                            <li>Разрешение органов опеки и попечительства на отчуждение Объекта при наличии в числе
                                собственников несовершеннолетних детей
                            </li>
                            <li>Справки об отсутствии задолженности за телефон, переговоры, коммунальные услуги,
                                электроэнергию
                            </li>
                            <li>Нотариально удостоверенное согласие супруга (и) на отчуждение Объекта или заявление
                                об
                                отсутствии брачных отношений, нотариальная копия брачного договора (при необходимости)
                            </li>
                            <li>Справки из психоневрологического (ПНД), наркологического (НД) диспансера на предмет
                                отсутствия учета в них собственников и пользователей Объекта
                            </li>
                            <li>Нотариально удостоверенные заявления пользователей Объекта о снятии с
                                регистрационного учета
                                и освобождении Объекта в сроки, указанные в договоре по отчуждению Объекта
                            </li>
                            <li>Иные документы по требованию АН ФРИДОМ.</li>
                        </ul>
                        <form id="formSub1" method="POST">
                            <div class="footer_dispatch-input">
                                <span>Отправить мне на e-mail</span>
                                <input type="text" class="" placeholder="Ваш E-mail">
                                <input type="submit" class="btn-send" value="Отправить" disabled="">
                            </div>
                            <div class="footer_dispatch-checkbox">
                                <input type="checkbox" name="checkbox" id="dispatch-checkbox1">
                                <label for="dispatch-checkbox1">Нажимая на кнопку «Отправить», я даю
                                    <a href="#">согласие на обработку персональных данных</a>
                                </label>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="srvs-demand_item">
                    <a href="#" class="srvs-demand_name" data-toggle="tab-toggle"><span>Список документов необходимых для продажи загородной недвижимости</span></a>
                    <div class="srvs-demand_tab" data-attr="tab">
                        <ul>
                            <li>
                                Свидетельство (а) о регистрации права собственности и/ или выписка из ЕГРН (на
                                земельный
                                участок и все оформленные строения)
                            </li>
                            <li>
                                Документы основания возникновения права (Договора купли-продажи, Договор передачи,
                                Договор
                                дарения, и т.п.)
                            </li>
                            <li>
                                Акт приёма-передачи Объекта (если Объект принадлежит собственникам на основании
                                договора мены
                                или купли-продажи, заключенного после 1 марта 1996г).
                            </li>
                            <li>
                                Паспорта всех собственников и пользователей Объекта, в том числе для
                                несовершеннолетних лиц с
                                14 лет
                            </li>
                            <li>Свидетельство (а) о рождении (для несовершеннолетних, не достигших
                                18 лет)</li>
                            <li>Свидетельство о регистрации/о расторжении брака</li>
                            <li>Свидетельство о смерти (при необходимости)</li>
                            <li>Свидетельство/справку о смене фамилии, имени, отчества (при
                                необходимости)</li>
                            <li>Технический паспорт</li>
                            <li>Выписка из домовой книги или справка о зарегистрированных лицах
                                (для жилых строений)</li>
                            <li>
                                Разрешение органов опеки и попечительства на отчуждение Объекта при наличии в числе
                                собственников несовершеннолетних детей
                            </li>
                            <li>
                                Справки об отсутствии задолженности за телефон, переговоры, коммунальные услуги,
                                электроэнергию
                            </li>
                            <li>
                                Нотариально удостоверенное согласие супруга (и) на отчуждение Объекта или заявление
                                об
                                отсутствии брачных отношений, нотариальная копия брачного договора (при необходимости)
                            </li>
                            <li>
                                Справки из психоневрологического (ПНД), наркологического (НД) диспансера на предмет
                                отсутствия учета в них собственников и пользователей Объекта
                            </li>
                            <li>
                                Нотариально удостоверенные заявления пользователей Объекта о снятии с
                                регистрационного учета
                                и освобождении Объекта в сроки, указанные в договоре по отчуждению Объекта
                            </li>
                            <li>Иные документы по требованию АН ФРИДОМ.</li>
                        </ul>
                        <form id="formSub2" method="POST">
                            <div class="footer_dispatch-input">
                                <span>Отправить мне на e-mail</span>
                                <input type="text" class="" placeholder="Ваш E-mail">
                                <input type="submit" class="btn-send" value="Отправить" disabled="">
                            </div>
                            <div class="footer_dispatch-checkbox">
                                <input type="checkbox" name="checkbox" id="dispatch-checkbox2">
                                <label for="dispatch-checkbox2">Нажимая на кнопку «Отправить», я даю
                                    <a href="#">согласие на обработку персональных данных</a>
                                </label>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="srvs-demand_item">
                    <a href="#" class="srvs-demand_name" data-toggle="tab-toggle"><span>Список документов по недвижимости для рассмотрения заявки на ипотечный кредит по строящемуся объекту недвижимости</span></a>
                    <div class="srvs-demand_tab" data-attr="tab">
                        <ul>
                            <li><span>&ndash;</span>
                                Свидетельство (а) о регистрации права собственности и/ или выписка из ЕГРН (на
                                земельный
                                участок и все оформленные строения)
                            </li>
                            <li><span>&ndash;</span>
                                Документы основания возникновения права (Договора купли-продажи, Договор передачи,
                                Договор
                                дарения, и т.п.)
                            </li>
                            <li><span>&ndash;</span>
                                Акт приёма-передачи Объекта (если Объект принадлежит собственникам на основании
                                договора мены
                                или купли-продажи, заключенного после 1 марта 1996г).
                            </li>
                            <li><span>&ndash;</span>
                                Паспорта всех собственников и пользователей Объекта, в том числе для
                                несовершеннолетних лиц с
                                14 лет
                            </li>
                            <li><span>&ndash;</span>Свидетельство (а) о рождении (для несовершеннолетних, не достигших
                                18 лет)</li>
                            <li>Свидетельство о регистрации/о расторжении брака</li>
                            <li><span>&ndash;</span>Свидетельство о смерти (при необходимости)</li>
                            <li><span>&ndash;</span>Свидетельство/справку о смене фамилии, имени, отчества (при
                                необходимости)</li>
                            <li><span>&ndash;</span>Технический паспорт</li>
                            <li><span>&ndash;</span>Выписка из домовой книги или справка о зарегистрированных лицах
                                (для жилых строений)</li>
                            <li><span>&ndash;</span>
                                Разрешение органов опеки и попечительства на отчуждение Объекта при наличии в числе
                                собственников несовершеннолетних детей
                            </li>
                            <li><span>&ndash;</span>
                                Справки об отсутствии задолженности за телефон, переговоры, коммунальные услуги,
                                электроэнергию
                            </li>
                            <li><span>&ndash;</span>
                                Нотариально удостоверенное согласие супруга (и) на отчуждение Объекта или заявление
                                об
                                отсутствии брачных отношений, нотариальная копия брачного договора (при необходимости)
                            </li>
                            <li><span>&ndash;</span>
                                Справки из психоневрологического (ПНД), наркологического (НД) диспансера на предмет
                                отсутствия учета в них собственников и пользователей Объекта
                            </li>
                            <li><span>&ndash;</span>
                                Нотариально удостоверенные заявления пользователей Объекта о снятии с
                                регистрационного учета
                                и освобождении Объекта в сроки, указанные в договоре по отчуждению Объекта
                            </li>
                            <li><span>&ndash;</span>Иные документы по требованию АН ФРИДОМ.</li>
                        </ul>
                        <form id="formSub3" method="POST">
                            <div class="footer_dispatch-input">
                                <span>Отправить мне на e-mail</span>
                                <input type="text" class="" placeholder="Ваш E-mail">
                                <input type="submit" class="btn-send" value="Отправить" disabled="">
                            </div>
                            <div class="footer_dispatch-checkbox">
                                <input type="checkbox" name="checkbox" id="dispatch-checkbox3">
                                <label for="dispatch-checkbox3">Нажимая на кнопку «Отправить», я даю
                                    <a href="#">согласие на обработку персональных данных</a>
                                </label>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="srvs-demand_item">
                    <a href="#" class="srvs-demand_name" data-toggle="tab-toggle"><span>Список документов для продажи или покупки объекта недвижимости (Квартира, комната)</span></a>
                    <div class="srvs-demand_tab" data-attr="tab">
                        <ul>
                            <li><span>&ndash;</span>
                                Свидетельство (а) о регистрации права собственности и/ или выписка из ЕГРН (на
                                земельный
                                участок и все оформленные строения)
                            </li>
                            <li><span>&ndash;</span>
                                Документы основания возникновения права (Договора купли-продажи, Договор передачи,
                                Договор
                                дарения, и т.п.)
                            </li>
                            <li><span>&ndash;</span>
                                Акт приёма-передачи Объекта (если Объект принадлежит собственникам на основании
                                договора мены
                                или купли-продажи, заключенного после 1 марта 1996г).
                            </li>
                            <li><span>&ndash;</span>
                                Паспорта всех собственников и пользователей Объекта, в том числе для
                                несовершеннолетних лиц с
                                14 лет
                            </li>
                            <li><span>&ndash;</span>Свидетельство (а) о рождении (для несовершеннолетних, не достигших
                                18 лет)</li>
                            <li>Свидетельство о регистрации/о расторжении брака</li>
                            <li><span>&ndash;</span>Свидетельство о смерти (при необходимости)</li>
                            <li><span>&ndash;</span>Свидетельство/справку о смене фамилии, имени, отчества (при
                                необходимости)</li>
                            <li><span>&ndash;</span>Технический паспорт</li>
                            <li><span>&ndash;</span>Выписка из домовой книги или справка о зарегистрированных лицах
                                (для жилых строений)</li>
                            <li><span>&ndash;</span>
                                Разрешение органов опеки и попечительства на отчуждение Объекта при наличии в числе
                                собственников несовершеннолетних детей
                            </li>
                            <li><span>&ndash;</span>
                                Справки об отсутствии задолженности за телефон, переговоры, коммунальные услуги,
                                электроэнергию
                            </li>
                            <li><span>&ndash;</span>
                                Нотариально удостоверенное согласие супруга (и) на отчуждение Объекта или заявление
                                об
                                отсутствии брачных отношений, нотариальная копия брачного договора (при необходимости)
                            </li>
                            <li><span>&ndash;</span>
                                Справки из психоневрологического (ПНД), наркологического (НД) диспансера на предмет
                                отсутствия учета в них собственников и пользователей Объекта
                            </li>
                            <li><span>&ndash;</span>
                                Нотариально удостоверенные заявления пользователей Объекта о снятии с
                                регистрационного учета
                                и освобождении Объекта в сроки, указанные в договоре по отчуждению Объекта
                            </li>
                            <li><span>&ndash;</span>Иные документы по требованию АН ФРИДОМ.</li>
                        </ul>
                        <form id="formSub4" method="POST">
                            <div class="footer_dispatch-input">
                                <span>Отправить мне на e-mail</span>
                                <input type="text" class="" placeholder="Ваш E-mail">
                                <input type="submit" class="btn-send" value="Отправить" disabled="">
                            </div>
                            <div class="footer_dispatch-checkbox">
                                <input type="checkbox" name="checkbox" id="dispatch-checkbox4">
                                <label for="dispatch-checkbox4">Нажимая на кнопку «Отправить», я даю
                                    <a href="#">согласие на обработку персональных данных</a>
                                </label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END: services -demand -->