<!-- BEGIN: services price -->
<section id="price" class="section section--bg2">
    <div class="container">
        <div class="srvs-price">
            <h3>Цены на услуги</h3>
            <div class="srvs-price_list">
                <!--print 04-10-->
                <div class="srvs-price_item">
                    <a href="#" class="srvs-price_name" data-toggle="tab-toggle">Продажа дома</a>

                    <div class="srvs-price_tab" data-attr="tab">

                        <div class="srvs-price_table">
                            <div class="srvs-price_table-heading">
                                <div class="srvs-price_table-cell">
                                    <p>Стоимость недвижимости/</p>
                                    <p>сумма кредита</p>
                                </div>
                                <div class="srvs-price_table-cell">
                                    <p>Стоимость услуг</p>
                                    <p>(квартира/комната)</p>
                                </div>
                            </div>
                            <div class="srvs-price_table-row">
                                <div class="srvs-price_table-cell">> 3.3 млн ₽</div>
                                <div class="srvs-price_table-cell">150 тыс ₽</div>
                            </div>
                            <div class="srvs-price_table-row">
                                <div class="srvs-price_table-cell">
                                    < 3.3 млн до 6 млн ₽</div> <div class="srvs-price_table-cell">170 тыс ₽
                                </div>
                            </div>
                            <div class="srvs-price_table-row">
                                <div class="srvs-price_table-cell">
                                    < 8 млн ₽ до 50 млн ₽ </div> <div class="srvs-price_table-cell">2% от стоимости
                                        недвижимости
                                </div>
                            </div>
                            <div class="srvs-price_table-row">
                                <div class="srvs-price_table-cell">
                                    < 50 млн ₽</div> <div class="srvs-price_table-cell">4% от стоимости недвижимости
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="srvs-price_print">
                        <a href="javascript:;" onclick="addPrint($(this))">Распечатать</a>
                    </div>
                </div>
                
                <div class="srvs-price_item">
                    <a href="#" class="srvs-price_name" data-toggle="tab-toggle">Продажа участка</a>

                    <div class="srvs-price_tab" data-attr="tab">
                        <div class="srvs-price_table">
                            <div class="srvs-price_table-heading">
                                <div class="srvs-price_table-cell">
                                    <p>Стоимость недвижимости/</p>
                                    <p>сумма кредита</p>
                                </div>
                                <div class="srvs-price_table-cell">
                                    <p>Стоимость услуг</p>
                                    <p>(квартира/комната)</p>
                                </div>
                            </div>
                            <div class="srvs-price_table-row">
                                <div class="srvs-price_table-cell">> 3.3 млн ₽</div>
                                <div class="srvs-price_table-cell">150 тыс ₽</div>
                            </div>
                            <div class="srvs-price_table-row">
                                <div class="srvs-price_table-cell">
                                    < 3.3 млн до 6 млн ₽</div> <div class="srvs-price_table-cell">170 тыс ₽
                                </div>
                            </div>
                            <div class="srvs-price_table-row">
                                <div class="srvs-price_table-cell">
                                    < 8 млн ₽ до 50 млн ₽ </div> <div class="srvs-price_table-cell">2% от стоимости
                                        недвижимости
                                </div>
                            </div>
                            <div class="srvs-price_table-row">
                                <div class="srvs-price_table-cell">
                                    < 50 млн ₽</div> <div class="srvs-price_table-cell">4% от стоимости недвижимости
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="srvs-price_print"><a href="javascript:;" onclick="addPrint($(this))">(Распечатать)</a></div>
                </div>
                <div class="srvs-price_item">
                    <a href="#" class="srvs-price_name" data-toggle="tab-toggle">Продажа квартиры</a>

                    <div class="srvs-price_tab" data-attr="tab">
                        <div class="srvs-price_table">
                            <div class="srvs-price_table-heading">
                                <div class="srvs-price_table-cell">
                                    <p>Стоимость недвижимости/</p>
                                    <p>сумма кредита</p>
                                </div>
                                <div class="srvs-price_table-cell">
                                    <p>Стоимость услуг</p>
                                    <p>(квартира/комната)</p>
                                </div>
                            </div>
                            <div class="srvs-price_table-row">
                                <div class="srvs-price_table-cell">> 3.3 млн ₽</div>
                                <div class="srvs-price_table-cell">150 тыс ₽</div>
                            </div>
                            <div class="srvs-price_table-row">
                                <div class="srvs-price_table-cell">
                                    < 3.3 млн до 6 млн ₽</div> <div class="srvs-price_table-cell">170 тыс ₽
                                </div>
                            </div>
                            <div class="srvs-price_table-row">
                                <div class="srvs-price_table-cell">
                                    < 8 млн ₽ до 50 млн ₽ </div> <div class="srvs-price_table-cell">2% от стоимости
                                        недвижимости
                                </div>
                            </div>
                            <div class="srvs-price_table-row">
                                <div class="srvs-price_table-cell">
                                    < 50 млн ₽</div> <div class="srvs-price_table-cell">4% от стоимости недвижимости
                                </div>
                            </div>
                        </div>
                        <div class="srvs-price_features">
                            <div class="srvs-price_feature">
                                <h5>При наличии обременения в виде ипотеки (квартира/комната)</h5>
                                <div class="srvs-price_table">
                                    <div class="srvs-price_table-heading">
                                        <div class="srvs-price_table-cell">Стоимость недвижимости/ сумма кредита</div>
                                        <div class="srvs-price_table-cell">Стоимость услуг (квартира/комната)</div>
                                    </div>
                                    <div class="srvs-price_table-row">
                                        <div class="srvs-price_table-cell">> 3.3 млн ₽</div>
                                        <div class="srvs-price_table-cell">150 тыс ₽</div>
                                    </div>
                                    <div class="srvs-price_table-row">
                                        <div class="srvs-price_table-cell">
                                            < 3.3 млн до 6 млн ₽</div> <div class="srvs-price_table-cell">170 тыс ₽
                                        </div>
                                    </div>
                                    <div class="srvs-price_table-row">
                                        <div class="srvs-price_table-cell">
                                            < 8 млн ₽ до 50 млн ₽ </div> <div class="srvs-price_table-cell">2% от
                                                стоимости
                                                недвижимости
                                        </div>
                                    </div>
                                    <div class="srvs-price_table-row">
                                        <div class="srvs-price_table-cell">
                                            < 50 млн ₽</div> <div class="srvs-price_table-cell">4% от стоимости
                                                недвижимости
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="srvs-price_feature">
                                <h5>При наличии обременения в виде ипотеки (квартира/комната)</h5>
                                <p>АН "ФРИДОМ" предоставляет скидки на услуги для пенсионеров, многодетных семей (3 и
                                    более детей) и молодых семей (возраст супругов до 28 лет)</p>
                                <div class="srvs-price_table">
                                    <div class="srvs-price_table-heading">
                                        <div class="srvs-price_table-cell">Стоимость недвижимости/ сумма кредита</div>
                                        <div class="srvs-price_table-cell">Стоимость услуг (квартира/комната)</div>
                                    </div>
                                    <div class="srvs-price_table-row">
                                        <div class="srvs-price_table-cell">> 3.3 млн ₽</div>
                                        <div class="srvs-price_table-cell">150 тыс ₽</div>
                                    </div>
                                    <div class="srvs-price_table-row">
                                        <div class="srvs-price_table-cell">
                                            < 3.3 млн до 6 млн ₽</div> <div class="srvs-price_table-cell">170 тыс ₽
                                        </div>
                                    </div>
                                    <div class="srvs-price_table-row">
                                        <div class="srvs-price_table-cell">
                                            < 8 млн ₽ до 50 млн ₽ </div> <div class="srvs-price_table-cell">2% от
                                                стоимости
                                                недвижимости
                                        </div>
                                    </div>
                                    <div class="srvs-price_table-row">
                                        <div class="srvs-price_table-cell">
                                            < 50 млн ₽</div> <div class="srvs-price_table-cell">4% от стоимости
                                                недвижимости
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="srvs-price_print">
                        <a href="javascript:;" onclick="addPrint($(this))">Распечатать</a>
                    </div>
                </div>
                <div class="srvs-price_item">
                    <a href="#" class="srvs-price_name" data-toggle="tab-toggle">Продажа коммерческого объекта </a>

                    <div class="srvs-price_tab" data-attr="tab">
                        <div class="srvs-price_table">
                            <div class="srvs-price_table-heading">
                                <div class="srvs-price_table-cell">
                                    <p>Стоимость недвижимости/</p>
                                    <p>сумма кредита</p>
                                </div>
                                <div class="srvs-price_table-cell">
                                    <p>Стоимость услуг</p>
                                    <p>(квартира/комната)</p>
                                </div>
                            </div>
                            <div class="srvs-price_table-row">
                                <div class="srvs-price_table-cell">> 3.3 млн ₽</div>
                                <div class="srvs-price_table-cell">150 тыс ₽</div>
                            </div>
                            <div class="srvs-price_table-row">
                                <div class="srvs-price_table-cell">
                                    < 3.3 млн до 6 млн ₽</div> <div class="srvs-price_table-cell">170 тыс ₽
                                </div>
                            </div>
                            <div class="srvs-price_table-row">
                                <div class="srvs-price_table-cell">
                                    < 8 млн ₽ до 50 млн ₽ </div> <div class="srvs-price_table-cell">2% от стоимости
                                        недвижимости
                                </div>
                            </div>
                            <div class="srvs-price_table-row">
                                <div class="srvs-price_table-cell">
                                    < 50 млн ₽</div> <div class="srvs-price_table-cell">4% от стоимости недвижимости
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="srvs-price_print">
                        <a href="javascript:;" onclick="addPrint($(this))">Распечатать</a>
                    </div>
                </div>
                <!--END print 04-10-->
            </div>
            <a href="#setBid" class="btn-action btn-action--default">Подать заявку</a>
        </div>
    </div>
</section>
<!-- END: services price -->