<!-- BEGIN: services request -->
<section id="request" class="section section--bg1">
    <div class="srvs-request">
        <div class="container">
            <div class="srvs-request_advert advert">
                <div class="advert_person">
                    <div class="advert_person-img"><img src="assets/img/Devyaterikov+AN.png" alt="img"></div>
                    <div class="advert_person-info">
                        <div class="advert_person-name">Андрей Девятериков</div>
                        <div class="advert_person-position">Начальник отдела проведения сделок и учета</div>
                        <div class="advert_person-tel"><a href="tel:+7(495)580-30-32">+7 (495) 580-30-32</a></div>
                    </div>
                </div>
                <div class="advert_info">
                    <div class="advert_title">Мы даём гарантию, что продадим залоговую недвижимость безопасно и быстро</div>
                    <p>Более 1000 человек выгодно продали недвижимость с нашей помощью</p>
                </div>
            </div>
        </div>
        <div class="srvs-request_form container">
            <div class="srvs-request_title">Заполните заявку</div>
            <form id="formRequest" method="POST" action="">
                <div class="input-wrap">
                    <div class="s-contacts__city">
                        <div class="header_filter-item header_filter-city">
                            <div class="header_filter-item-wrap">
                                <span>Бесплатная консультация</span>
                                <img src="img/drop.png" alt="" class="">
                            </div>
                            <div class="header_filter_select">
                                <div class="header-filter_select-wrap">
                                    <ul>
                                        <li>Бесплатная консультация</li>
                                        <li>Бесплатная консультация1</li>
                                        <li>Бесплатная консультация2</li>
                                        <li>Бесплатная консультация3</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="input_mask"></div>
                        </div>
                    </div>
                </div>
                <div class="input-wrap">
                    <input type="text" class="input-box" name="name" id="name2" placeholder="Имя*">
                    <label for="name">Имя</label>
                </div>
                <div class="input-wrap">
                    <input type="text" class="input-box" name="phone" id="phone2" placeholder="Телефон*">
                    <label for="phone">Телефон</label>
                </div>
                <div class="input-wrap">
                    <input type="email" class="input-box" name="email" id="email2" placeholder="E-mail">
                    <label for="email">E-mail</label>
                </div>
                <div class="input-wrap">
                    <textarea type="text" class="input-box" name="comment1" id="comment1" rows="3" placeholder="Комментарий"></textarea>
                    <label for="comment1">Комментарий</label>
                </div>
                <div class="srvs-request_form-footer">
                    <div class="footer_dispatch-checkbox">
                        <input type="checkbox" name="checkbox" id="dispatch-checkbox">
                        <label for="dispatch-checkbox">Нажимая на кнопку «Отправить»,<br> я даю
                            <a href="#">согласие на обработку персональных данных</a>
                        </label>
                    </div>
                    <button type="submit" class="btn-action btn-action--default" disabled>Отправить</button>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- END: services request -->