
@@include('./_steps.tpl.html')
@@include('./_price.tpl.html')
@@include('./_demand.tpl.html')
<section id="credit" class="section section--bg2">
    <div class="container">
        @@include('../_calc-credit.tpl.html')
    </div>
</section>
<section id="advantages" class="s-advantages section">
    <div class="container">
        <div class="advantages">
            <div class="advantages__title">
                <h3>Наши преимущества</h3>
            </div>
            <div class="advantages__slider">
                <div class="advantages__item">
                    <div class="advantage">
                        <div class="b-advantage">
                            <img src="assets/img/advantage-1.png" alt="">
                            <div class="advantage__text"><span>10 лет успешной работы на рынке недвижимости</span></div>
                        </div>
                        <span class="advantage__desc"></span>
                    </div>
                </div>
                <div class="advantages__item">
                    <div class="advantage">
                        <div class="b-advantage">
                            <img src="assets/img/advantage-2.png" alt="">
                            <div class="advantage__text"><span>10 лет успешной работы на рынке недвижимости</span></div>
                        </div>
                        <span class="advantage__desc"></span>
                    </div>
                </div>
                <div class="advantages__item">
                    <div class="advantage">
                        <div class="b-advantage">
                            <img src="assets/img/advantage-3.png" alt="">
                            <div class="advantage__text"><span>10 лет успешной работы на рынке недвижимости</span></div>
                        </div>
                        <span class="advantage__desc"></span>
                    </div>
                </div>
                <div class="advantages__item">
                    <div class="advantage">
                        <div class="b-advantage">
                            <img src="assets/img/advantage-4.png" alt="">
                            <div class="advantage__text"><span>10 лет успешной работы на рынке недвижимости</span></div>
                        </div>
                        <span class="advantage__desc">Наши услуги сертифицированы по стандарту СТО РГР 021.01-02. Наш
                            Наши услуги сертифицированы по стандарту СТО РГР 021.01-02. Наш</span>
                    </div>
                </div>
                <div class="advantages__item">
                    <div class="advantage">
                        <div class="b-advantage">
                            <img src="assets/img/advantage-5.png" alt="">
                            <div class="advantage__text"><span>10 лет успешной работы на рынке недвижимости</span></div>
                        </div>
                        <span class="advantage__desc">Наши услуги сертифицированы по стандарту СТО РГР 021.01-02. Наш
                            Наши услуги сертифицированы по стандарту СТО РГР 021.01-02. Наш</span>
                    </div>
                </div>
                <div class="advantages__item">
                    <div class="advantage">
                        <div class="b-advantage">
                            <img src="assets/img/advantage-6.png" alt="">
                            <div class="advantage__text"><span>10 лет успешной работы на рынке недвижимости</span></div>
                        </div>
                        <span class="advantage__desc">Наши услуги сертифицированы по стандарту СТО РГР 021.01-02. Наш
                            Наши услуги сертифицированы по стандарту СТО РГР 021.01-02. Наш</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@@include('./_request.tpl.html')
<section id="review" class="s-review">
    <div class="s-review__title">
        <div class="container"><h3>Отзывы клиентов</h3></div>
    </div>
    <div class="s-review__content">
        <div class="container">
            <div class="s-review__slider">
                <a href="#" class="s-review__item">
                    @@include('../_review-item.html', {
                        "img": "assets/img/card-1.png",
                        "title": "Морева Надежда Викторовна",
                        "text": "Добрый день! Мне бы хотелось поблагодарить сотрудников агентства «Фридом».По рекомендации знакомых, которые пользовались услугами агентства и остались довольны",
                        "link": "Источник: <span>www.yell.ru</span>"
                    })
                    @@include('../_review-item.html', {
                        "img": "assets/img/card-6.png",
                        "title": "Ольга Борисовна",
                        "text": "Я покупала квартиру с ипотечным обременением. Юридическое сопровождение выполнялось понятно и быстро. Мне доходчиво разъяснили все этапы сделки и всё прошло как планировалось",
                        "link": "Источник: <span>www.yell.ru Мне доходчиво разъяснили Мне доходчиво разъяснили Мне доходчиво разъяснили Мне доходчиво разъяснили</span>"
                    })
                </a>
                <a href="#" class="s-review__item">
                    @@include('../_review-item.html', {
                        "img": "assets/img/card-5.png",
                        "title": "Морева Надежда Викторовна",
                        "text": "Добрый день! Мне бы хотелось поблагодарить сотрудников агентства«Фридом».По рекомендации знакомых, которые пользовались услугами агентства иостались довольны",
                        "link": "Источник: <span>www.yell.ru</span>"
                    })
                    @@include('../_review-item.html', {
                        "img": "assets/img/card-6.png",
                        "title": "Ольга Борисовна",
                        "text": "Я покупала квартиру с ипотечным обременением. Юридическое сопровождениевыполнялось понятно и быстро. Мне доходчиво разъяснили все этапы сделки и всё прошлокак планировалось",
                        "link": ""
                    })
                </a>
                <a href="#" class="s-review__item">
                    @@include('../_review-item.html', {
                        "img": "assets/img/card-5.png",
                        "title": "Морева Надежда Викторовна",
                        "text": "Добрый день! Мне бы хотелось поблагодарить сотрудников агентства«Фридом».По рекомендации знакомых, которые пользовались услугами агентства иостались довольны",
                        "link": "Источник: <span>www.yell.ru</span>"
                    })
                    @@include('../_review-item.html', {
                        "img": "assets/img/card-6.png",
                        "title": "Ольга Борисовна",
                        "text": "Я покупала квартиру с ипотечным обременением. Юридическое сопровождениевыполнялось понятно и быстро. Мне доходчиво разъяснили все этапы сделки и всё прошлокак планировалось",
                        "link": ""
                    })
                </a>
                <a href="#" class="s-review__item">
                    @@include('../_review-item.html', {
                        "img": "assets/img/card-7.png",
                        "title": "Морева Надежда Викторовна Морева Надежда ВикторовнаМорева Надежда ВикторовнаМорева Надежда ВикторовнаМорева Надежда ВикторовнаМорева Надежда ВикторовнаМорева Надежда Викторовна",
                        "text": "Добрый день! Мне бы хотелось поблагодарить сотрудников агентства«Фридом».По рекомендации знакомых, которые пользовались услугами агентства иостались довольны",
                        "link": "Источник: <span>www.yell.ru</span>"
                    })
                    @@include('../_review-item.html', {
                        "img": "assets/img/card-6.png",
                        "title": "Ольга Борисовна",
                        "text": "Я покупала квартиру с ипотечным обременением. Юридическое сопровождениевыполнялось понятно и быстро. Мне доходчиво разъяснили все этапы сделки и всё прошлокак планировалось",
                        "link": ""
                    })
                </a>
                <a href="#" class="s-review__item">
                    @@include('../_review-item.html', {
                        "img": "assets/img/card-5.png",
                        "title": "Морева Надежда Викторовна",
                        "text": "Добрый день! Мне бы хотелось поблагодарить сотрудников агентства«Фридом».Порекомендации знакомых, которые пользовались услугами агентства иостались довольны",
                        "link": "Источник: <span>www.yell.ru</span>"
                    })
                    @@include('../_review-item.html', {
                        "img": "assets/img/card-7.png",
                        "title": "Ольга Борисовна",
                        "text": "Я покупала квартиру с ипотечным обременением. Юридическоесопровождениевыполнялось понятно и быстро. Мне доходчиво разъяснили все этапы сделкии всё прошлокак планировалось",
                        "link": ""
                    })
                </a>
                <a href="#" class="s-review__item">
                    @@include('../_review-item.html', {
                        "img": "assets/img/card-5.png",
                        "title": "Морева Надежда Викторовна",
                        "text": "Добрый день! Мне бы хотелось поблагодарить сотрудников агентства«Фридом».Порекомендации знакомых, которые пользовались услугами агентства иостались довольны",
                        "link": "Источник: <span>www.yell.ru</span>"
                    })
                    @@include('../_review-item.html', {
                        "img": "assets/img/card-6.png",
                        "title": "Ольга Борисовна",
                        "text": "Я покупала квартиру с ипотечным обременением. Юридическоесопровождениевыполнялось понятно и быстро. Мне доходчиво разъяснили все этапы сделкии всё прошлокак планировалось",
                        "link": ""
                    })
                </a>
            </div>
        </div>
    </div>
</section>
@@include('./_desc.tpl.html')