<!-- BEGIN: steps -->
<section id="steps" class="section section--bg1">
    <div class="container">
       <div class="srvs-steps">
            <h3>Всего 5 простых шагов</h3>
            <ul class="srvs-steps_list">
                <li>
                    <h4>1. Оцениваем объект</h4>
                    <p>Определяем и согласуем с Вами рыночную стоимость недвижимости</p>
                </li>
                <li>
                    <h4>2. Проводим полноценную рекламную кампанию для Вашего объекта</h4>
                    <p>Мы размещаем объявления о продаже объектов на крупнейших тематических площадках: ЦИАН, Avito,
                        Яндекс.Недвижимость, Домофонд, Квадрум и др.</p>
                </li>
                <li>
                    <h4>3. Находим покупателя</h4>
                    <p>Организуем показы объекта потенциальным покупателям, согласуем с покупателем условия продажи.</p>
                </li>
                <li>
                    <h4>4. Собираем документы</h4>
                    <p>Мы соберем полный пакет документов, необходимых для проведения сделки.</p>
                </li>
                <li>
                    <h4>5. Проведем и зарегистрируем сделку</h4>
                    <p>
                        Мы подготовим, согласуем и подпишем договор купли-продажи, обеспечим безопасную передачу денег,
                        а также сопроводим процедуру регистрации сделки в Росреестре.
                    </p>
                </li>
            </ul>
            <a href="#formRequest" class="btn-action btn-action--steps btn-action--default">Подать заявку</a>
       </div>
    </div>
</section>
<!-- END: steps -->