<div class="advantages__item">
    <div class="advantage">
        <div class="b-advantage">
            <img src="@@img" alt="">
            <div class="advantage__text"><span>@@advantage</span></div>
        </div>
        <span class="advantage__desc">@@name</span>
    </div>
</div>