<!-- BEGIN: calc credit -->
<div class="calc">
    <div class="calc_heading">
        <div class="calc_title">
            <h3>Рассчитайте ипотеку <div class="dropdown">
                    <a href="#" class="dropdown__toggle">
                        <span class="name"><span class="value"></span>по квартире</span>
                    </a>
                    <div class="dropdown__menu hidden">
                        <div class="dropdown__item">
                            <input type="radio" name="creditName" id="creditName1" value="по квартире" checked>
                            <label for="creditName1">по квартире
                            </label>
                        </div>
                        <div class="dropdown__item">
                            <input type="radio" name="creditName" id="creditName2" value="по кредиту">
                            <label for="creditName2">по кредиту
                            </label>
                        </div>
                        <div class="dropdown__item">
                            <input type="radio" name="creditName" id="creditName3" value="по платежам">
                            <label for="creditName3">по платежам
                            </label>
                        </div>
                        <div class="dropdown__item">
                            <input type="radio" name="creditName" id="creditName4" value="по доходам">
                            <label for="creditName4">по доходам
                            </label>
                        </div>
                    </div>
                </div>
            </h3>
        </div>
        <div class="calc_subtitle">на основе стоимости приобретаемой недвижимости</div>
    </div>
    <div class="calc_body">
        <form id="calcCredit" method="" action="">
            <div class="calc_data-block">
                <div class="calc_data">
                    <div class="key">Выберите валюту</div>
                    <div class="cur">
                        <div class="cur_item">
                            <label for="cur1">₽</label>
                            <input type="radio" name="currency" id="cur1" value="RUB" data-key="₽" checked>
                            <div class="radio-btn"></div>
                        </div>
                        <div class="cur_item">
                            <label for="cur2">$</label>
                            <input type="radio" name="currency" id="cur2" value="USD" data-key="$">
                            <div class="radio-btn"></div>
                        </div>
                    </div>
                </div>
                <div class="calc_data">
                    <div class="key">Процентная ставка (годовая)</div>
                    <div class="val">
                        <input type="text" value="14.5" data-attr="per">
                        <!-- <input class="calc_range" type="text" min="0" max="100" data-key="%"> -->
                        <div class="calc_range" min="5" max="100" data-key="%"></div>
                    </div>
                </div>
                <div class="calc_data">
                    <div class="key">Срок кредита (лет)</div>
                    <div class="val">
                        <input type="text" value="20" data-attr="term">
                        <!-- <input class="calc_range" type="text" min="0" max="10"> -->
                        <div class="calc_range" min="1" max="100" data-key=""></div>
                    </div>
                </div>
                <div class="calc_data">
                    <div class="key">Количество членов семьи</div>
                    <div class="val">
                        <input type="text" value="5" data-attr="numOfMembers" data-key="">
                        <!-- <input type="range" min="1" max="100" step="1" value="0"></div> -->
                        <div class="calc_range" min="1" max="10" data-key=""></div>
                    </div>
                </div>
                <div class="calc_data">
                    <div class="key">Первоначальный взнос</div>
                    <div class="val">
                        <input type="text" value="1500000" data-attr="initialFee" data-key="₽">
                        <!-- <input type="range" min="0" max="100" step="" value="0"></div> -->
                        <div class="calc_range val_cur" min="1000000" max="3000000" data-key="₽"></div>
                    </div>
                </div>
                <div class="calc_data">
                    <div class="key">Размер кредита</div>
                    <div class="val">
                        <input type="text" value="5000000" data-key="₽" data-attr="credit">
                        <div class="calc_range val_cur" min="100000" max="15000000" data-key="₽"></div>
                        <!-- <input type="range" min="0" max="100" step="" value="0"></div> -->
                    </div>
                </div>
                </div>
                <div class="calc_result-block">
                    <div class="calc_result">
                        <div class="key key--permonth">Ежемесячный платеж</div>
                        <div class="val val--permonth" data-attr="permonth"><span class="value">90 155</span><span class="cur">₽</span></div>
                        <input type="text" name="permonth" id="permonth">
                    </div>
                    <div class="calc_result">
                        <div class="key">Доход семьи после налогообложения</div>
                        <div class="val" data-attr="profitResult"><span class="value">162 030</span><span class="cur">₽</span></div>
                        <input type="text" name="profitResult" id="profitResult">
                    </div>
                    <div class="calc_result">
                        <div class="key">Размер кредита</div>
                        <div class="val" data-attr="creditResult"><span class="value">8 500 000</span><span class="cur">₽</span></div>
                        <input type="text" name="creditResult" id="creditResult">
                    </div>
                    <div class="calc_result">
                        <div class="key">Первоначальный взнос</div>
                        <div class="val" data-attr="initialFeeResult"><span class="value">1 500 000</span><span class="cur">₽</span></div>
                        <input type="text" name="initialFeeResult" id="initialFeeResult">
                    </div>
                    <button type="submit" class="btn-action btn-action--default">
                        <span class="text-1">Подобрать выгодную ипотеку</span>
                        <span class="text-2">Подобрать ипотеку</span>
                    </button>
                </div>
        </form>
    </div>
</div>
<!-- END: calc credit -->