<div class="card__head">
    <div class='card__title card__title_sub'>Загородная</div>
</div>
<div class="card__title card__title_sm">Продажа</div>
<ul class="card__list card__list_sale">
    <li class="card__item">
        <a href="#" class="card__link">
            <span class="text">Офисы</span>
            <span class="count">100</span>
        </a>
    </li>
    <li class="card__item">
        <a href="#" class="card__link">
            <span class="text">Торговые помещения</span>
            <span class="count">202</span>
        </a>
    </li>
    <li class="card__item">
        <a href="#" class="card__link">
            <span class="text">Помещения свободного назначения</span>
            <span class="count">189</span>
        </a>
    </li>
    <li class="card__item">
        <a href="#" class="card__link">
            <span class="text">Склады</span>
            <span class="count">56</span>
        </a>
    </li>
    <li class="card__item">
        <a href="#" class="card__link">
            <span class="text">Здания</span>
            <span class="count">70</span>
        </a>
    </li>
    <li class="card__item">
        <a href="#" class="card__link">
            <span class="text">Земля для бизнеса</span>
            <span class="count">100</span>
        </a>
    </li>
    <li class="card__item">
        <a href="#" class="card__link">
            <span class="text">Инвестпроекты</span>
            <span class="count">404</span>
        </a>
    </li>
    <li class="card__item">
        <a href="#" class="card__link card__link_full">
            <span class="text">Все предложения</span>
            <span class="count">150</span>
        </a>
    </li>
</ul>
<div class="card__title card__title_sm">Аренда</div>
<ul class="card__list card__list_lease">
    <li class="card__item">
        <a href="#" class="card__link">
            <span class="text">Офисы</span>
            <span class="count">100</span>
        </a>
    </li>
    <li class="card__item">
        <a href="#" class="card__link">
            <span class="text">Торговые помещения</span>
            <span class="count">202</span>
        </a>
    </li>
    <li class="card__item">
        <a href="#" class="card__link">
            <span class="text">Помещения свободного назначения</span>
            <span class="count">189</span>
        </a>
    </li>
    <li class="card__item">
        <a href="#" class="card__link">
            <span class="text">Склады</span>
            <span class="count">56</span>
        </a>
    </li>
    <li class="card__item">
        <a href="#" class="card__link">
            <span class="text">Здания</span>
            <span class="count">70</span>
        </a>
    </li>
    <li class="card__item">
        <a href="#" class="card__link">
            <span class="text">Земля для бизнеса</span>
            <span class="count">100</span>
        </a>
    </li>
    <li class="card__item">
        <a href="#" class="card__link">
            <span class="text">Инвестпроекты</span>
            <span class="count">404</span>
        </a>
    </li>
    <li class="card__item">
        <a href="#" class="card__link card__link_full">
            <span class="text">Все предложения</span>
            <span class="count">150</span>
        </a>
    </li>
</ul>