<!-- BEGIN: catalog-start -->

<div class="catalog page catalog_start">
    <div class="page__title">
        <div class="container">
            <h1>Каталог недвижимости</h1>
        </div>
    </div>
    <section id="banner" class="s-banner" style="background-color: #446d7b; background-image: url(assets/img/residential-district.png); background-position: top center; background-repeat: repeat-x; background-size: cover;">
        <div class="container">
            <div class="s-banner__filter">
                <div class="header_filter">
                    <p class="header_filter-title">Найдите подходящий вариант из более чем 89 540 объектов</p>
                    <form>
                        <div class="header_filter-wrap">
                            <div class="header_filter-item header_filter-action">
                                <div class="header_filter-item-wrap">
                                    <span>Купить</span>
                                    <img src="img/drop.png" alt="">
                                </div>
                                <div class="header_filter_select">
                                    <div class="header-filter_select-wrap">
                                        <ul>
                                            <li>Москва</li>
                                            <li>Московская область</li>
                                            <li>Санкт-Петербург</li>
                                            <li>Ростов-На-Дону</li>
                                            <li>Сочи</li>
                                            <li>Тульская область</li>
                                            <li>Калининградская область</li>
                                            <li>Краснодарский край</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="input_mask"></div>
                            </div>
                            <div class="header_filter-item header_filter-city">
                                <div class="header_filter-item-wrap">
                                    <span>Москва</span>
                                    <img src="img/drop.png" alt="">
                                </div>
                                <div class="header_filter_select">
                                    <div class="header-filter_select-wrap">
                                        <ul>
                                            <li>Москва</li>
                                            <li>Московская область</li>
                                            <li>Санкт-Петербург</li>
                                            <li>Ростов-На-Дону</li>
                                            <li>Сочи</li>
                                            <li>Тульская область</li>
                                            <li>Калининградская область</li>
                                            <li>Краснодарский край</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="input_mask"></div>
                            </div>
                            <div class="header_filter-item header_filter-market">
                                <div class="header_filter-item-wrap">
                                    <span>Вторичный рынок</span>
                                    <img src="img/drop.png" alt="">
                                </div>
                                <div class="header_filter_select">
                                    <div class="header-filter_select-wrap">
                                        <ul>
                                            <li>Москва</li>
                                            <li>Московская область</li>
                                            <li>Санкт-Петербург</li>
                                            <li>Ростов-На-Дону</li>
                                            <li>Сочи</li>
                                            <li>Тульская область</li>
                                            <li>Калининградская область</li>
                                            <li>Краснодарский край</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="input_mask"></div>
                            </div>
                            <div class="header_filter-item header_filter-range">
                                <div class="header_filter-item-wrap">
                                    <div class="header_filter-range-from">
                                        <span>от</span>
                                        <input type="text">
                                    </div>
                                    <div class="header_filter-range-to">
                                        <span>до</span>
                                        <input type="text">
                                    </div>
                                    <span class="header_filter-currency">₽</span>
                                </div>
                            </div>
                            <div class="header_filter-item header_filter-search-btn">
                                <a href="#">Найти</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section id="categories" class="s-categories">
        <div class="s-filter__block">
            <div class="s-filter__opt">
                <div class="offer__social">
                    <a href="#"><span class="like"></span></a>
                    <a href="#"><span class="compare"></span></a>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="container">
                <div class="content__tags">
                    <a href="#" class="content__tag">Жилая недвижимость</a>
                    <a href="#" class="content__tag">Коммерческая недвижимость</a>
                    <a href="#" class="content__tag">Загородная недвижимость</a>
                    <a href="#" class="content__tag">Элитная недвижимость</a>
                    <a href="#" class="content__tag">Новостройки</a>
                    <a href="#" class="content__tag">Зарубежная недвижимость</a>
                    <a href="#" class="content__tag">Элитные коттеджные поселки</a>
                    <a href="#" class="content__tag">Элитные жилые комплексы</a>
                </div>
                <div class="content__list">
                    <div class="content__item">
                        @@include('_start-item.html', { "img": "assets/img/realty-1.png", "title": "Жилая недвижимость", "subtitle": "", "subtitle1": "", "numId": "1", "numLink1": "1", "numLink2": "2", "cardList": ""})
                    </div>
                    <div class="content__item">
                        @@include('_start-item.html', { "img": "assets/img/realty-2.png", "title": "Коммерческая недвижимость", "subtitle": "", "subtitle1": "", "numId": "2", "numLink1": "3", "numLink2": "4", "cardList": ""})
                    </div>                    
                    <div class="content__item">
                        @@include('_start-item.html', { "img": "assets/img/realty-3.png", "title": "Загородная недвижимость", "subtitle": "", "subtitle1": "", "numId": "3", "numLink1": "5", "numLink2": "6", "cardList": ""})
                    </div>
                    <div class="content__item">
                        <div class="card card_sections">
                            <div class="card__header">
                                <img class="card__image" src="assets/img/realty-4.png" alt="realty">
                            </div>
                            <div id="tabsCatStart-4" class="card__body">
                                <ul class="card__menu">
                                    <li class="card__item">
                                        <a href="#tabCatStart-7" class="card__link">Продажа</a>
                                    </li>
                                    <li class="card__item">
                                        <a href="#tabCatStart-8" class="card__link">Аренда</a>
                                    </li>
                                </ul>
                                <div class="card__title">Элитная недвижимость</div>
                                <div id="tabCatStart-7" class="card__content card__content_sale">
                                    <div class="card__title card__title_2">Элитная недвижимость</div>
                                    <div class="card__head"><div class='card__title card__title_sub'>Городская</div></div>
                                    <div class="card__title card__title_sm">Продажа</div>
                                    <div class="flex-fix">
                                        <ul class="card__list card__list_sale card__content_underline card__content_m">
                                            <li class="card__item">
                                                <a href="#" class="card__link">
                                                    <span class="text">Офисы</span>
                                                    <span class="count">100</span>
                                                </a>
                                            </li>
                                            <li class="card__item">
                                                <a href="#" class="card__link">
                                                    <span class="text">Торговые помещения</span>
                                                    <span class="count">202</span>
                                                </a>
                                            </li>
                                            <li class="card__item">
                                                <a href="#" class="card__link">
                                                    <span class="text">Помещения свободного назначения</span>
                                                    <span class="count">189</span>
                                                </a>
                                            </li>
                                            <li class="card__item">
                                                <a href="#" class="card__link">
                                                    <span class="text">Склады</span>
                                                    <span class="count">56</span>
                                                </a>
                                            </li>
                                            <li class="card__item">
                                                <a href="#" class="card__link">
                                                    <span class="text">Здания</span>
                                                    <span class="count">70</span>
                                                </a>
                                            </li>
                                            <li class="card__item">
                                                <a href="#" class="card__link">
                                                    <span class="text">Земля для бизнеса</span>
                                                    <span class="count">100</span>
                                                </a>
                                            </li>
                                            <li class="card__item">
                                                <a href="#" class="card__link">
                                                    <span class="text">Инвестпроекты</span>
                                                    <span class="count">404</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card__title card__title_sm">Аренда</div>
                                    <div class="card__list_lease card__content_m flex-fix">
                                        <ul class="card__list">
                                            <li class="card__item">
                                                <a href="#" class="card__link">
                                                    <span class="text">Офисы</span>
                                                    <span class="count">100</span>
                                                </a>
                                            </li>
                                            <li class="card__item">
                                                <a href="#" class="card__link">
                                                    <span class="text">Торговые помещения</span>
                                                    <span class="count">202</span>
                                                </a>
                                            </li>
                                            <li class="card__item">
                                                <a href="#" class="card__link">
                                                    <span class="text">Помещения свободного назначения</span>
                                                    <span class="count">189</span>
                                                </a>
                                            </li>
                                            <li class="card__item">
                                                <a href="#" class="card__link">
                                                    <span class="text">Склады</span>
                                                    <span class="count">56</span>
                                                </a>
                                            </li>
                                            <li class="card__item">
                                                <a href="#" class="card__link">
                                                    <span class="text">Здания</span>
                                                    <span class="count">70</span>
                                                </a>
                                            </li>
                                            <li class="card__item">
                                                <a href="#" class="card__link">
                                                    <span class="text">Земля для бизнеса</span>
                                                    <span class="count">100</span>
                                                </a>
                                            </li>
                                            <li class="card__item">
                                                <a href="#" class="card__link">
                                                    <span class="text">Инвестпроекты</span>
                                                    <span class="count">404</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card__head"><div class='card__title card__title_sub'>Загородная</div></div>
                                    <div class="card__title card__title_sm">Продажа</div>
                                    <div class="flex-fix">
                                        <ul class="card__list card__list_sale card__content_underline">
                                            <li class="card__item">
                                                <a href="#" class="card__link">
                                                    <span class="text">Офисы</span>
                                                    <span class="count">100</span>
                                                </a>
                                            </li>
                                            <li class="card__item">
                                                <a href="#" class="card__link">
                                                    <span class="text">Торговые помещения</span>
                                                    <span class="count">202</span>
                                                </a>
                                            </li>
                                            <li class="card__item">
                                                <a href="#" class="card__link">
                                                    <span class="text">Помещения свободного назначения</span>
                                                    <span class="count">189</span>
                                                </a>
                                            </li>
                                            <li class="card__item">
                                                <a href="#" class="card__link">
                                                    <span class="text">Склады</span>
                                                    <span class="count">56</span>
                                                </a>
                                            </li>
                                            <li class="card__item">
                                                <a href="#" class="card__link">
                                                    <span class="text">Здания</span>
                                                    <span class="count">70</span>
                                                </a>
                                            </li>
                                            <li class="card__item">
                                                <a href="#" class="card__link">
                                                    <span class="text">Земля для бизнеса</span>
                                                    <span class="count">100</span>
                                                </a>
                                            </li>
                                            <li class="card__item">
                                                <a href="#" class="card__link">
                                                    <span class="text">Инвестпроекты</span>
                                                    <span class="count">404</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card__title card__title_sm">Аренда</div>
                                    <div class="card__list_lease flex-fix">
                                        <ul class="card__list ">
                                            <li class="card__item">
                                                <a href="#" class="card__link">
                                                    <span class="text">Офисы</span>
                                                    <span class="count">100</span>
                                                </a>
                                            </li>
                                            <li class="card__item">
                                                <a href="#" class="card__link">
                                                    <span class="text">Торговые помещения</span>
                                                    <span class="count">202</span>
                                                </a>
                                            </li>
                                            <li class="card__item">
                                                <a href="#" class="card__link">
                                                    <span class="text">Помещения свободного назначения</span>
                                                    <span class="count">189</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div id="tabCatStart-8" class="card__content card__content_lease">
                                    <div class="card__title card__title_2">Элитная недвижимость</div>
                                    <div class="card__head"><div class='card__title card__title_sub'>Городская</div></div>
                                    <div class="card__title card__title_sm">Аренда</div>
                                    <div class="flex-fix">
                                        <ul class="card__list card__content_underline card__content_m">
                                                <li class="card__item">
                                                    <a href="#" class="card__link">
                                                        <span class="text">Офисы</span>
                                                        <span class="count">100</span>
                                                    </a>
                                                </li>
                                                <li class="card__item">
                                                    <a href="#" class="card__link">
                                                        <span class="text">Торговые помещения</span>
                                                        <span class="count">202</span>
                                                    </a>
                                                </li>
                                                <li class="card__item">
                                                    <a href="#" class="card__link">
                                                        <span class="text">Помещения свободного назначения</span>
                                                        <span class="count">189</span>
                                                    </a>
                                                </li>
                                                <li class="card__item">
                                                    <a href="#" class="card__link">
                                                        <span class="text">Склады</span>
                                                        <span class="count">56</span>
                                                    </a>
                                                </li>
                                                <li class="card__item">
                                                    <a href="#" class="card__link">
                                                        <span class="text">Здания</span>
                                                        <span class="count">70</span>
                                                    </a>
                                                </li>
                                                <li class="card__item">
                                                    <a href="#" class="card__link">
                                                        <span class="text">Земля для бизнеса</span>
                                                        <span class="count">100</span>
                                                    </a>
                                                </li>
                                                <li class="card__item">
                                                    <a href="#" class="card__link">
                                                        <span class="text">Инвестпроекты</span>
                                                        <span class="count">404</span>
                                                    </a>
                                                </li>
                                                <li class="card__item">
                                                    <a href="#" class="card__link card__link_full">
                                                        <span class="text">Все предложения</span>
                                                        <span class="count">150</span>
                                                    </a>
                                                </li>
                                        </ul>
                                    </div>
                                    <div class="card__head"><div class='card__title card__title_sub'>Загородная</div></div>
                                    <div class="card__title card__title_sm">Аренда</div>
                                    <div class="flex-fix">
                                        <ul class="card__list">
                                                <li class="card__item">
                                                    <a href="#" class="card__link">
                                                        <span class="text">Офисы</span>
                                                        <span class="count">100</span>
                                                    </a>
                                                </li>
                                                <li class="card__item">
                                                    <a href="#" class="card__link">
                                                        <span class="text">Торговые помещения</span>
                                                        <span class="count">202</span>
                                                    </a>
                                                </li>
                                                <li class="card__item">
                                                    <a href="#" class="card__link">
                                                        <span class="text">Помещения свободного назначения</span>
                                                        <span class="count">189</span>
                                                    </a>
                                                </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content__item">
                        @@include('_start-item.html', { "img": "assets/img/realty-1.png", "title": "Новостройки", "subtitle": "", "subtitle1": "", "numId": "5", "numLink1": "9", "numLink2": "10", "cardList": ""})
                    </div>
                    <div class="content__item">
                        @@include('_start-item.html', { "img": "assets/img/realty-2.png", "title": "Зарубежная недвижимость", "subtitle": "", "subtitle1": "", "numId": "6", "numLink1": "11", "numLink2": "12", "cardList": ""})
                    </div>                    
                    <div class="content__item">
                        <div class="card">
                            <div class="card__header">
                                <img class="card__image" src="assets/img/realty-3.png" alt="realty">
                            </div>
                            <div id="tabsCatStart-7" class="card__body">
                                <ul class="card__menu">
                                    <li class="card__item">
                                        <a href="#tabCatStart-13" class="card__link">Продажа</a>
                                    </li>
                                    <li class="card__item">
                                        <!-- <a href="#tabCatStart-13" class="card__link">Продажа</a> -->
                                    </li>
                                </ul>
                                <div class="card__title">Элитные коттеджные поселки</div>
                                <div id="tabCatStart-13" class="card__content card__content_sale">
                                    <div class="card__title card__title_2">Элитные коттеджные поселки</div>
                                    <div class="card__title card__title_sm">Продажа</div>
                                    <div class="flex-fix">
                                        <ul class="card__list card__content_underline card__content_m">
                                                            <li class="card__item">
                                                                <a href="#" class="card__link">
                                                                    <span class="text">Офисы</span>
                                                                    <span class="count">100</span>
                                                                </a>
                                                            </li>
                                                            <li class="card__item">
                                                                <a href="#" class="card__link">
                                                                    <span class="text">Торговые помещения</span>
                                                                    <span class="count">202</span>
                                                                </a>
                                                            </li>
                                                            <li class="card__item">
                                                                <a href="#" class="card__link">
                                                                    <span class="text">Помещения свободного назначения</span>
                                                                    <span class="count">189</span>
                                                                </a>
                                                            </li>
                                                            <li class="card__item">
                                                                <a href="#" class="card__link">
                                                                    <span class="text">Склады</span>
                                                                    <span class="count">56</span>
                                                                </a>
                                                            </li>
                                                            <li class="card__item">
                                                                <a href="#" class="card__link">
                                                                    <span class="text">Здания</span>
                                                                    <span class="count">70</span>
                                                                </a>
                                                            </li>
                                                            <li class="card__item">
                                                                <a href="#" class="card__link">
                                                                    <span class="text">Земля для бизнеса</span>
                                                                    <span class="count">100</span>
                                                                </a>
                                                            </li>
                                                            <li class="card__item">
                                                                <a href="#" class="card__link">
                                                                    <span class="text">Инвестпроекты</span>
                                                                    <span class="count">404</span>
                                                                </a>
                                                            </li>
                                                            <li class="card__item">
                                                                <a href="#" class="card__link card__link_full">
                                                                    <span class="text">Все предложения</span>
                                                                    <span class="count">150</span>
                                                                </a>
                                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card__title card__title_add">Удаленность от МКАД</div>
                                    <div class="flex-fix">
                                        <ul class="card__list">
                                                            <li class="card__item">
                                                                <a href="#" class="card__link">
                                                                    <span class="text">Офисы</span>
                                                                    <span class="count">100</span>
                                                                </a>
                                                            </li>
                                                            <li class="card__item">
                                                                <a href="#" class="card__link">
                                                                    <span class="text">Торговые помещения</span>
                                                                    <span class="count">202</span>
                                                                </a>
                                                            </li>
                                                            <li class="card__item">
                                                                <a href="#" class="card__link">
                                                                    <span class="text">Помещения свободного назначения</span>
                                                                    <span class="count">189</span>
                                                                </a>
                                                            </li>
                                                            <li class="card__item">
                                                                <a href="#" class="card__link">
                                                                    <span class="text">Склады</span>
                                                                    <span class="count">56</span>
                                                                </a>
                                                            </li>
                                                            <li class="card__item">
                                                                <a href="#" class="card__link">
                                                                    <span class="text">Здания</span>
                                                                    <span class="count">70</span>
                                                                </a>
                                                            </li>
                                                            <li class="card__item">
                                                                <a href="#" class="card__link">
                                                                    <span class="text">Земля для бизнеса</span>
                                                                    <span class="count">100</span>
                                                                </a>
                                                            </li>
                                                            <li class="card__item">
                                                                <a href="#" class="card__link">
                                                                    <span class="text">Инвестпроекты</span>
                                                                    <span class="count">404</span>
                                                                </a>
                                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content__item">
                        <div class="card">
                            <div class="card__header">
                                <img class="card__image" src="assets/img/realty-4.png" alt="realty">
                            </div>
                            <div id="tabsCatStart-8" class="card__body">
                                <ul class="card__menu">
                                    <li class="card__item">
                                        <a href="#tabCatStart-14" class="card__link">Продажа</a>
                                    </li>
                                    <li class="card__item">
                                        <!-- <a href="#tabCatStart-13" class="card__link">Продажа</a> -->
                                    </li>
                                </ul>
                                <div class="card__title">Элитные жилые комплексы</div>
                                <div id="tabCatStart-14" class="card__content card__content_sale">
                                    <div class="card__title card__title_2">Элитные жилые комплексы</div>
                                    <div class="card__title card__title_sm">Продажа</div>
                                    <div class="flex-fix">
                                        <ul class="card__list card__content_underline card__content_m">
                                                    <li class="card__item">
                                                        <a href="#" class="card__link">
                                                            <span class="text">Офисы</span>
                                                            <span class="count">100</span>
                                                        </a>
                                                    </li>
                                                    <li class="card__item">
                                                        <a href="#" class="card__link">
                                                            <span class="text">Торговые помещения</span>
                                                            <span class="count">202</span>
                                                        </a>
                                                    </li>
                                                    <li class="card__item">
                                                        <a href="#" class="card__link">
                                                            <span class="text">Помещения свободного назначения</span>
                                                            <span class="count">189</span>
                                                        </a>
                                                    </li>
                                                    <li class="card__item">
                                                        <a href="#" class="card__link">
                                                            <span class="text">Склады</span>
                                                            <span class="count">56</span>
                                                        </a>
                                                    </li>
                                                    <li class="card__item">
                                                        <a href="#" class="card__link">
                                                            <span class="text">Здания</span>
                                                            <span class="count">70</span>
                                                        </a>
                                                    </li>
                                                    <li class="card__item">
                                                        <a href="#" class="card__link">
                                                            <span class="text">Земля для бизнеса</span>
                                                            <span class="count">100</span>
                                                        </a>
                                                    </li>
                                                    <li class="card__item">
                                                        <a href="#" class="card__link">
                                                            <span class="text">Инвестпроекты</span>
                                                            <span class="count">404</span>
                                                        </a>
                                                    </li>
                                                    <li class="card__item">
                                                        <a href="#" class="card__link card__link_full">
                                                            <span class="text">Все предложения</span>
                                                            <span class="count">150</span>
                                                        </a>
                                                    </li>
                                        </ul>
                                    </div>
                                    <div class="card__title card__title_add">Цена за кв.м</div>
                                   <div class="flex-fix">
                                        <ul class="card__list">
                                                    <li class="card__item">
                                                        <a href="#" class="card__link">
                                                            <span class="text">Офисы</span>
                                                            <span class="count">100</span>
                                                        </a>
                                                    </li>
                                                    <li class="card__item">
                                                        <a href="#" class="card__link">
                                                            <span class="text">Торговые помещения</span>
                                                            <span class="count">202</span>
                                                        </a>
                                                    </li>
                                                    <li class="card__item">
                                                        <a href="#" class="card__link">
                                                            <span class="text">Помещения свободного назначения</span>
                                                            <span class="count">189</span>
                                                        </a>
                                                    </li>
                                                    <li class="card__item">
                                                        <a href="#" class="card__link">
                                                            <span class="text">Склады</span>
                                                            <span class="count">56</span>
                                                        </a>
                                                    </li>
                                                    <li class="card__item">
                                                        <a href="#" class="card__link">
                                                            <span class="text">Здания</span>
                                                            <span class="count">70</span>
                                                        </a>
                                                    </li>
                                                    <li class="card__item">
                                                        <a href="#" class="card__link">
                                                            <span class="text">Земля для бизнеса</span>
                                                            <span class="count">100</span>
                                                        </a>
                                                    </li>
                                                    <li class="card__item">
                                                        <a href="#" class="card__link">
                                                            <span class="text">Инвестпроекты</span>
                                                            <span class="count">404</span>
                                                        </a>
                                                    </li>
                                        </ul>
                                   </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- END: catalog-start -->