<!-- BEGIN: catalog -->
<div class="catalog page">
    <div class="page__title">
        <div class="container">
            <h1>Жилая недвижимость</h1>
        </div>
    </div>
    <section id="filter" class="s-filter">
        <div class="s-filter__block">
            <a href="#" class="s-filter__btn">
                <span class="text">Фильтры</span>
                <span class="count">2</span>
            </a>
            <div class="s-filter__opt">
                <div class="offer__social">
                    <a href="#"><span class="like"></span></a>
                    <a href="#"><span class="compare"></span></a>
                </div>
            </div>
        </div>
        <div id="tabs1" class="filter filter_hidden">
            <div class="container">
                    <ul class="filter__tabs">
                        <li><a href="#tabs1-1">Продажа</a></li>
                        <li><a href="#tabs1-2">Аренда</a></li>
                    </ul>
                <div id="tabs1-1">
                    <form id="formFilterCatalog1" class="form" method="GET" action="">
                        <div class="filter__head">
                            <a href="javascript:void(0)" class="filter__back">
                                <img src="assets/img/filter-back.png" alt="">
                            </a>
                            <h3 class="filter__title">Фильтры</h3>
                            <input type="reset" class="form__reset" value="Сбросить">
                        </div>
                        <div class="filter__block">
                            <div class="dropdown filter__item filter__item_deal">
                                <a href="#" class="dropdown__toggle">
                                    <span class="name"><span class="value"></span>Купить</span>
                                    <img src="img/drop.png" alt="">
                                </a>
                                <div class="dropdown__menu hidden">
                                    <div class="dropdown__item">
                                        <input type="checkbox" name="dealValue" id="dealValue1" value="Купить">
                                        <label for="dealValue1">Купить
                                        </label>
                                    </div>
                                    <div class="dropdown__item">
                                        <input type="checkbox" name="dealValue" id="dealValue2" value="Продать">
                                        <label for="dealValue2">Продать
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form__group filter__item filter__item_adress">
                                <input type="text" class="form__control" name="adress" id="adress" placeholder="Город, метро, шоссе или район">
                                <div class="dropdown__menu hidden">
                                    <div class="dropdown__item">
                                        <input type="checkbox" name="adressValue" id="adressValue1" value="метро Таганская, Москва">
                                        <label for="adressValue1">метро Таганская, Москва
                                        </label>
                                    </div>
                                    <div class="dropdown__item">
                                        <input type="checkbox" name="adressValue" id="adressValue2" value="Таганская улица, Москва">
                                        <label for="adressValue2">Таганская улица, Москва
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="filter__item filter__item_tags">
                                <span class="tags__item line line_1">Таганская</span>
                                <span class="tags__item line line_1">ТаганскаяТаганскаяТаганскаяТаганскаяТаганскаяТаганскаяТаганскаяТаганскаяТаганскаяТаганская</span>
                            </div>
                            <div class="form__group filter__item filter__item_submit">
                                <button type="submit" class="btn-search">Показать объекты</button>
                            </div>
                            <div id="getFilterItemAdd" class="form__group filter__item filter__item_add mfp-hide">
                                <div class="popup__close"></div>
                                <div class="form__group">
                                    <label for="space">Площадь, м2</label>
                                    <input type="text" name="space" id="space" class="form__control" placeholder="от">
                                    <input type="text" name="space" id="space1" class="form__control" placeholder="до">
                                </div>
                                <div class="form__group">
                                    <label for="livingSpace">Жилая площадь, м2</label>
                                    <input type="text" name="livingSpace" id="livingSpace" class="form__control" placeholder="от">
                                    <input type="text" name="livingSpace" id="livingSpace1" class="form__control" placeholder="до">
                                </div>
                                <div class="filter__buttons">
                                    <div class="filter__reset"><span>Очистить все</span>
                                    </div>
                                    <div class="filter__item_submit">
                                        <button type="submit" class="btn-search"><span>Показать 5 356 объектов</span></button>
                                    </div>
                                </div>
                            </div>
                            <div class="filter__item filter__item_add offers__footer">
                                <a href="#getFilterItemAdd" class="go-to">Все фильтры</a>
                            </div>
                            <div class="dropdown filter__item filter__item_city">
                                <a href="#" class="dropdown__toggle">
                                    <span class="name"><span class="value"></span>Москва</span>
                                    <img src="img/drop.png" alt="">
                                </a>
                                <div class="dropdown__menu hidden">
                                    <div class="dropdown__item">
                                        <input type="checkbox" name="cityValue" id="cityValue1" value="Москва">
                                        <label for="cityValue1">Москва
                                        </label>
                                    </div>
                                    <div class="dropdown__item">
                                        <input type="checkbox" name="cityValue" id="cityValue2" value="Московская область">
                                        <label for="cityValue2">Московская область
                                        </label>
                                    </div>
                                    <div class="dropdown__item">
                                        <input type="checkbox" name="cityValue" id="cityValue3" value="Санкт-Петербург">
                                        <label for="cityValue3">Санкт-Петербург
                                        </label>
                                    </div>
                                    <div class="dropdown__item">
                                        <input type="checkbox" name="cityValue" id="cityValue4" value="Калининградская область">
                                        <label for="cityValue4">Калининградская область
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="dropdown filter__item filter__item_realty">
                                <a href="#" class="dropdown__toggle">
                                    <span class="name"><span class="value"></span>Недвижимость</span>
                                    <img src="img/drop.png" alt="">
                                </a>
                                <div class="dropdown__menu hidden">
                                    <div class="dropdown__item">
                                        <input type="checkbox" name="realtyValue" id="realtyValue1" value="Жилая недвижимость">
                                        <label for="realtyValue1">Жилая недвижимость
                                        </label>
                                    </div> 
                                    <div class="dropdown__item">
                                        <input type="checkbox" name="realtyValue" id="realtyValue2" value="Коммерческая недвижимость">
                                        <label for="realtyValue2">Коммерческая недвижимость
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="dropdown filter__item filter__item_house">
                                <a href="#" class="dropdown__toggle">
                                    <span class="name"><span class="value"></span>Квартира</span>
                                    <img src="img/drop.png" alt="">
                                </a>
                                <div class="dropdown__menu hidden">
                                    <div class="dropdown__item">
                                        <input type="checkbox" name="houseValue" id="houseValue1" value="Квартира">
                                        <label for="houseValue1">Квартира
                                        </label>
                                    </div> 
                                    <div class="dropdown__item">
                                        <input type="checkbox" name="houseValue" id="houseValue2" value="Таунхаус">
                                        <label for="houseValue2">Таунхаус
                                        </label>
                                    </div> 
                                    <div class="dropdown__item">
                                        <input type="checkbox" name="houseValue" id="houseValue3" value="Пентхаус">
                                        <label for="houseValue3">Пентхаус
                                        </label>
                                    </div> 
                                    <div class="dropdown__item">
                                        <input type="checkbox" name="houseValue" id="houseValue4" value="Апартамент">
                                        <label for="houseValue4">Апартамент
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="filter__item filter__item_price">
                                <div class="form__group">
                                    <label for="priceFrom">Цена</label>
                                    <input type="text" name="priceFrom" id="priceFrom" class="form__control" placeholder="от">
                                </div>
                                <div class="form__group">
                                    <input type="text" name="priceTo" id="priceTo" class="form__control" placeholder="до">
                                </div>
                                <div class="dropdown dropdown_currency">
                                    <a href="#" class="dropdown__toggle">
                                        <span class="name">
                                            <span class="value"></span>
                                            ₽
                                        </span>
                                        <img src="img/drop.png" alt="">
                                    </a>
                                    <div class="dropdown__menu hidden">
                                        <div class="dropdown__item">
                                            <input type="checkbox" name="currencyValue" id="currencyValue1" value="₽">
                                            <label for="currencyValue1">₽
                                            </label>
                                        </div>
                                        <div class="dropdown__item">
                                            <input type="checkbox" name="currencyValue" id="currencyValue2" value="$">
                                            <label for="currencyValue2">$
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown dropdown_part">
                                    <a href="#" class="dropdown__toggle">
                                        <span class="name">
                                            <span class="value"></span>
                                            за всё
                                        </span>
                                        <img src="img/drop.png" alt="">
                                    </a>
                                    <div class="dropdown__menu hidden">
                                        <div class="dropdown__item">
                                            <input type="checkbox" name="partValue" id="partValue1" value="за всё">
                                            <label for="partValue1">за всё
                                            </label>
                                        </div>
                                        <div class="dropdown__item">
                                            <input type="checkbox" name="partValue" id="partValue2" value="всё">
                                            <label for="partValue2">всё
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="dropdown filter__item filter__item_room">
                                <a href="#" class="dropdown__toggle">                                    
                                    <span class="name">
                                        <span class="value"></span>
                                        Комнат
                                    </span>
                                    <img src="img/drop.png" alt="">
                                </a>
                                <div class="dropdown__menu hidden">
                                    <div class="dropdown__item">
                                        <input type="checkbox" name="roomValue" id="roomValue1" value="1">
                                        <label for="roomValue1">1
                                        </label>
                                    </div>
                                    <div class="dropdown__item">
                                        <input type="checkbox" name="roomValue" id="roomValue2" value="2">
                                        <label for="roomValue2">2
                                        </label>
                                    </div>
                                    <div class="dropdown__item">
                                        <input type="checkbox" name="roomValue" id="roomValue3" value="3">
                                        <label for="roomValue3">3
                                        </label>
                                    </div>                                    
                                    <div class="dropdown__item">
                                        <input type="checkbox" name="roomValue" id="roomValue4" value="4">
                                        <label for="roomValue4">4
                                        </label>
                                    </div>
                                    <div class="dropdown__item">
                                        <input type="checkbox" name="roomValue" id="roomValue5" value="5">
                                        <label for="roomValue5">5
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="tabs1-2">
                    <form id="formFilterCatalog2" class="form" method="GET" action="">
                        <div class="filter__head">
                            <a href="javascript:void(0)" class="filter__back">
                                <img src="assets/img/filter-back.png" alt="">
                            </a>
                            <h3 class="filter__title">Фильтры</h3>
                            <input type="reset" class="form__reset" value="Сбросить">
                        </div>
                        <div class="filter__block">
                            <div class="dropdown filter__item filter__item_deal">
                                <input type="text" class="form__control hidden" name="deal" id="deal">
                                <a href="#" class="dropdown__toggle">
                                    <span>Купить</span>
                                    <img src="img/drop.png" alt="">
                                </a>
                                <div class="dropdown__menu hidden">
                                    <a class="dropdown__item" href="#">Купить</a>
                                    <a class="dropdown__item" href="#">Купить</a>
                                    <a class="dropdown__item" href="#">Action</a>
                                    <a class="dropdown__item" href="#">After action</a>
                                </div>
                            </div>
                            <div class="form__group filter__item filter__item_adress">
                                <input type="text" class="form__control" name="adress" id="adress" placeholder="Город, метро, шоссе или район">
                            </div>
                            <div class="filter__item filter__item_tags">
                                <span class="tags__item line line_1">Таганская</span>
                            </div>
                            <div class="form__group filter__item filter__item_submit">
                                <button type="submit" class="btn-search">Показать объекты</button>
                            </div>
                            <div id="getFilterItemAdd" class="form__group filter__item filter__item_add mfp-hide">
                                <div class="popup__close"></div>
                                <div class="form__group">
                                    <label for="space">Площадь, м2</label>
                                    <input type="text" name="space" id="space" class="form__control" placeholder="от">
                                    <input type="text" name="space" id="space1" class="form__control" placeholder="до">
                                </div>
                                <div class="form__group">
                                    <label for="livingSpace">Жилая площадь, м2</label>
                                    <input type="text" name="livingSpace" id="livingSpace" class="form__control" placeholder="от">
                                    <input type="text" name="livingSpace" id="livingSpace1" class="form__control" placeholder="до">
                                </div>
                                <div class="filter__buttons">
                                    <div class="filter__reset"><span>Очистить все</span>
                                    </div>
                                    <div class="filter__item_submit">
                                        <button type="submit" class="btn-search"><span>Показать 5 356 объектов</span></button>
                                    </div>
                                </div>
                            </div>
                            <div class="filter__item filter__item_add offers__footer">
                                <a href="#getFilterItemAdd" class="go-to">Все фильтры</a>
                            </div>
                            <div class="dropdown filter__item filter__item_city">
                                <input type="text" class="form__control hidden" name="city" id="city">
                                <a href="#" class="dropdown__toggle">
                                    <span>Москва</span>
                                    <img src="img/drop.png" alt="">
                                </a>
                                <div class="dropdown__menu hidden">
                                    <a class="dropdown__item" href="#">Москва</a>
                                    <a class="dropdown__item" href="#">Московская область</a>
                                    <a class="dropdown__item" href="#">Санкт-Петербург</a>
                                    <a class="dropdown__item" href="#">Ростов-На-Дону</a>
                                    <a class="dropdown__item" href="#">Сочи</a>
                                    <a class="dropdown__item" href="#">Тульская область</a>
                                    <a class="dropdown__item" href="#">Калининградская область</a>
                                </div>
                            </div>
                            <div class="dropdown filter__item filter__item_realty">
                                <input type="text" class="form__control hidden" name="realty" id="realty">
                                <a href="#" class="dropdown__toggle">
                                    <span>Жилая недвижимость</span>
                                    <img src="img/drop.png" alt="">
                                </a>
                                <div class="dropdown__menu hidden">
                                    <a class="dropdown__item" href="#">Жилая недвижимость</a>
                                    <a class="dropdown__item" href="#">Жилая недвижимость</a>
                                    <a class="dropdown__item" href="#">Жилая недвижимость</a>
                                    <a class="dropdown__item" href="#">Жилая недвижимость</a>
                                </div>
                            </div>
                            <div class="dropdown filter__item filter__item_house">
                                <input type="text" class="form__control hidden" name="house" id="house">
                                <a href="#" class="dropdown__toggle">
                                    <span>Квартира</span>
                                    <img src="img/drop.png" alt="">
                                </a>
                                <div class="dropdown__menu hidden">
                                    <a class="dropdown__item" href="#">Квартира</a>
                                    <a class="dropdown__item" href="#">Квартира</a>
                                    <a class="dropdown__item" href="#">Квартира</a>
                                    <a class="dropdown__item" href="#">Квартира</a>
                                </div>
                            </div>
                            <div class="filter__item filter__item_price">
                                <div class="form__group">
                                    <label for="priceFrom">Цена</label>
                                    <input type="text" name="priceFrom" id="priceFrom" class="form__control" placeholder="от">
                                </div>
                                <div class="form__group">
                                    <input type="text" name="priceTo" id="priceTo" class="form__control" placeholder="до">
                                </div>
                                <div class="dropdown dropdown_currency">
                                    <input type="text" class="form__control hidden" name="currency" id="currency">
                                    <a href="#" class="dropdown__toggle">
                                        <span>₽</span>
                                        <img src="img/drop.png" alt="">
                                    </a>
                                    <div class="dropdown__menu hidden">
                                        <a class="dropdown__item" href="#">₽</a>
                                        <a class="dropdown__item" href="#">₽</a>
                                    </div>
                                </div>
                                <div class="dropdown dropdown_part">
                                    <input type="text" class="form__control hidden" name="part" id="part">
                                    <a href="#" class="dropdown__toggle">
                                        <span>за всё</span>
                                        <img src="img/drop.png" alt="">
                                    </a>
                                    <div class="dropdown__menu hidden">
                                        <a class="dropdown__item" href="#">за всё</a>
                                        <a class="dropdown__item" href="#">за всё</a>
                                    </div>
                                </div>
                            </div>
                            <div class="dropdown filter__item filter__item_room">
                                <input type="text" class="form__control hidden" name="room" id="room">
                                <a href="#" class="dropdown__toggle">
                                    <span>Комнат</span>
                                    <img src="img/drop.png" alt="">
                                </a>
                                <div class="dropdown__menu hidden">
                                    <a class="dropdown__item" href="#">Комнат</a>
                                    <a class="dropdown__item" href="#">1</a>
                                    <a class="dropdown__item" href="#">2</a>
                                    <a class="dropdown__item" href="#">3</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="tags">
            <div class="container">
                <span class="tags__item line line_1">Таганская</span>
                <span class="tags__item line line_1">Таганская</span>
                <span class="tags__item line line_1">ТаганскаяТаганскаяТаганскаяТаганскаяТаганскаяТаганскаяТаганскаяТаганскаяТаганскаяТаганская</span>
                <span class="tags__item line line_1">Таганская</span>
                <div class="tags__reset">Очистить все</div>
            </div>
        </div>
    </section>
    <section id="result" class="s-result">
        <div class="sort">
            <div class="container">
                <div class="sort__list">
                    <form id="sortForm" class="sort__form" method="POST" action="">
                        <div class="sort__city">Москва</div>
                        <div class="sort__map"><span>Показать на карте</span><span class="hidden">Скрыть карту</span></div>
                        <div class="sort__by dropdown">
                            <a href="#" class="dropdown__toggle">Сортировать по <span class="sort__value">умолчанию</span></a>
                            <div class="dropdown__menu hidden">
                                <div class="dropdown__item">
                                    <input type="checkbox" name="sortValue" id="sortValue1" value="дате публикации">
                                    <label for="sortValue1">по дате публикации
                                    </label>
                                </div>
                                <div class="dropdown__item">
                                    <input type="checkbox" name="sortValue" id="sortValue2" value="цене">
                                    <label for="sortValue2">по цене
                                    </label>
                                </div>
                                <div class="dropdown__item">
                                    <input type="checkbox" name="sortValue" id="sortValue3" value="площади">
                                    <label for="sortValue3">по площади
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="sort__result">Показано
                            <span class="sort__show">1-20</span> из
                            <span class="sort__total">242 предложений</span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="map" class="map invisible" style="width: 100%; height: 795px;">
        </div>
        <div class="related">
            <div class="container">
                <div class="related__title">Похожие запросы</div>
                <div class="related__results row">
                    <div class="related__result col-3">
                        <a href="#">
                            <span class="text">Студии</span>
                            <span class="count">100</span>
                        </a>
                    </div>
                    <div class="related__result col-3">
                        <a href="#">
                            <span class="text">2-комнатные квартиры</span>
                            <span class="count">189</span>
                        </a>
                    </div>
                    <div class="related__result col-3">
                        <a href="#">
                            <span class="text">4-комнатные квартиры</span>
                            <span class="count">102</span>
                        </a>
                    </div>
                    <div class="related__result col-3">
                        <a href="#">
                            <span class="text">Вторичное жилье</span>
                            <span class="count">404</span>
                        </a>
                    </div>
                    <div class="related__result col-3">
                        <a href="#">
                            <span class="text">1-комнатные квартиры</span>
                            <span class="count">202</span>
                        </a>
                    </div>
                    <div class="related__result col-3">
                        <a href="#">
                            <span class="text">3-комнатные квартиры</span>
                            <span class="count">56</span>
                        </a>
                    </div>
                    <div class="related__result col-3">
                        <a href="#">
                            <span class="text">5-комнатные квартиры</span>
                            <span class="count">70</span>
                        </a>
                    </div>
                    <div class="related__result col-3">
                        <a href="#">
                            <span class="text">Многокомнатные квартиры</span>
                            <span class="count">45</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="b-result">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3">
                        @@include('_offer.html', { "img": "assets/img/offer-1.png" })
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3">
                        @@include('_offer.html', { "img": "assets/img/offer-2.png" })
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3">
                        @@include('_offer.html', { "img": "assets/img/offer-3.png" })
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3">
                        @@include('_offer.html', { "img": "assets/img/offer-4.png" })
                    </div>

                    <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3">
                        @@include('_offer.html', { "img": "assets/img/offer-1.png" })
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3">
                        @@include('_offer.html', { "img": "assets/img/offer-2.png" })
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3">
                        @@include('_offer.html', { "img": "assets/img/offer-3.png" })
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3">
                        @@include('_offer.html', { "img": "assets/img/offer-4.png" })
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3">
                        @@include('_offer.html', { "img": "assets/img/offer-1.png" })
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3">
                        @@include('_offer.html', { "img": "assets/img/offer-2.png" })
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3">
                        @@include('_offer.html', { "img": "assets/img/offer-3.png" })
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3">
                        @@include('_offer.html', { "img": "assets/img/offer-4.png" })
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3">
                        @@include('_offer.html', { "img": "assets/img/offer-1.png" })
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3">
                        @@include('_offer.html', { "img": "assets/img/offer-2.png" })
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3">
                        @@include('_offer.html', { "img": "assets/img/offer-3.png" })
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3">
                        @@include('_offer.html', { "img": "assets/img/offer-4.png" })
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3">
                        @@include('_offer.html', { "img": "assets/img/offer-1.png" })
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3">
                        @@include('_offer.html', { "img": "assets/img/offer-2.png" })
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3">
                        @@include('_offer.html', { "img": "assets/img/offer-3.png" })
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3">
                        @@include('_offer.html', { "img": "assets/img/offer-4.png" })
                    </div>
                </div>
            </div>
        </div>
        <div class="offers__footer b-show">
            <div class="container">
                <a href="#" class="go-to show">
                    <span class="text">
                        <span class=""></span>
                        Показать еще
                    </span>
                </a>
            </div>
        </div>
        <div class="pagination">
            <div class="container">
                <ul class="pagination__list">
                    <li class="pagination__item">
                        <a class="pagination__link" href="#">1</a>
                    </li>
                    <li class="pagination__item">
                        <a class="pagination__link" href="#">...</a>
                    </li>
                    <li class="pagination__item">
                        <a class="pagination__link" href="#">4</a>
                    </li>
                    <li class="pagination__item">
                        <a class="pagination__link" href="#">5</a>
                    </li>
                    <li class="pagination__item pagination__item_active">
                        <a class="pagination__link" href="#">6</a>
                    </li>
                    <li class="pagination__item">
                        <a class="pagination__link" href="#">7</a>
                    </li>
                    <li class="pagination__item">
                        <a class="pagination__link" href="#">8</a>
                    </li>
                    <li class="pagination__item">
                        <a class="pagination__link" href="#">...</a>
                    </li>
                    <li class="pagination__item">
                        <a class="pagination__link" href="#">242</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>
<!-- END: catalog -->