<footer>
	<div class="footer_wrap">
		<div class="footer_application">
			<div class="container">
				<div class="footer_application-text">
					<p class="footer_application-top">Сэкономьте время на поиск объекта</p>
					<p class="footer_application-bot">Заполните заявку и мы бесплатно подберем необходимый Вам объект недвижимости</p>
				</div>
				<a href="#setBid" class="footer_application-btn">Оставить заявку</a>
			</div>
		</div>
		<div class="footer_dispatch">
			<div class="container">
				<form id="formSub" method="POST">
					<div class="footer_dispatch-input">
						<span>Подпишитесь на нашу рассылку</span>
						<input type="text" class="subscribe" placeholder="Ваш E-mail">
						<input type="submit" class="btn-send" value="Подписаться" disabled>
					</div>
					<div class="footer_dispatch-checkbox">
						<input type="checkbox" name="checkbox" id="dispatch-checkbox">
						<label for="dispatch-checkbox">Нажимая на кнопку «Подписаться», я даю
							<a href="#">согласие на обработку персональных данных</a>
						</label>
					</div>
				</form>
			</div>
		</div>
		<div class="footer_bottom">
			<div class="footer_phone">
				<div class="container">
					<div class="footer_phone-left">
						<p>Бесплатный звонок по России</p>
						<a href="tel:+88007007877">8 800 700-78-77</a>
					</div>
					<div class="footer_socials">
						<a href="#" class="footer_socials-inst"></a>
						<a href="#" class="footer_socials-fb"></a>
						<a href="#" class="footer_socials-vk"></a>
					</div>
				</div>
			</div>
			<div class="footer_nav">
				<div class="container">
					<ul>
						<li>
							<a href="#">Каталог недвижимости</a>
						</li>
						<li>
							<a href="#">Каталог услуг</a>
						</li>
						<li>
							<a href="#">Помощь клиенту</a>
						</li>
						<li>
							<a href="#">Новости и аналитика</a>
						</li>
						<li>
							<a href="#">О компании</a>
						</li>
						<li>
							<a href="#">Контакты</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="footer_client-info">
				<div class="container">
					<a href="#" class="footer_personal-info">Персональные данные</a>
					<a href="#">Действующие договоры</a>
				</div>
			</div>
			<div class="footer_copyright">
				<div class="container">
					<span>© Агентство недвижимости «ФРИДОМ», 2017. Представленная информация не является публичной офертой</span>
				</div>
			</div>
		</div>
	</div>
</footer>