		<div class="mobile_menu_block">
			<div class="mobile_menu_block-wrap">
				<p class="mobile_menu-back">Назад</p>
				<ul>
					<li><span>Каталог недвижимости</span>
						<ul>
							<li><span>Собственникам</span>
								<ul>
									<li><span>Продать</span>
										<ul>
											<li><a href="">Квартиру/комнату</a></li>
											<li><span>Дом/коттедж</span></li>
											<li><span>Дачу</span></li>
											<li><span>Земельный участок</span></li>
											<li><span>Коммерческую недвижимость</span></li>
											<li><span>Новостройку</span></li>
											<li><span>Зарубежную недвижимость</span></li>
											<li><span>Элитную недвижимость</span></li>
											<li><span>Залоговую недвижимость</span></li>
										</ul>
									</li>
									<li><span>Обменять</span></li>
									<li><span>Сдать</span></li>
									<li><span>Доверительное управление</span></li>
									<li><span>Срочный выкуп</span></li>
									<li><span>Сопровождение</span></li>
									<li><span>Оформление</span></li>
									<li><span>Ипотека</span></li>
								</ul>
							</li>
							<li><span>Покупателям</span></li>
							<li><span>Аренадторам</span></li>
							<li><span>Ипотека</span></li>
						</ul>
					</li>
					<li><span>Каталог услуг</span></li>
					<li><span>Помощь клиентам</span></li>
					<li><span>Новости и аналитика</span></li>
					<li><span>О компании</span></li>
					<li><span>Контакты</span></li>
				</ul>
			</div>
		</div>
		<div class="mobile_menu-overlay"></div>
                                    
        <header>
            <div class="header_wrap">
				<div class="header_video">
					<div class="header_video-wrap">
						<video width="100%" autoplay="autoplay" muted loop>
							<source src="video.mp4" type="video/mp4">
						</video>
						<div class="header_video-overlay"></div>
					</div>
				</div>
				<div class="header_mobile-top">
					<div class="container clearfix">
						<div class="burger_button">
							<div class="burger_button-wrap">
								<div class="burger_item"></div>
								<div class="burger_item"></div>
								<div class="burger_item"></div>
								<div class="burger_item"></div>
							</div>
						</div>
						<div class="header_mobile-logo">
							<img src="img/moblogo.png" alt="">
						</div>
						<div class="header_mobile-phone">
							<a href="tel:+88007007877"><img src="img/phone_mobile.svg" alt=""></a>
						</div>
					</div>
				</div>
				<div class="container">
                    <div class="header_top clearfix">
                        <div class="header_logo">
                            <img src="img/logo.png" alt="">
                        </div>
                        <div class="header_top-right">
                            <div class="header_favorites">
                                <div class="header_favorite-item">
									<span>1</span><a href="#">Избранное </a>
                                </div>
                                <div class="header_compare-item">
									<span>5</span><a href="#">Сравнение </a>
                                </div>
							</div>
							<!-- BEGIN: 21-06-2018 popup-link -->
                            <div class="header_call">
                                <a href="#getCall">Заказать звонок</a>
                            </div>
							<!-- END: 21-06-2018 popup-link -->
                            <div class="header_phone-num">
                                <p>Бесплатный звонок по России</p>
                                <a href="tel:+88007007877">8 800 700-78-77</a>
                            </div>
                        </div>
                    </div>
                    <div class="header_nav">
                        <ul>
							<li class="nav_drop"><a href="javascript:void(0)">Каталог недвижимости</a></li>
							<li class="nav_drop"><a href="javascript:void(0)">Каталог услуг</a></li>
							<li class="nav_drop"><a href="javascript:void(0)">Помощь клиентам</a></li>
							<li><a href="#">Новости и аналитика</a></li>
							<li class="nav_drop"><a href="javascript:void(0)">О компании</a></li>
							<li><a href="#">Контакты</a></li>
                        </ul>
					</div>

					<div class="header_filter">
						<p class="header_filter-title">Найдите подходящий вариант из более чем 89 540 объектов</p>
						<form>
							<div class="header_filter-wrap">
								<div class="header_filter-item header_filter-action">
									<div class="header_filter-item-wrap">
										<span>Купить</span>
										<img src="img/drop.png" alt="">
									</div>
									<div class="header_filter_select">
										<div class="header-filter_select-wrap">
											<ul>
												<li>Москва</li>
												<li>Московская область</li>
												<li>Санкт-Петербург</li>
												<li>Ростов-На-Дону</li>
												<li>Сочи</li>
												<li>Тульская область</li>
												<li>Калининградская область</li>
												<li>Краснодарский край</li>
											</ul>
										</div>
									</div>
									<div class="input_mask"></div>
								</div>
								<div class="header_filter-item header_filter-city">
									<div class="header_filter-item-wrap">
										<span>Москва</span>
										<img src="img/drop.png" alt="">
									</div>
									<div class="header_filter_select">
										<div class="header-filter_select-wrap">
											<ul>
												<li>Москва</li>
												<li>Московская область</li>
												<li>Санкт-Петербург</li>
												<li>Ростов-На-Дону</li>
												<li>Сочи</li>
												<li>Тульская область</li>
												<li>Калининградская область</li>
												<li>Краснодарский край</li>
											</ul>
										</div>
									</div>
									<div class="input_mask"></div>
								</div>
								<div class="header_filter-item header_filter-market">
									<div class="header_filter-item-wrap">
										<span>Вторичный рынок</span>
										<img src="img/drop.png" alt="">
									</div>
									<div class="header_filter_select">
										<div class="header-filter_select-wrap">
											<ul>
												<li>Москва</li>
												<li>Московская область</li>
												<li>Санкт-Петербург</li>
												<li>Ростов-На-Дону</li>
												<li>Сочи</li>
												<li>Тульская область</li>
												<li>Калининградская область</li>
												<li>Краснодарский край</li>
											</ul>
										</div>
									</div>
									<div class="input_mask"></div>
								</div>
								<div class="header_filter-item header_filter-range">
									<div class="header_filter-item-wrap">
										<div class="header_filter-range-from">
											<span>от</span>
											<input type="text">
										</div>
										<div class="header_filter-range-to">
											<span>до</span>
											<input type="text">
										</div>
										<span class="header_filter-currency">₽</span>
									</div>
								</div>
								<div class="header_filter-item header_filter-search-btn">
									<a href="#">Найти</a>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="nav_drop_container__block">
					<div class="nav_drop_container">
						<div class="container">
							<div id="navDropTabs-1" class="nav_drop_container-wrap">
								<div class="nav_drop_nav-top">
									<ul>
										<li class="active"><a href="#navDropTab-1">Собственникам</a></li>
										<li><a href="#navDropTab-2">Покупателям</a></li>
										<li><a href="#navDropTab-3">Арендаторам</a></li>
									</ul>
								</div>
								<div class="nav_drop_nav-top_child-wrap">
									<div id="navDropTab-1" class="nav_drop_nav-top_child-item active">
										<ul>
											<li>Продать
												<div class="nav_drop_nav-top_child-hidden">
													<ul>
														<li><a href="#">Квартиру/комнату</a></li>
														<li><a href="#">Дом/коттедж</a></li>
														<li><a href="#">Дачу</a></li>
														<li><a href="#">Земельный участок</a></li>
														<li><a href="#">Коммерческую недвижимость</a></li>
													</ul>
												</div>
											</li>
											<li class="active">Обменять
												<div class="nav_drop_nav-top_child-hidden">
													<ul>
														<li><a href="#">Квартиру/комнату</a></li>
														<li><a href="#">Дом/коттедж</a></li>
														<li><a href="#">Дачу</a></li>
														<li><a href="#">Земельный участок</a></li>
														<li><a href="#">Коммерческую недвижимость</a></li>
														<li><a href="#">Новостройку</a></li>
														<li><a href="#">Зарубежную недвижимость</a></li>
														<li><a href="#">Элитную недвижимость</a></li>
														<li><a href="#">Залоговую недвижимость</a></li>
													</ul>
												</div>
											</li>
											<li>Сдать</li>
											<li>Доверительное управление
												<div class="nav_drop_nav-top_child-hidden">
													<ul>
														<li><a href="#">Квартиру/комнату</a></li>
														<li><a href="#">Дом/коттедж</a></li>
														<li><a href="#">Дачу</a></li>
														<li><a href="#">Земельный участок</a></li>
														<li><a href="#">Коммерческую недвижимость</a></li>
													</ul>
												</div>
											</li>
										</ul>
									</div>
									<div id="navDropTab-2" class="nav_drop_nav-top_child-item">
										<ul>
											<li>Продать</li>
											<li class="active">Обменять
												<div class="nav_drop_nav-top_child-hidden">
													<ul>
														<li><a href="#">Квартиру/комнату</a></li>
														<li><a href="#">Дом/коттедж</a></li>
														<li><a href="#">Дачу</a></li>
														<li><a href="#">Земельный участок</a></li>
														<li><a href="#">Коммерческую недвижимость</a></li>
														<li><a href="#">Новостройку</a></li>
														<li><a href="#">Зарубежную недвижимость</a></li>
														<li><a href="#">Элитную недвижимость</a></li>
														<li><a href="#">Залоговую недвижимость</a></li>
													</ul>
												</div>
											</li>
											<li>Сдать</li>
										</ul>
									</div>
									<div id="navDropTab-3" class="nav_drop_nav-top_child-item">
										<ul>
											<li>Продать</li>
											<li class="active">Обменять
												<div class="nav_drop_nav-top_child-hidden">
													<ul>
														<li><a href="#">Квартиру/комнату</a></li>
														<li><a href="#">Дом/коттедж</a></li>
														<li><a href="#">Дачу</a></li>
														<li><a href="#">Земельный участок</a></li>
														<li><a href="#">Коммерческую недвижимость</a></li>
														<li><a href="#">Новостройку</a></li>
														<li><a href="#">Зарубежную недвижимость</a></li>
														<li><a href="#">Элитную недвижимость</a></li>
														<li><a href="#">Залоговую недвижимость</a></li>
													</ul>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="nav_drop_container">
						<div class="container">
							<div id="navDropTabs-2" class="nav_drop_container-wrap">
								<div class="nav_drop_nav-top">
									<ul>
										<li class="active"><a href="#navDropTab-4">Собственникам</a></li>
										<li><a href="#navDropTab-5">Покупателям</a></li>
										<li><a href="#navDropTab-6">Арендаторам</a></li>
										<li><a href="#navDropTab-7">Ипотека</a></li>
									</ul>
								</div>
								<div class="nav_drop_nav-top_child-wrap">
									<div id="navDropTab-4" class="nav_drop_nav-top_child-item">
										<ul>
											<li>Продать</li>
											<li class="active">Обменять
												<div class="nav_drop_nav-top_child-hidden">
													<ul>
														<li><a href="#">Квартиру/комнату</a></li>
														<li><a href="#">Дом/коттедж</a></li>
														<li><a href="#">Дачу</a></li>
														<li><a href="#">Земельный участок</a></li>
														<li><a href="#">Коммерческую недвижимость</a></li>
														<li><a href="#">Новостройку</a></li>
														<li><a href="#">Зарубежную недвижимость</a></li>
														<li><a href="#">Элитную недвижимость</a></li>
														<li><a href="#">Залоговую недвижимость</a></li>
													</ul>
												</div>
											</li>
											<li>Сдать</li>
											<li>Доверительное управление</li>
											<li>Срочный выкуп</li>
											<li>Сопровождение</li>
											<li>Оформление</li>
											<li>Ипотека</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="nav_drop_container">
						<div class="container">
							<div class="nav_drop_container-wrap">
								<div class="nav_drop_nav-top">
									<ul>
										<li class="active">Собственникам</li>
									</ul>
								</div>
								<div class="nav_drop_nav-top_child-wrap">
									<div class="nav_drop_nav-top_child-item">
										<ul>
											<li>Продать</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="nav_drop_container">
						<div class="container">
							<div class="nav_drop_container-wrap">
								<div class="nav_drop_nav-top">
									<ul>
										<li class="active">Собственникам</li>
										<li>Покупателям</li>
										<li>Арендаторам</li>
										<li>Ипотека</li>
									</ul>
								</div>
								<div class="nav_drop_nav-top_child-wrap">
									<div class="nav_drop_nav-top_child-item">
										<ul>
											<li></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
        </header>