<!-- BEGIN: index.html -->
<section id="offers" class="s-offers">
    <div class="offers">
        <div class="container">
            <div class="offers__filter">
                <h3>Лучшие предложения</h3>
                <div class="offers__dropdown">Элитная
                    <img src="img/drop.png" alt="">
                </div>
                <ul class="offers__menu">
                    <li>
                        <a href="#">Все</a>
                    </li>
                    <li>
                        <a href="#">Элитная</a>
                    </li>
                    <li>
                        <a href="#">Новостройки</a>
                    </li>
                    <li>
                        <a href="#">Жилая</a>
                    </li>
                    <li>
                        <a href="#">Новостройки</a>
                    </li>
                    <li>
                        <a href="#">Новостройки</a>
                    </li>
                    <li>
                        <a href="#">Новостройки</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="offers__list">
            <div class="container">
                <div class="offers__slider">
                    <div class="offer">
                        <div class="offer__stock">
                            <div class="stock-1 stock">
                                <div class="stock__tooltip">
                                    <span>Скидка до 15%</span>
                                </div>
                                <img src="assets/img/stock-1.png" alt="">
                            </div>
                            <div class="stock-2 stock">
                                <img src="assets/img/stock-2.png" alt="">
                            </div>
                            <div class="stock-3 stock">
                                <img src="assets/img/stock-3.png" alt="">
                            </div>
                        </div>
                        <div class="offer__image">
                            <img src="assets/img/offer-1.png" alt="offer-1.png">
                            <img src="assets/img/offer-2.png" alt="offer-1.png">
                            <img src="assets/img/offer-3.png" alt="offer-1.png">
                        </div>
                        <a href="#" class="offer__info">
                            <div class="offer__social">
                                <span class="like">
                                </span>
                                <span class="compare">
                                </span>
                            </div>
                            <div class="offer__desc">
                                <span>Дом (Коттедж), 577кв.м на участке 16 сот.</span>
                            </div>
                            <div class="offer__adress">
                                <span>Московская обл, Одинцовский р-н, д. Семенково, КП "Азарово"</span>
                            </div>
                            <div class="offer__metro">
                                <span class="line-1">Кропоткинская</span>
                            </div>
                            <div class="offer__price">
                                <span class="rub">145 351 250 ₽</span>
                                <span class="us">2 595 559 $</span>
                            </div>
                        </a>
                    </div>
                    <div class="offer">
                        <div class="offer__stock">
                            <div class="stock-1 stock">
                                <div class="stock__tooltip">
                                    <span>Скидка до 15%</span>
                                </div>
                                <img src="assets/img/stock-1.png" alt="">
                            </div>
                            <div class="stock-2 stock">
                                <img src="assets/img/stock-2.png" alt="">
                            </div>
                            <div class="stock-3 stock">
                                <img src="assets/img/stock-3.png" alt="">
                            </div>
                        </div>
                        <div class="offer__image">
                            <img src="assets/img/offer-2.png" alt="offer-1.png">
                            <img src="assets/img/offer-1.png" alt="offer-1.png">
                            <img src="assets/img/offer-3.png" alt="offer-1.png">
                        </div>
                        <a href="#" class="offer__info">
                            <div class="offer__social">
                                <span class="like">
                                </span>
                                <span class="compare">
                                </span>
                            </div>
                            <div class="offer__desc">
                                <span>Дом (Коттедж), 577кв.м на участке 16 сот.</span>
                            </div>
                            <div class="offer__adress">
                                <span>Московская обл, Одинцовский р-н, д. Семенково, КП "Азарово"</span>
                            </div>
                            <div class="offer__metro">
                                <span class="line-2">Кропоткинская</span>
                            </div>
                            <div class="offer__price">
                                <span class="rub">145 351 250 ₽</span>
                                <span class="us">2 595 559 $</span>
                            </div>
                        </a>
                    </div>
                    <div class="offer">
                        <div class="offer__stock">
                            <div class="stock-1 stock">
                                <div class="stock__tooltip">
                                    <span>Скидка до 15%</span>
                                </div>
                                <img src="assets/img/stock-1.png" alt="">
                            </div>
                            <div class="stock-2 stock">
                                <img src="assets/img/stock-2.png" alt="">
                            </div>
                            <div class="stock-3 stock">
                                <img src="assets/img/stock-3.png" alt="">
                            </div>
                        </div>
                        <div class="offer__image">
                            <img src="assets/img/offer-3.png" alt="offer-1.png">
                            <img src="assets/img/offer-1.png" alt="offer-1.png">
                            <img src="assets/img/offer-2.png" alt="offer-1.png">
                        </div>
                        <a href="#" class="offer__info">
                            <div class="offer__social">
                                <span class="like">
                                </span>
                                <span class="compare">
                                </span>
                            </div>
                            <div class="offer__desc">
                                <span>Дом (Коттедж), 577кв.м на участке 16 сот.</span>
                            </div>
                            <div class="offer__adress">
                                <span>Московская обл, Одинцовский р-н, д. Семенково, КП "Азарово"</span>
                            </div>
                            <div class="offer__metro">
                                <span class="line-3">Кропоткинская</span>
                            </div>
                            <div class="offer__price">
                                <span class="rub">145 351 250 ₽</span>
                                <span class="us">2 595 559 $</span>
                            </div>
                        </a>
                    </div>
                    <div class="offer">
                        <div class="offer__stock">
                            <div class="stock-1 stock">
                                <img src="assets/img/stock-1.png" alt="">
                            </div>
                            <div class="stock-2 stock">
                                <img src="assets/img/stock-2.png" alt="">
                            </div>
                            <div class="stock-3 stock">
                                <img src="assets/img/stock-3.png" alt="">
                            </div>
                        </div>
                        <div class="offer__image"><img src="assets/img/offer-1.png" alt="offer-1.png"></div>
                        <a href="#" class="offer__info">
                            <div class="offer__social">
                                <span class="like">
                                </span>
                                <span class="compare">
                                </span>
                            </div>
                            <div class="offer__desc">
                                <span>Дом (Коттедж), 577кв.м на участке 16 сот.</span>
                            </div>
                            <div class="offer__adress">
                                <span>Московская обл, Одинцовский р-н, д. Семенково, КП "Азарово"</span>
                            </div>
                            <div class="offer__metro">
                                <span class="line-1">Кропоткинская</span>
                            </div>
                            <div class="offer__price">
                                <span class="rub">145 351 250 ₽</span>
                                <span class="us">2 595 559 $</span>
                            </div>
                        </a>
                    </div>
                    <div class="offer">
                        <div class="offer__stock">
                            <div class="stock-1 stock">
                                <img src="assets/img/stock-1.png" alt="">
                            </div>
                            <div class="stock-2 stock">
                                <img src="assets/img/stock-2.png" alt="">
                            </div>
                            <div class="stock-3 stock">
                                <img src="assets/img/stock-3.png" alt="">
                            </div>
                        </div>
                        <div class="offer__image"><img src="assets/img/offer-2.png" alt="offer-1.png"></div>
                        <a href="#" class="offer__info">
                            <div class="offer__social">
                                <span class="like">
                                </span>
                                <span class="compare">
                                </span>
                            </div>
                            <div class="offer__desc">
                                <span>Дом (Коттедж), 577кв.м на участке 16 сот.</span>
                            </div>
                            <div class="offer__adress">
                                <span>Московская обл, Одинцовский р-н, д. Семенково, КП "Азарово"</span>
                            </div>
                            <div class="offer__metro">
                                <span class="line-2">Кропоткинская</span>
                            </div>
                            <div class="offer__price">
                                <span class="rub">145 351 250 ₽</span>
                                <span class="us">2 595 559 $</span>
                            </div>
                        </a>
                    </div>
                    <div class="offer">
                        <div class="offer__stock">
                            <div class="stock-1 stock">
                                <img src="assets/img/stock-1.png" alt="">
                            </div>
                            <div class="stock-2 stock">
                                <img src="assets/img/stock-2.png" alt="">
                            </div>
                            <div class="stock-3 stock">
                                <img src="assets/img/stock-3.png" alt="">
                            </div>
                        </div>
                        <div class="offer__image"><img src="assets/img/offer-3.png" alt="offer-1.png"></div>
                        <a href="#" class="offer__info">
                            <div class="offer__social">
                                <span class="like">
                                </span>
                                <span class="compare">
                                </span>
                            </div>
                            <div class="offer__desc">
                                <span>Дом (Коттедж), 577кв.м на участке 16 сот.</span>
                            </div>
                            <div class="offer__adress">
                                <span>Московская обл, Одинцовский р-н, д. Семенково, КП "Азарово"</span>
                            </div>
                            <div class="offer__metro">
                                <span class="line-3">Кропоткинская</span>
                            </div>
                            <div class="offer__price">
                                <span class="rub">145 351 250 ₽</span>
                                <span class="us">2 595 559 $</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="offers__footer">
            <div class="container">
                <a href="#" class="go-to">Перейти в каталог</a>
            </div>
        </div>
    </div>
</section>
<section id="services" class="s-services">
    <div class="container">
        <div class="services">
            <div class="services__title">
                <h3>Услуги</h3>
            </div>
            <div class="services__content">
                <div id="tabs" class="services__tabs tabs">
                    <ul class="tabs-nav">
                        <li class="tab">
                            <a href="#tabs-1" class="tabs-anchor">Собственникам </a>
                        </li>
                        <li class="tab">
                            <a href="#tabs-2" class="tabs-anchor">Покупателям</a>
                        </li>
                        <li class="tab">
                            <a href="#tabs-3" class="tabs-anchor">Арендаторам</a>
                        </li>
                        <li class="tab">
                            <a href="#tabs-4" class="tabs-anchor">Ипотека</a>
                        </li>
                    </ul>
                    <div id="tabs-1" class="tabs-panel">
                        <div class="grid-sizer"></div>
                        <div class="tabs-panel__item tabs-panel__item_left_0">
                            <span class="tabs-panel__title">Продать</span>
                            <ul class="tabs-panel__list">
                                <li>
                                    <a href="#">Квартиру/комнату</a>
                                </li>
                                <li>
                                    <a href="#">Дом/коттедж</a>
                                </li>
                                <li>
                                    <a href="#">Дачу Земельный</a>
                                </li>
                                <li>
                                    <a href="#">Коммерческу</a>
                                </li>
                                <li>
                                    <a href="#">Квартиру/комнату</a>
                                </li>
                                <li>
                                    <a href="#">Квартиру/комнату</a>
                                </li>
                                <li>
                                    <a href="#">Квартиру/комнату</a>
                                </li>
                                <li>
                                    <a href="#">Квартиру/комнату</a>
                                </li>
                                <li>
                                    <a href="#">Квартиру/комнату</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tabs-panel__item">
                            <span class="tabs-panel__title">Продать</span>
                            <ul class="tabs-panel__list">
                                <li>
                                    <a href="#">Квартиру/комнату</a>
                                </li>
                                <li>
                                    <a href="#">Дом/коттедж</a>
                                </li>
                                <li>
                                    <a href="#">Дачу Земельный</a>
                                </li>
                                <li>
                                    <a href="#">Коммерческу</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tabs-panel__item">
                            <span class="tabs-panel__title">Продать</span>
                            <ul class="tabs-panel__list">
                                <li>
                                    <a href="#">Квартиру/комнату</a>
                                </li>
                                <li>
                                    <a href="#">Дом/коттедж</a>
                                </li>
                                <li>
                                    <a href="#">Дачу Земельный</a>
                                </li>
                                <li>
                                    <a href="#">Коммерческу</a>
                                </li>
                                <li>
                                    <a href="#">Квартиру/комнату</a>
                                </li>
                                <li>
                                    <a href="#">Квартиру/комнату</a>
                                </li>
                                <li>
                                    <a href="#">Квартиру/комнату</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tabs-panel__item">
                            <span class="tabs-panel__title">Продать</span>
                            <ul class="tabs-panel__list">
                                <li>
                                    <a href="#">Квартиру/комнату</a>
                                </li>
                                <li>
                                    <a href="#">Дом/коттедж</a>
                                </li>
                                <li>
                                    <a href="#">Дачу Земельный</a>
                                </li>
                                <li>
                                    <a href="#">Коммерческу</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tabs-panel__item">
                            <span class="tabs-panel__title">Продать</span>
                            <ul class="tabs-panel__list">
                                <li>
                                    <a href="#">Квартиру/комнату</a>
                                </li>
                                <li>
                                    <a href="#">Дом/коттедж</a>
                                </li>
                                <li>
                                    <a href="#">Дачу Земельный</a>
                                </li>
                                <li>
                                    <a href="#">Коммерческу</a>
                                </li>
                                <li>
                                    <a href="#">Квартиру/комнату</a>
                                </li>
                                <li>
                                    <a href="#">Квартиру/комнату</a>
                                </li>
                                <li>
                                    <a href="#">Квартиру/комнату</a>
                                </li>
                                <li>
                                    <a href="#">Квартиру/комнату</a>
                                </li>
                                <li>
                                    <a href="#">Квартиру/комнату</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tabs-panel__item tabs-panel__item_left_0">
                            <span class="tabs-panel__title">Продать</span>
                            <ul class="tabs-panel__list">
                                <li>
                                    <a href="#">Квартиру/комнату</a>
                                </li>
                                <li>
                                    <a href="#">Дом/коттедж</a>
                                </li>
                                <li>
                                    <a href="#">Дачу Земельный</a>
                                </li>
                                <li>
                                    <a href="#">Коммерческу</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tabs-panel__item">
                            <span class="tabs-panel__title">Продать</span>
                            <ul class="tabs-panel__list">
                                <li>
                                    <a href="#">Квартиру/комнату</a>
                                </li>
                                <li>
                                    <a href="#">Дом/коттедж</a>
                                </li>
                                <li>
                                    <a href="#">Квартиру/комнату</a>
                                </li>
                                <li>
                                    <a href="#">Квартиру/комнату</a>
                                </li>
                                <li>
                                    <a href="#">Квартиру/комнату</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tabs-panel__item tabs-panel__item_left_0">
                            <span class="tabs-panel__title">Продать</span>
                            <ul class="tabs-panel__list">
                                <li>
                                    <a href="#">Квартиру/комнату</a>
                                </li>
                                <li>
                                    <a href="#">Дом/коттедж</a>
                                </li>
                                <li>
                                    <a href="#">Дачу Земельный</a>
                                </li>
                                <li>
                                    <a href="#">Коммерческу</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div id="tabs-2" class="tabs-panel">
                        <div class="grid-sizer"></div>
                        <div class="tabs-panel__item tabs-panel__item_left_0">
                            <span class="tabs-panel__title">Продать</span>
                            <ul class="tabs-panel__list">
                                <li>
                                    <a href="#">Квартиру/комнату</a>
                                </li>
                                <li>
                                    <a href="#">Дом/коттедж</a>
                                </li>
                                <li>
                                    <a href="#">Квартиру/комнату</a>
                                </li>
                                <li>
                                    <a href="#">Квартиру/комнату</a>
                                </li>
                                <li>
                                    <a href="#">Квартиру/комнату</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tabs-panel__item">
                            <span class="tabs-panel__title">Продать</span>
                            <ul class="tabs-panel__list">
                                <li>
                                    <a href="#">Квартиру/комнату</a>
                                </li>
                                <li>
                                    <a href="#">Дом/коттедж</a>
                                </li>
                                <li>
                                    <a href="#">Дачу Земельный</a>
                                </li>
                                <li>
                                    <a href="#">Коммерческу</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div id="tabs-3" class="tabs-panel">
                        <div class="grid-sizer"></div>
                        <div class="tabs-panel__item tabs-panel__item_left_0">
                            <span class="tabs-panel__title">Продать</span>
                            <ul class="tabs-panel__list">
                                <li>
                                    <a href="#">Квартиру/комнату</a>
                                </li>
                                <li>
                                    <a href="#">Дом/коттедж</a>
                                </li>
                                <li>
                                    <a href="#">Дачу Земельный</a>
                                </li>
                                <li>
                                    <a href="#">Коммерческу</a>
                                </li>
                                <li>
                                    <a href="#">Квартиру/комнату</a>
                                </li>
                                <li>
                                    <a href="#">Квартиру/комнату</a>
                                </li>
                                <li>
                                    <a href="#">Квартиру/комнату</a>
                                </li>
                                <li>
                                    <a href="#">Квартиру/комнату</a>
                                </li>
                                <li>
                                    <a href="#">Квартиру/комнату</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tabs-panel__item">
                            <span class="tabs-panel__title">Продать</span>
                            <ul class="tabs-panel__list">
                                <li>
                                    <a href="#">Квартиру/комнату</a>
                                </li>
                                <li>
                                    <a href="#">Дом/коттедж</a>
                                </li>
                                <li>
                                    <a href="#">Дачу Земельный</a>
                                </li>
                                <li>
                                    <a href="#">Коммерческу</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tabs-panel__item">
                            <span class="tabs-panel__title">Продать</span>
                            <ul class="tabs-panel__list">
                                <li>
                                    <a href="#">Квартиру/комнату</a>
                                </li>
                                <li>
                                    <a href="#">Дом/коттедж</a>
                                </li>
                                <li>
                                    <a href="#">Дачу Земельный</a>
                                </li>
                                <li>
                                    <a href="#">Коммерческу</a>
                                </li>
                                <li>
                                    <a href="#">Квартиру/комнату</a>
                                </li>
                                <li>
                                    <a href="#">Квартиру/комнату</a>
                                </li>
                                <li>
                                    <a href="#">Квартиру/комнату</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div id="tabs-4" class="tabs-panel">
                        <div class="grid-sizer"></div>
                        <div class="tabs-panel__item tabs-panel__item_left_0">
                            <span class="tabs-panel__title">Продать</span>
                            <ul class="tabs-panel__list">
                                <li>
                                    <a href="#">Квартиру/комнату</a>
                                </li>
                                <li>
                                    <a href="#">Дом/коттедж</a>
                                </li>
                                <li>
                                    <a href="#">Дачу Земельный</a>
                                </li>
                                <li>
                                    <a href="#">Коммерческу</a>
                                </li>
                                <li>
                                    <a href="#">Квартиру/комнату</a>
                                </li>
                                <li>
                                    <a href="#">Квартиру/комнату</a>
                                </li>
                                <li>
                                    <a href="#">Квартиру/комнату</a>
                                </li>
                                <li>
                                    <a href="#">Квартиру/комнату</a>
                                </li>
                                <li>
                                    <a href="#">Квартиру/комнату</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tabs-panel__item">
                            <span class="tabs-panel__title">Продать</span>
                            <ul class="tabs-panel__list">
                                <li>
                                    <a href="#">Квартиру/комнату</a>
                                </li>
                                <li>
                                    <a href="#">Дом/коттедж</a>
                                </li>
                                <li>
                                    <a href="#">Дачу Земельный</a>
                                </li>
                                <li>
                                    <a href="#">Коммерческу</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tabs-panel__item">
                            <span class="tabs-panel__title">Продать</span>
                            <ul class="tabs-panel__list">
                                <li>
                                    <a href="#">Квартиру/комнату</a>
                                </li>
                                <li>
                                    <a href="#">Дом/коттедж</a>
                                </li>
                                <li>
                                    <a href="#">Дачу Земельный</a>
                                </li>
                                <li>
                                    <a href="#">Коммерческу</a>
                                </li>
                                <li>
                                    <a href="#">Квартиру/комнату</a>
                                </li>
                                <li>
                                    <a href="#">Квартиру/комнату</a>
                                </li>
                                <li>
                                    <a href="#">Квартиру/комнату</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
</section>
<section id="eServices" class="s-eServices">
    <div class="container">
        <div class="eServices">
            <div class="eServices__title">
                <h3>Электронные сервисы</h3>
                <span>Получайте всю необходимую информацию об объекте недвижимости
                    <strong>он-лайн</strong>
                </span>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-xs-12">
                    <a href="#" class="btn-eServices">
                        <span>Ипотечный калькулятор</span>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-xs-12">
                    <a href="#" class="btn-eServices">
                        <span>Ипотечный калькулятор</span>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-xs-12">
                    <a href="#" class="btn-eServices">
                        <span>Ипотечный калькулятор</span>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-xs-12">
                    <a href="#" class="btn-eServices">
                        <span>Ипотечный калькулятор</span>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-xs-12">
                    <a href="#" class="btn-eServices">
                        <span>Ипотечный калькулятор</span>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-xs-12">
                    <a href="#" class="btn-eServices">
                        <span>Ипотечный калькулятор</span>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-xs-12">
                    <a href="#" class="btn-eServices">
                        <span>Ипотечный калькулятор</span>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-xs-12">
                    <a href="#" class="btn-eServices">
                        <span>Расчет налога на недвижимость</span>
                    </a>
                </div>
                <div class="btn-block">
                    <a href="#" class="btn-eServices btn-eServices_all">
                        <span>Все сервисы</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="advantages" class="s-advantages">
    <div class="container">
        <div class="advantages">
            <div class="advantages__title">
                <h3>Наши преимущества</h3>
            </div>
            <div class="advantages__slider">
                @@include('./template/_advantages-item.html', { 
                    "img": "assets/img/advantage-1.png",
                    "advantage": "10 лет успешной работы на рынке недвижимости",
                    "name": "" })
                @@include('./template/_advantages-item.html', {
                        "img": "assets/img/advantage-2.png",
                        "advantage": "10 лет успешной работы на рынке недвижимости",
                        "name": "" })
                @@include('./template/_advantages-item.html', {
                    "img": "assets/img/advantage-3.png",
                    "advantage": "10 лет успешной работы на рынке недвижимости",
                    "name": "" })
                @@include('./template/_advantages-item.html', {
                    "img": "assets/img/advantage-4.png",
                    "advantage": "10 лет успешной работы на рынке недвижимости",
                    "name": "Наши услуги сертифицированы по стандарту СТО РГР 021.01-02. Наш Наши услуги сертифицированы по стандарту СТО РГР 021.01-02. Наш" })
                @@include('./template/_advantages-item.html', {
                    "img": "assets/img/advantage-5.png",
                    "advantage": "10 лет успешной работы на рынке недвижимости",
                    "name": "Наши услуги сертифицированы по стандарту СТО РГР 021.01-02. Наш Наши услуги сертифицированы по стандарту СТО РГР 021.01-02. Наш" })
                @@include('./template/_advantages-item.html', {
                    "img": "assets/img/advantage-6.png",
                    "advantage": "10 лет успешной работы на рынке недвижимости",
                    "name": "Наши услуги сертифицированы по стандарту СТО РГР 021.01-02. Наш Наши услуги сертифицированы по стандарту СТО РГР 021.01-02. Наш" })
            </div>
        </div>
    </div>
</section>
<section id="comand" class="s-comand">
    <div class="s-comand__title">
        <div class="container">
            <h3>Команда</h3>
        </div>
    </div>
    <div class="s-comand__content">
        <div class="container">
            <div class="s-comand__slider">
                <div class="s-comand__card">
                    <img src="assets/img/card-1.png" alt="card">
                    <div class="card-info">
                        <span class="card-info__name"><strong>Евгений Елисеев</strong></span>
                        <span class="card-info__office">Генеральный директор</span>
                    </div>
                </div>
                <div class="s-comand__card">
                    <img src="assets/img/card-2.png" alt="card">
                    <div class="card-info">
                        <span class="card-info__name"><strong>Евгений Елисеев</strong></span>
                        <span class="card-info__office">Генеральный директор</span>
                    </div>
                </div>
                <div class="s-comand__card">
                    <img src="assets/img/card-3.png" alt="card">
                    <div class="card-info">
                        <span class="card-info__name"><strong>Евгений Елисеев</strong></span>
                        <span class="card-info__office">Генеральный директор</span>
                    </div>
                </div>
                <div class="s-comand__card">
                    <img src="assets/img/card-4.png" alt="card">
                    <div class="card-info">
                        <span class="card-info__name"><strong>Евгений Елисеев</strong></span>
                        <span class="card-info__office">Генеральный директор</span>
                    </div>
                </div>
                <div class="s-comand__card">
                    <img src="assets/img/card-1.png" alt="card">
                    <div class="card-info">
                        <span class="card-info__name"><strong>Евгений Елисеев</strong></span>
                        <span class="card-info__office">Генеральный директор</span>
                    </div>
                </div>
                <div class="s-comand__card">
                    <img src="assets/img/card-2.png" alt="card">
                    <div class="card-info">
                        <span class="card-info__name"><strong>Евгений Елисеев</strong></span>
                        <span class="card-info__office">Генеральный директор</span>
                    </div>
                </div>
                <div class="s-comand__card">
                    <img src="assets/img/card-3.png" alt="card">
                    <div class="card-info">
                        <span class="card-info__name"><strong>Евгений Елисеев</strong></span>
                        <span class="card-info__office">Генеральный директор</span>
                    </div>
                </div>
                <div class="s-comand__card">
                    <img src="assets/img/card-4.png" alt="card">
                    <div class="card-info">
                        <span class="card-info__name"><strong>Евгений Елисеев</strong></span>
                        <span class="card-info__office">Генеральный директор</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="review" class="s-review">
    <div class="s-review__title">
        <div class="container"><h3>Отзывы клиентов</h3></div>
    </div>
    <div class="s-review__content">
        <div class="container">
            <div class="s-review__slider">
                <a href="#" class="s-review__item">
                    @@include('./template/_review-item.html', {
                        "img": "assets/img/card-1.png",
                        "title": "Морева Надежда Викторовна",
                        "text": "Добрый день! Мне бы хотелось поблагодарить сотрудников агентства «Фридом».По рекомендации знакомых, которые пользовались услугами агентства и остались довольны",
                        "link": "Источник: <span>www.yell.ru</span>"
                    })
                    @@include('./template/_review-item.html', {
                        "img": "assets/img/card-6.png",
                        "title": "Ольга Борисовна",
                        "text": "Я покупала квартиру с ипотечным обременением. Юридическое сопровождение выполнялось понятно и быстро. Мне доходчиво разъяснили все этапы сделки и всё прошло как планировалось",
                        "link": "Источник: <span>www.yell.ru Мне доходчиво разъяснили Мне доходчиво разъяснили Мне доходчиво разъяснили Мне доходчиво разъяснили</span>"
                    })
                </a>
                <a href="#" class="s-review__item">
                    @@include('./template/_review-item.html', {
                        "img": "assets/img/card-5.png",
                        "title": "Морева Надежда Викторовна",
                        "text": "Добрый день! Мне бы хотелось поблагодарить сотрудников агентства«Фридом».По рекомендации знакомых, которые пользовались услугами агентства иостались довольны",
                        "link": "Источник: <span>www.yell.ru</span>"
                    })
                    @@include('./template/_review-item.html', {
                        "img": "assets/img/card-6.png",
                        "title": "Ольга Борисовна",
                        "text": "Я покупала квартиру с ипотечным обременением. Юридическое сопровождениевыполнялось понятно и быстро. Мне доходчиво разъяснили все этапы сделки и всё прошлокак планировалось",
                        "link": ""
                    })
                </a>
                <a href="#" class="s-review__item">
                    @@include('./template/_review-item.html', {
                        "img": "assets/img/card-5.png",
                        "title": "Морева Надежда Викторовна",
                        "text": "Добрый день! Мне бы хотелось поблагодарить сотрудников агентства«Фридом».По рекомендации знакомых, которые пользовались услугами агентства иостались довольны",
                        "link": "Источник: <span>www.yell.ru</span>"
                    })
                    @@include('./template/_review-item.html', {
                        "img": "assets/img/card-6.png",
                        "title": "Ольга Борисовна",
                        "text": "Я покупала квартиру с ипотечным обременением. Юридическое сопровождениевыполнялось понятно и быстро. Мне доходчиво разъяснили все этапы сделки и всё прошлокак планировалось",
                        "link": ""
                    })
                </a>
                <a href="#" class="s-review__item">
                    @@include('./template/_review-item.html', {
                        "img": "assets/img/card-7.png",
                        "title": "Морева Надежда Викторовна Морева Надежда ВикторовнаМорева Надежда ВикторовнаМорева Надежда ВикторовнаМорева Надежда ВикторовнаМорева Надежда ВикторовнаМорева Надежда Викторовна",
                        "text": "Добрый день! Мне бы хотелось поблагодарить сотрудников агентства«Фридом».По рекомендации знакомых, которые пользовались услугами агентства иостались довольны",
                        "link": "Источник: <span>www.yell.ru</span>"
                    })
                    @@include('./template/_review-item.html', {
                        "img": "assets/img/card-6.png",
                        "title": "Ольга Борисовна",
                        "text": "Я покупала квартиру с ипотечным обременением. Юридическое сопровождениевыполнялось понятно и быстро. Мне доходчиво разъяснили все этапы сделки и всё прошлокак планировалось",
                        "link": ""
                    })
                </a>
                <a href="#" class="s-review__item">
                    @@include('./template/_review-item.html', {
                        "img": "assets/img/card-5.png",
                        "title": "Морева Надежда Викторовна",
                        "text": "Добрый день! Мне бы хотелось поблагодарить сотрудников агентства«Фридом».Порекомендации знакомых, которые пользовались услугами агентства иостались довольны",
                        "link": "Источник: <span>www.yell.ru</span>"
                    })
                    @@include('./template/_review-item.html', {
                        "img": "assets/img/card-7.png",
                        "title": "Ольга Борисовна",
                        "text": "Я покупала квартиру с ипотечным обременением. Юридическоесопровождениевыполнялось понятно и быстро. Мне доходчиво разъяснили все этапы сделкии всё прошлокак планировалось",
                        "link": ""
                    })
                </a>
                <a href="#" class="s-review__item">
                    @@include('./template/_review-item.html', {
                        "img": "assets/img/card-5.png",
                        "title": "Морева Надежда Викторовна",
                        "text": "Добрый день! Мне бы хотелось поблагодарить сотрудников агентства«Фридом».Порекомендации знакомых, которые пользовались услугами агентства иостались довольны",
                        "link": "Источник: <span>www.yell.ru</span>"
                    })
                    @@include('./template/_review-item.html', {
                        "img": "assets/img/card-6.png",
                        "title": "Ольга Борисовна",
                        "text": "Я покупала квартиру с ипотечным обременением. Юридическоесопровождениевыполнялось понятно и быстро. Мне доходчиво разъяснили все этапы сделкии всё прошлокак планировалось",
                        "link": ""
                    })
                </a>
            </div>
        </div>
    </div>
    <div class="offers__footer s-review__footer">
        <div class="container">
            <a href="#" class="go-to">Смотреть все отзывы</a>
        </div>
    </div>
</section>
<section id="contacts" class="s-contacts">
    <div class="s-contacts__title">
        <div class="container">
            <h3>Контакты</h3>
        </div>
    </div>
    <div class="s-contacts__content">
        <div class="s-contacts__city">
            <div class="container">
                <div class="header_filter-item header_filter-city">
                    <div class="header_filter-item-wrap">
                        <span>Москва</span>
                        <img src="img/drop.png" alt="">
                    </div>
                    <div class="header_filter_select">
                        <div class="header-filter_select-wrap">
                            <ul>
                                <li>Москва</li>
                                <li>Московская область</li>
                                <li>Санкт-Петербург</li>
                                <li>Ростов-На-Дону</li>
                                <li>Сочи</li>
                                <li>Тульская область</li>
                                <li>Калининградская область</li>
                                <li>Краснодарский край</li>
                            </ul>
                        </div>
                    </div>
                    <div class="input_mask"></div>
                </div>
            </div>
        </div>
        <div class="s-contacts__list">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-lg-4">
                        <div class="s-contacts__contact">
                            <span class="text">Телефон общий (многоканальный):</span>
                            <a href="tel:" class="val">+7 495 191-16-1</a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-4 s-contacts__contact_2">
                        <div class="s-contacts__contact">
                            <span class="text">Телефон для консультаций по объектам в продаже (многоканальный)</span>
                            <a href="tel:" class="val">+7 495 191-16-1</a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-4">
                        <div class="s-contacts__contact">
                            <span class="text">E-mail</span>
                            <a href="mailto:" class="val">info@an-freedom.ru </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="s-contacts__adress">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-lg-4">
                        <div class="card">
                            <div class="card-head">
                                <h4 class="card-title">Офис «Киевская»</h4>
                            </div>
                            <div class="row">
                                <div class="card-body card-body-map col-xs-6 col-sm-6 col-md-6 col-lg-12">
                                    <p class="card-text">Москва, 2-й Вражский пер., д. 7,  м.«Киевская»</p>
                                    <!-- <a href="javascript:;" class="card-link card-link-map">Показать на карте</a> -->
                                </div>
                                <div class="card-body col-xs-6 col-sm-6 col-md-6 col-lg-12">
                                    <h4 class="card-title">Режим работы офиса:</h4>
                                    <p class="card-text"><span class="text">понедельник-пятница: 9:00-20:00</span><span class="text">суббота: гибкий график</span><span class="text">воскресенье: выходной</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-4">
                        <div class="card">
                            <div class="card-head">
                                <h4 class="card-title">Офис «Киевская»</h4>
                            </div>
                            <div class="row">
                                <div class="card-body card-body-map col-xs-6 col-sm-6 col-md-6 col-lg-12">
                                    <p class="card-text">Москва, 2-й Вражский пер., д.7,  м.«Киевская»</p>
                                    <!-- <a href="javascript:;" class="card-link card-link-map">Показать на карте</a> -->
                                </div>
                                <div class="card-body col-xs-6 col-sm-6 col-md-6 col-lg-12">
                                    <h4 class="card-title">Режим работы офиса:</h4>
                                    <p class="card-text"><span class="text">понедельник-пятница:9:00-20:00</span><span class="text">суббота: гибкий график</span><span class="text">воскресенье: выходной</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="#setBid" class="footer_application-btn">Связаться с нами</a>
            </div>
        </div>
    </div>
</section>
<section id="map" class="s-map" style="width: 100%; height: 549px;">
</section>
<section id="news" class="s-news">
    <div class="s-news__title">
        <div class="container">
            <h3>Новости</h3>
        </div>
    </div>
    <div class="s-news__content">
        @@include('./template/_news-item.html', {
            "name": "Минстрой: В России начали продвигать малоэтажное жилье",
            "text": "Я покупала квартиру с ипотечным обременением. Юридическоесопровождениевыполнялось понятно и     быстро. Мне доходчиво разъяснили все этапы сделкии всё прошлокак планировалось"
        })
        @@include('./template/_news-item.html', {
            "name": "Мень: Снижение объемов строительства может произойти в 2020 год",
            "text": "Объем строительства в 2018 году достигнет 80 миллионов квадратн Объем строительства в 2018     году достигнет 80 миллионов квадратн Объем строительства в 2018 году достигнет 80 миллионов квадратн     Объем строительства в 2018 году достигнет 80 миллионов квадратн"
        })
        @@include('./template/_news-item.html', {
            "name": "В 2018 году банки выделят на ипотеку рекордную сумму денег",
            "text": "Выдача ипотечных займов в 2018 году достигнет 1,6 миллиона кред Выдача ипотечных займов в 2018     году достигнет 1,6 миллиона кред"
        })
        @@include('./template/_news-item.html', {
            "name": "Названы страны, где можно хорошо заработать на покупке жилья   ",
            "text": "В 2017 году лучше всего цены на жилье росли в Сербии, Исландии В 2017 году лучше всего цены на     жилье росли в Сербии, Исландии В 2017 году лучше всего цены на жилье росли в Сербии, Исландии"
        })
    </div>
    <div class="s-news__footer offers__footer">
        <div class="container">
            <a href="#" class="go-to">Смотреть все новости</a>
        </div>
    </div>
</section>
<!-- END: index.html -->