<a href="#" class="s-news__item">
    <div class="container">
        <div class="item">
            <span class="badge item-badge">08.12.2017</span>
            <div href="#" class="item-link">@@name</div>
            <p class="item-text">@@text</p>
        </div>
    </div>
</a>