<div class="offer">
    <div class="offer__stock">
        <div class="stock-1 stock">
            <div class="stock__tooltip">
                <span>Скидка до 15%</span>
            </div>
            <img src="assets/img/stock-1.png" alt="">
        </div>
        <div class="stock-2 stock">
            <img src="assets/img/stock-2.png" alt="">
        </div>
        <div class="stock-3 stock">
            <img src="assets/img/stock-3.png" alt="">
        </div>
    </div>
    <div class="offer__image">
        <div class="offer__slider">
            <div><img src="@@img" alt="offer-1.png"></div>
            <div><img src="assets/img/offer-2.png" alt="offer-1.png"></div>
            <div><img src="assets/img/offer-1.png" alt="offer-1.png"></div>
        </div>
    </div>
    <a href="#" class="offer__info">
        <div class="offer__social">
            <object>
                <a href="#" class="like">
                </a>
                <a href="#" class="compare">
                </a>
            </object>
        </div>
        <div class="offer__desc">
            <span>Дом (Коттедж), 577кв.м на участке 16 сот.</span>
        </div>
        <div class="offer__adress">
            <span>Московская обл, Одинцовский р-н, д. Семенково, КП "Азарово"</span>
        </div>
        <div class="offer__metro">
            <span class="line-1">Кропоткинская</span>
        </div>
        <div class="offer__price">
            <span class="rub">145 351 250 ₽</span>
            <span class="us">2 595 559 $</span>
        </div>
    </a>
</div>