<div class="card">
    <div class="card-head">
        <div class="card-img" style="background-image: url(@@img); background-position: top center; background-repeat: no-repeat; background-size: cover;"></div>
        <h4 class="card-title">
            <span>@@title</span>
        </h4>
    </div>
    <div class="card-body">
        <p class="card-text">@@text</p>
        <p class="card-text_link">@@link</p>
    </div>
    <div class="card-arrow"></div>
</div>