<div class="card">
    <div class="card__header">
        <img class="card__image" src="@@img" alt="realty">
    </div>
    <div id="tabsCatStart-@@numId" class="card__body">
        <ul class="card__menu">
            <li class="card__item">
                <a href="#tabCatStart-@@numLink1" class="card__link">Продажа</a>
            </li>
            <li class="card__item">
                <a href="#tabCatStart-@@numLink2" class="card__link">Аренда</a>
            </li>
        </ul>
        <div class="card__title">@@title</div>
        <div id="tabCatStart-@@numLink1" class="card__content">
            <div class="card__title card__title_2">@@title</div>
            <div class="card__head">@@subtitle</div>
            <div class="card__title card__title_sm">Продажа</div>
            <div class="flex-fix">
                <ul class="card__list card__content_underline">
                    <li class="card__item">
                        <a href="#" class="card__link">
                            <span class="text">Офисы</span>
                            <span class="count">100</span>
                        </a>
                    </li>
                    <li class="card__item">
                        <a href="#" class="card__link">
                            <span class="text">Торговые помещения</span>
                            <span class="count">202</span>
                        </a>
                    </li>
                    <li class="card__item">
                        <a href="#" class="card__link">
                            <span class="text">Помещения свободного назначения</span>
                            <span class="count">189</span>
                        </a>
                    </li>
                    <li class="card__item">
                        <a href="#" class="card__link">
                            <span class="text">Склады</span>
                            <span class="count">56</span>
                        </a>
                    </li>
                    <li class="card__item">
                        <a href="#" class="card__link">
                            <span class="text">Здания</span>
                            <span class="count">70</span>
                        </a>
                    </li>
                    <li class="card__item">
                        <a href="#" class="card__link">
                            <span class="text">Земля для бизнеса</span>
                            <span class="count">100</span>
                        </a>
                    </li>
                    <li class="card__item">
                        <a href="#" class="card__link">
                            <span class="text">Инвестпроекты</span>
                            <span class="count">404</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="tabCatStart-@@numLink2" class="card__content">
            <div class="card__title card__title_2">@@title</div>
            <div class="card__head">@@subtitle1</div>
            <div class="card__title card__title_sm">Аренда</div>
            <div class="flex-fix">
                <ul class="card__list">
                    <li class="card__item">
                        <a href="#" class="card__link">
                            <span class="text">Офисы</span>
                            <span class="count">100</span>
                        </a>
                    </li>
                    <li class="card__item">
                        <a href="#" class="card__link">
                            <span class="text">Торговые помещения</span>
                            <span class="count">202</span>
                        </a>
                    </li>
                    <li class="card__item">
                        <a href="#" class="card__link">
                            <span class="text">Помещения свободного назначения</span>
                            <span class="count">189</span>
                        </a>
                    </li>
                    <li class="card__item">
                        <a href="#" class="card__link">
                            <span class="text">Склады</span>
                            <span class="count">56</span>
                        </a>
                    </li>
                    <li class="card__item">
                        <a href="#" class="card__link">
                            <span class="text">Здания</span>
                            <span class="count">70</span>
                        </a>
                    </li>
                    <li class="card__item">
                        <a href="#" class="card__link">
                            <span class="text">Земля для бизнеса</span>
                            <span class="count">100</span>
                        </a>
                    </li>
                    <li class="card__item">
                        <a href="#" class="card__link">
                            <span class="text">Инвестпроекты</span>
                            <span class="count">404</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>