/* BEGIN: infohelp media */
@media screen and (max-width: 991px) {
    .infohelp {
        padding: 50px 35px;

        &_content {
            padding: 0;
        }
    }
}

@media screen and (max-width: 860px) {
    .infohelp-wrapper.catalog-wrapper {
        padding-top: 0;

        .breadcrumb {
            margin: 0;
        }

        .breadcrumb-wrap {
            display: block;
            background-color: white;
            margin-bottom: 40px;

            ul {
                li {
                    position: relative;
                    display: none;

                    &:last-child {
                        display: block;
                        // padding-left: 20px;

                        &:before {
                            display: none;
                            position: absolute;
                            width: 7px;
                            height: 12px;
                            top: 22px;
                            left: 0;
                            background-image: url(../img/breadcrumb-reverse.png);
                            background-repeat: no-repeat;
                        }

                        a {
                            display: block;
                            color: #1e3946;
                            font-size: 18px;
                            font-weight: 400;
                            line-height: 18px;
                            padding: 20px 0;
                        }
                    }
                }
            }
        }
    }

    .infohelp {
        &_aside {
            display: none;
        }

        h3 {
            margin: 0;
            .toggle {
                display: inline-block;
            }
        }
        &_detail {
            margin-top: 35px;
        }
    }

}

@media screen and (max-width: 767px) {
    .infohelp {
        padding: 30px 20px;

        h3 {
            font-size: 18px;
            // margin-bottom: 35px;
        }
    }

    .infohelp-wrapper {
        .container {
            padding-left: 11px;
            padding-right: 11px;
        }

        &.catalog-wrapper {
            .breadcrumb-wrap {
                margin-bottom: 20px;
            }
        }
    }
}

/* END: infohelp media */