/* BEGIN: infohelp */
.infohelp-wrapper {
    background-color: #f6f6f6;
    padding-bottom: 50px;

    .breadcrumb-wrap {
        margin-bottom: 10px;

        ul li:last-child {
            display: none;
        }
    }
}

.infohelp {
    color: #202020;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    background: #fff;
    padding: 70px;

    h3 {
        position: relative;
        color: #1e3946;
        margin: 0 0 40px;
        .toggle {
            display: none;
            vertical-align: middle;
            width: 12px;
            height: 7px;
            background: url(../../img/drop.png) center center no-repeat;
            margin-bottom: 0;
            margin-left: 12px;
            &.rotate {
                transform: rotate(180deg);
            }
        }
    }

    h4 {
        margin: 25px 0;
    }

    p {
        margin-bottom: 25px;
    }

    a {
        display: block;
        font-size: 14px;
        font-weight: 400;
        color: #40a1c5;

        &:hover {
            color: #e43964;
        }
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        &.active {
            a {
                color: #e43964;
            }
        }
    }

    &_container {
        display: flex;
        flex-wrap: wrap;
    }

    &_aside,
    &_content {
        flex: 1 1 0;
        width: 100%;
        .calc {
            &_heading {
                margin-bottom: 25px;
            }
    
            &_subtitle {
                font-size: 16px;
                line-height: 18px;
            }
    
            &_body {
                padding: 0;
    
                form {
                    align-items: flex-end;
                }
            }
    
            &_data {
                &:not(:last-child) {
                    margin-bottom: 30px;
                }
    
                &-block {
                    max-width: 47%;
                    padding-right: 10%;
                }
    
                .val {
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 18px;
    
                    input[type=text] {
                        padding: 14px;
                    }
                }
            }
    
            &_result {
                margin-bottom: 38px;
    
                &-block {
                    max-width: 53%;
                    padding: 36px 36px 55px;
    
                    .btn-action {
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 18px;
                        padding: 12px;
    
                        .text {
                            &-1 {
                                display: none;
                            }
    
                            &-2 {
                                display: inline;
                            }
                        }
                    }
                }
    
                .key {
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 21px;
    
                    &--permonth {
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 18px;
                    }
                }
    
                .val {
                    font-size: 24px;
    
                    &--permonth {
                        font-size: 28px;
                    }
                }
            }
        }
        .calc_title h3 {
            text-align: left;
        }
        .calc {
            &_title {
                h3 {
                    margin-bottom: 10px;
                }
            }
    
            &_data {
                &-block {
                    max-width: none;
                    padding: 0;
                    margin-bottom: 35px;
                }
            }
    
            &_result {
                &-block {
                    max-width: none;
                    padding: 28px;
                }
            }
        }
    }

    &_aside {
        max-width: 257px;

        li {
            line-height: 32px;
        }
    }

    &_content {
        padding-left: 3.5%;
        padding-right: 3.5%;

        a {
            margin-bottom: 5px;
        }

        ul {
            margin-bottom: 25px;

            li {
                position: relative;
                padding-left: 17px;
                margin-bottom: 20px;

                &::before {
                    position: absolute;
                    display: block;
                    left: 0;
                    top: 11px;
                    content: '';
                    width: 10px;
                    height: 1px;
                    background-color: #e3315d;
                }
            }
        }
    }
    
}

.aside-menu {
    a {
        display: block;
        color: #40a1c5;

        &:hover {
            color: #e43964;
        }
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        &.active {
            a {
                color: #e43964;
            }
        }
    }
}

/* END: infohelp */
@import 'info-media';