/* BEGIN: services demand */
.srvs-demand {
    margin-bottom: 40px;
    &_name {
        display: inline-block;
        color: #1e3946;
        font-size: 18px;
        font-weight: 400;
        line-height: 32px;
        margin-bottom: 30px;

        &:active,
        &:focus,
        &:visited {
            color: #1e3946;
        }

        &.active {
            color: #28333d;
            font-size: 18px;
            font-weight: 700;
            line-height: 32px;

            span {
                border-bottom: none;
            }
        }

        span {
            border-bottom: 1px dashed #8e9fa8;
        }
    }

    &_tab {
        display: none;
        background-color: #f6f6f6;
        padding: 40px;
        margin-bottom: 40px;

        &>ul {
            margin-bottom: 40px;

            &>li {
                position: relative;
                font-size: 16px;
                font-weight: 300;
                line-height: 45px;
                color: #28333d;
                padding-left: 20px;

                &::before {
                    position: absolute;
                    display: block;
                    left: 0;
                    top: 22px;
                    content: '';
                    width: 10px;
                    height: 1px;
                    background-color: #e3315d;
                }
            }

        }
    }
}

/* END: services demand */