/* BEGIN: services header */
.srvs-header {
    overflow: hidden;
    h1 {
        color: white;
        margin-bottom: 60px;
        line-height: 1;
    }

    p {
        color: white;
        font-family: 'Roboto Light';
        font-size: 18px;
        font-weight: 300;
        line-height: 32px;
    }

    &_breadcrumbs {
        ul {
            list-style: none;
            padding: 0;

            li {
                display: inline-block;
                position: relative;
                color: white;
                font-family: 'Roboto Light';
                font-size: 16px;
                font-weight: 300;
                line-height: 18px;
                padding-right: 10px;

                &:not(:first-child) {
                    padding-left: 15px;
                    background: url(../img/breadcrumb.png) left center no-repeat;
                }
                a {
                    display: block;
                    color: white;
                }
            }
        }
    }

    &_block {
        padding-top: 60px;
    }

    &_btns {
        margin-top: 60px;
        margin-left: -28px;
        margin-right: -28px;
        margin-bottom: 60px;
        .btn-action {
            margin-bottom: 20px;
        }
        .btn-action {
            margin-left: 28px;
            margin-right: 28px;
        }
    }

    .header_wrap {
        height: auto;
        overflow: hidden;
    }

    .header_nav {
        margin-bottom: 60px;
    }
}

/* END: services header */