/* BEGIN: services media */


@media screen and (max-width: 1200px) {
    .srvs-header {
        h1 {
            font-size: 36px;
            margin-bottom: 25px;
        }

        p {
            font-size: 14px;
            font-weight: 300;
            line-height: 26px;
        }

        .header_nav {
            margin-bottom: 25px;
        }

        &_btns {
            margin-top: 25px;
        }
    }
}

@media screen and (max-width: 991px) {
    #credit {
        background-color: #fff;
        padding-bottom: 50px;
    }

    .calc {
        &_heading {
            margin-bottom: 25px;
        }

        &_subtitle {
            font-size: 16px;
            line-height: 18px;
        }

        &_body {
            padding: 0;

            form {
                align-items: flex-end;
            }
        }

        &_data {
            &:not(:last-child) {
                margin-bottom: 30px;
            }

            &-block {
                max-width: 47%;
                padding-right: 10%;
            }

            .val {
                font-size: 18px;
                font-weight: 400;
                line-height: 18px;

                input[type=text] {
                    padding: 14px;
                }
            }
        }

        &_result {
            margin-bottom: 38px;

            &-block {
                max-width: 53%;
                padding: 36px 36px 55px;

                .btn-action {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 18px;
                    padding: 12px;

                    .text {
                        &-1 {
                            display: none;
                        }

                        &-2 {
                            display: inline;
                        }
                    }
                }
            }

            .key {
                font-size: 14px;
                font-weight: 500;
                line-height: 21px;

                &--permonth {
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 18px;
                }
            }

            .val {
                font-size: 24px;

                &--permonth {
                    font-size: 28px;
                }
            }
        }
    }
}

@media screen and (max-width: 860px) {
    %mb40 {
        margin-bottom: 40px;
    }

    .srvs-header_btns {
        margin-top: 40px;
    }

    .srvs-header_btns .btn-action+.btn-action {
        margin-left: 40px;
    }

    .srvs-header_btns .btn-action {
        max-width: 271px;
    }

    .srvs-header {
        background-position: left top 100px;

        .header_mobile-top {
            z-index: 10;
            box-shadow: 0 0 5.3px 0.7px #cecece;
        }

        .header_wrap {
            height: 620px;
        }

        &_block {
            padding: 120px 55px 0;
        }

        &_breadcrumbs {
            position: absolute;
            width: 100%;
            top: 60px;
            left: 0;
            background-color: white;

            ul {
                li {
                    display: none;

                    &:last-child {
                        display: block;
                        background-image: url(../img/breadcrumb-reverse.png);
                        background-position: 0 22px;

                        a {
                            color: #1e3946;
                            font-family: 'Roboto Regular';
                            font-size: 18px;
                            font-weight: 400;
                            line-height: 18px;
                            padding: 20px 0 10px;
                        }
                    }
                }
            }
        }
    }

    .btn-action--default,
    .btn-action--view {
        max-width: 271px;
        padding: 14px;
    }

    .services-wrapper,
    .srvs-header {
        h3 {
            font-size: 26px;
            font-weight: 700;
            margin-bottom: 25px;
        }

        h4 {
            font-size: 16px;
            font-weight: 500;
        }

        h5 {
            font-size: 14px;
            font-weight: 400;
        }

        .section,
        .section--bg1 {
            padding: 40px 0 0;
        }

        .s-advantages {
            padding-bottom: 40px;
        }
    }

    .srvs-steps {
        margin-bottom: 40px;
    }

    .srvs-steps_list {
        margin-bottom: 40px;

        h4 {
            margin: 0;
        }

        li {
            margin-bottom: 20px;

            &::before {
                font-size: 16px;
            }
        }

        p {
            font-size: 14px;
            font-weight: 300;
        }
    }

    .srvs-price {
        @extend %mb40;

        &_name {
            font-size: 16px;
            font-weight: 400;
            line-height: 32px;
            padding: 15px 15px 15px 55px;

            &::before,
            &::after {
                top: 28px;
                left: 15px;
            }
        }

        &_table {
            &:not(:last-child) {
                margin-bottom: 20px;
            }

            &-cell {
                padding: 15px;
            }
        }

        &_feature {
            &:not(:last-child) {
                margin-bottom: 20px;
            }

            &s {
                p {
                    font-size: 14px;
                    font-weight: 300;
                    line-height: 21px;
                }
            }
        }

        &_list {
            @extend %mb40;
        }
    }

    .srvs-demand {
        margin-bottom: 15px;

        &_name {
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            margin-bottom: 25px;

            &.active {
                font-size: 14px;
                line-height: 21px;
            }
        }

        &_list {
            margin-bottom: 15px;
            ;
        }

        &_tab {
            padding: 20px;

            ul {
                li {
                    font-size: 14px;
                    font-weight: 300;
                    line-height: 21px;
                    margin-bottom: 25px;

                    &::before {
                        top: 10px;
                    }
                }
            }
        }
    }

    .srvs-request {
        &_advert {
            padding: 40px;
            margin-bottom: 40px;
        }

        &_title {
            @extend %mb40;
            text-align: left;
        }

        &_form {
            padding: 40px;
            margin-bottom: 0;

            &.container {
                max-width: none;
            }

            form {
                max-width: none;
            }

            .input-wrap {
                @extend %mb40;
            }

            &-footer {
                .footer_dispatch-checkbox {
                    max-width: 50%;
                    text-align: left;
                }
            }

            [type=submit],
            button {
                width: 272px;
            }
        }
    }

    .advert {
        &_person {
            &-img {
                width: 150px;
                height: 120px;
            }

            &-name {
                font-size: 18px;
                font-weight: 400;
                line-height: 32px;
            }

            &-position {
                font-size: 14px;
                font-weight: 400;
            }

            &-tel {
                font-size: 18px;
                font-weight: 400;
                line-height: 32px;
            }
        }

        &_title {
            font-size: 26px;
            font-weight: 700;
            margin-bottom: 20px;
        }

        &_info {
            p {
                font-size: 18px;
                font-weight: 400;
            }
        }
    }

    #desc {
        display: block;
    }

    .srvs-desc {

        &_title,
        &_text {
            color: #484848;
            line-height: 21px;
        }

        &_title {
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 25px;
        }

        &_text {
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 40px;
        }
    }

    .calc_title h3 {
        text-align: left;
    }

    .srvs-price_print {
        display: none;
        top: 15px;
        right: 15px;
        line-height: normal;
    }

    .srvs-price_print a::before {
        top: 0;
    }
}

@media screen and (max-width: 767px) {
    .btn-action {
        max-width: none;
        width: 100%;
        font-size: 16px;
        font-weight: 500;
        line-height: 18px;
    }

    .services-wrapper,
    .srvs-header {
        h1 {
            font-size: 32px;
        }

        h3 {
            font-size: 26px;
            text-align: left;
        }

        h4 {
            font-size: 16px;
        }

        h5 {
            font-size: 14px;
        }
    }

    .srvs {
        &-header {
            &_block {
                padding: 80px 0 50px;
            }

            &_btns {
                margin-top: 49px;
            }

            .header_wrap {
                height: 744px;
            }

            p {
                max-width: 100%;
                max-height: 250px;
                font-family: 'Roboto Light';
                font-size: 14px;
                font-weight: 300;
                line-height: 26px;
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-line-clamp: 9;
                -webkit-box-orient: vertical;
                display: -webkit-box;
            }

            .btn-action {
                max-width: none;
                font-size: 16px;
                font-weight: 500;
                line-height: 18px;
                margin: 0;

                &+.btn-action {
                    margin-left: 0;
                }

                &:not(:last-child) {
                    margin-bottom: 23px;
                }
            }
        }

        &-steps {
            h4 {
                line-height: 21px;
                margin-bottom: 5px;
            }

            p {
                font-family: "Roboto Light";
                line-height: 21px;
            }
        }

        &-price {
            &_item {
                margin-bottom: 15px;
            }

            &_name {
                line-height: normal;

                &::before,
                &::after {
                    top: 23px;
                }
            }

            &_list {
                margin-bottom: 35px;
            }
        }

        &-demand {
            &_tab {
                &>ul {
                    margin-bottom: 0;

                    li {
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }

                form {
                    display: none;
                }
            }
        }

        &-request {
            &_advert {
                padding: 0;
            }

            &_form {
                padding: 40px 25px;

                &-footer {
                    .footer_dispatch-checkbox {
                        flex: 1 1 auto;
                        max-width: none;
                        font-weight: 400;
                        margin-bottom: 30px;
                    }
                }

                button[type=submit] {
                    width: 100%;
                    height: 48px;
                    ;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 18px;
                    padding: 10px;
                }
            }
        }

        &-desc {

            &_title,
            &_text {
                color: #484848;
                line-height: 21px;
            }

            &_title {
                font-size: 18px;
                font-weight: 500;
                margin-bottom: 25px;
            }

            &_text {
                font-size: 14px;
                font-weight: 400;
                margin-bottom: 40px;
            }
        }
    }

    .calc {
        &_title {
            h3 {
                margin-bottom: 10px;
            }
        }

        &_data {
            &-block {
                max-width: none;
                padding: 0;
                margin-bottom: 35px;
            }
        }

        &_result {
            &-block {
                max-width: none;
                padding: 28px;
            }
        }
    }

    .advert {
        &_person {
            text-align: center;
            flex-direction: column;

            &-img {
                margin-bottom: 30px;
            }

            &-name {
                margin-bottom: 5px;
            }

            &-position {
                margin-bottom: 5px;
            }

            &-tel {
                a {
                    display: inline-block;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 32px;
                }
            }
        }

        &_title {
            font-size: 21px;
            font-weight: 700;
        }

        &_info {
            p {
                font-size: 16px;
                font-weight: 400;
                line-height: normal;
            }
        }
    }
}

@media print {

    header,
    footer,
    section:not(#price),
    .srvs-price_item:not(.print-wrap),
    .srvs-price> :not(.srvs-price_list):not(h3) {
        display: none;
    }
}

/* END: services media */