/* BEGIN: services price */
%flex {
    display: flex;
    flex-wrap: wrap;
}

.srvs-price {
    margin-bottom: 75px;

    &_tab {
        display: none;
    }

    &_list {
        margin-bottom: 60px;
    }

    &_item {
        position: relative;
        margin-bottom: 20px;
    }

    &_name {
        position: relative;
        display: block;
        color: #1e3946;
        font-family: 'Roboto Regular';
        font-size: 21px;
        font-weight: 400;
        line-height: 32px;
        background-color: #fff;
        padding: 20px 20px 20px 65px;
        transition: all 0.3s;

        &:hover,
        &:active,
        &:focus,
        &:visited {
            color: #1e3946;
        }

        &::before {
            position: absolute;
            content: '';
            top: 35px;
            left: 30px;
            width: 16px;
            height: 2px;
            background-color: #1e3946;
        }

        &::after {
            position: absolute;
            content: '';
            top: 35px;
            left: 30px;
            width: 16px;
            height: 2px;
            background-color: #1e3946;
            transform: rotate(90deg);
            transition: transform 0.5s;
        }

        &.active {
            font-weight: 700;

            &::after {
                transform: rotate(0deg);
            }
        }
    }

    &_table {
        background-color: #fff;

        &:not(:last-child) {
            margin-bottom: 60px;
        }

        &-heading {
            @extend %flex;
        }

        &-row {
            @extend %flex;
            border-top: 1px solid #f2f2f2;
        }

        &-cell {
            flex: 1 1 auto;
            max-width: 57%;
            color: #1e3946;
            font-size: 14px;
            font-weight: 400;
            padding: 28px;

            &:first-child {
                max-width: 43%;
            }
        }
    }

    &_features {

        p {
            color: #1e3946;
            font-family: 'Roboto Light';
            font-size: 16px;
            font-weight: 300;
            margin-bottom: 20px;
        }
    }

    &_feature {
        &:not(:last-child) {
            margin-bottom: 60px;
        }
    }

    &_print {
        position: absolute;
        top: 20px;
        right: 20px;
        background-color: #fff;
        line-height: 32px;
        z-index: 1;
        visibility: hidden;
        opacity: 0;
        transition: all 0.6s ease;

        a {
            position: relative;
            display: inline-block;
            color: #1e3946;
            padding-left: 30px;
            height: 20px;

            &::before {
                position: absolute;
                content: '';
                left: 0;
                top: 4px;
                display: block;
                background: #fff url(../img/printer.png) center center no-repeat;
                width: 20px;
                height: 20px;
                background-size: contain;
            }
        }
        &.active {
            visibility: visible;
            opacity: 1;
        }
    }
}

/* END: services price */