/* BEGIN: services request */
%pl15pr15 {
    padding-left: 15px;
    padding-right: 15px;
}

%ml15mr15 {
    margin-left: -15px;
    margin-right: -15px;
}

.srvs-request {
    &_advert {
        padding: 60px;
        margin-bottom: 60px;
    }

    &_form {
        background-color: #ffffff;
        border-radius: 2px;
        padding: 120px 25px;
        margin-bottom: 120px;

        form {
            width: 100%;
            max-width: 610px;
            margin: 0 auto;
        }

        input {
            width: 100%;
            height: 46px;
            border: 1px solid #b3b3b3;
            border-radius: 2px;
        }

        [type=submit],
        button {
            width: 195px;
            height: 57px;
            font-family: 'Roboto Medium';
            font-size: 18px;
            font-weight: 500;
            line-height: 18px;
            border-radius: 3px;
            border: none;
            padding: 18px;
        }

        .input-wrap {
            width: 100%;
            margin-bottom: 50px;
        }

        textarea {
            width: 100%;
            height: auto;
            color: #202020;
            border: 1px solid #b3b3b3;
            border-radius: 2px;

            &::-webkit-input-placeholder {
                color: #b6b6b6;
            }

            &::-moz-placeholder {
                color: #b6b6b6;
            }

            &:-ms-input-placeholder {
                color: #b6b6b6;
            }

            &::-ms-input-placeholder {
                color: #b6b6b6;
            }

            &::placeholder {
                color: #b6b6b6;
            }

            &:focus {
                box-shadow: 0 4px 12.7px 0.3px #cecedf;
            }

            &:focus::-webkit-input-placeholder {
                color: transparent;
            }

            &:focus::-moz-placeholder {
                color: transparent;
            }

            &:focus:-moz-placeholder {
                color: transparent;
            }

            &:focus:-ms-input-placeholder {
                color: transparent;
            }

            &:focus~label {
                display: block;
            }
        }

        &-footer {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .btn-send {
                width: 195px;
            }

            .footer_dispatch-checkbox {
                max-width: 60%;
            }
        }

        .header_filter-item {
            width: 100%;
            color: #1e3946;
            font-size: 16px;
            font-weight: 400;
            border: 1px solid #b3b3b3;
            border-radius: 2px;
        }
    }

    &_title {
        color: #1e3946;
        font-size: 26px;
        font-weight: 700;
        line-height: 23px;
        text-align: center;
        margin-bottom: 80px;
    }

    .header-filter_select-wrap {
        outline: 1px solid #fff;
    }
}

.advert {
    &_person {
        @extend %ml15mr15;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 25px;

        &-img {
            @extend %pl15pr15;
            width: 180px;
            height: 150px;
            text-align: center;
            border-radius: 50%;

            img {
                @extend %ml15mr15;
                max-width: 100%;
                max-height: 100%;
            }
        }

        &-info {
            @extend %pl15pr15;
            max-width: 250px;
            text-align: center;
        }

        &-name {
            font-size: 18px;
            font-weight: 400;
            line-height: 32px;
        }

        &-position {
            font-size: 14px;
            font-weight: 400;
        }

        &-tel {
            font-size: 18px;
            font-weight: 400;
            line-height: 32px;

            a {
                color: #ffffff;
                font-size: 18px;
                font-weight: 400;
                line-height: 32px;
                border-bottom: 1px dashed #ffffff;
            }
        }
    }

    &_info {
        text-align: center;

        p {
            font-size: 21px;
            font-weight: 400;
            line-height: 32px;
        }
    }

    &_title {
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 30px;
    }
}

/* BEGIN: 26-09 */
.advert_input {
    max-width: 242px;
    margin-left: auto;
    margin-right: auto;
}

.advert_input input.input-box {
    width: 100%;
    margin-bottom: 30px;
}

.advert_footer [type=submit].btn-send.active {
    background-color: #ef5b80;
    width: 100%;
    margin-bottom: 27px;
}

.advert_footer .footer_dispatch-checkbox label {
    color: #fff;
}

.advert_footer .footer_dispatch-checkbox label:before {
    top: 4px;
}

/* END: 26-09 */
/* END: services request */