/* BEGIN: steps */
.srvs-steps {
    margin-bottom: 60px;
    h3 {
        color: #ffffff;
    }

    &_list {
        h4 {
            position: relative;
            margin: 0 0 10px;
        }

        p {
            font-size: 16px;
            font-weight: 300;
            line-height: 26px;
        }

        li {
            position: relative;
            margin-bottom: 40px;
            &::before {
                position: absolute;
                top: 0;
                left: 0;
                font-size: 21px;
                font-weight: 500;
                line-height: 30px;

            }
        }
    }
    .btn-action {
        margin-top: 15px;
    }
}

/* END: steps */